body {
    padding-bottom: 20px;
    background: #212121;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.navbar {
    margin-bottom: 0px !important;
}

.margin-row {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 10px 4px 3px rgba(0,0,0,.6);
}

.how-container {
    background: #212121;
}

.how-title {
    color: white;
    font-size:5em ;
}

.text-section {
    color: white;
}

.text-color {
    
    color: white;
}

.icon-color {
    color: #448aff;
}

.img-how{
    max-width: 30%;
    max-height: 30%;
    margin-top: 30px;
}

.icon-size {
    font-size: 4em;
}

.icono-cli {
    color: #448aff;
    font-size: 50px;
    position: relative;
    top: 45px;
}

.ico-dis {
    color:#448aff;
    font-size: 50px;
}
.color {
    color: white;
}
