@font-face {
  font-family: FuturaStd-MediumOblique;
  src: url("~/Fuentes/FuturaStd-MediumOblique.otf");
}
@media screen and (max-width: 992px) {
  .material-icons:not(.nomarg) {
    margin-left: 10px;
  }
}
body {
  font-family: FuturaStd-MediumOblique;
  padding-bottom: 20px;
  background-color: #212121;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  width: 100%;
  margin: 0px 0px 0px 0px;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.navbar {
  margin-bottom: 0px !important;
}
.margin-row {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  box-shadow: 10px 4px 3px rgba(0, 0, 0, 0.6);
}
.how-container {
  background: #212121;
}
.how-title {
  color: white;
  font-size: 5em;
}
.text-section {
  color: white;
}
.text-color {
  color: white;
}
.icon-color {
  color: #448aff;
}
.img-how {
  max-width: 30%;
  max-height: 30%;
  margin-top: 30px;
}
.img-center-how {
  max-width: 40%;
  max-height: 40%;
  position: absolute;
}
#img-est {
  top: 2%;
  left: 12%;
}
#img-diag {
  top: 22%;
  left: 62%;
}
#img-imp {
  top: 46%;
  left: 0px;
}
#img-cre {
  top: 69%;
  left: 48%;
}
.icon-size {
  font-size: 4em;
}
.icono-cli {
  color: #448aff;
  font-size: 50px;
  position: relative;
  top: 45px;
}
.ico-dis {
  color: #448aff;
  font-size: 50px;
}
.color {
  color: white;
}
.img-blog {
  width: 100%;
  min-height: 100%;
}
.blog-row {
  margin-top: 50px;
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.margen {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.btn-articulos {
  height: 40px;
  background: gray;
  color: white;
  text-align: center;
  box-shadow: 10px 10px 10px black;
}
.row-eq-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.logo-blog {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.arriba {
  padding-top: 100px;
}
.clientes-top {
  padding-top: 180px;
}
.titulo-serv {
  margin-top: 40px;
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
}
@media screen and (max-width: 535px) {
  .titulo-serv {
    font-size: 50px;
  }
}
.titulo-encab {
  display: inline;
  color: #ffab40;
  font-weight: bold;
  font-size: 35px;
}
@media screen and (max-width: 535px) {
  .titulo-encab {
    font-size: 25px;
  }
}
.div-servicios p {
  color: #ffffff;
}
@media screen and (max-width: 535px) {
  .div-servicios p {
    font-size: 15px;
  }
}
.flecha-servicios {
  display: inline;
  color: white;
  font-size: 30px;
  background: #448aff;
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin-left: 15px;
}
.flecha-servicios-2 {
  display: inline;
  color: white;
  font-size: 60px;
  background: #448aff;
  border-radius: 50%;
  position: relative;
  bottom: 350px;
  margin-left: 180%;
}
@media screen and (max-width: 992px) {
  .flecha-servicios-2 {
    bottom: 310px;
    margin-left: 80%;
  }
}
@media screen and (max-width: 710px) {
  .flecha-servicios-2 {
    font-size: 30px;
    bottom: 140px;
    margin-left: 40%;
  }
}
@media screen and (max-width: 500px) {
  .flecha-servicios-2 {
    font-size: 20px;
    bottom: 71px;
    margin-left: 40%;
  }
}
.algo-emocional {
  margin-left: 65%;
  margin-top: -46%;
}
.algo-emocional h3 {
  position: relative;
  font-size: 12px;
  color: #ffffff;
}
.algo-emocional p {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (max-width: 1300px) {
  .algo-emocional {
    visibility: hidden;
  }
}
.algo-emocional-2 {
  position: relative;
  left: 880px;
  bottom: 500px;
}
.algo-emocional-2 h3 {
  position: relative;
  font-size: 12px;
  color: #ffffff;
}
.algo-emocional-2 p {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (max-width: 1260px) {
  .algo-emocional-2 {
    visibility: hidden;
  }
}
.algo-emocional-3 {
  position: relative;
}
.algo-emocional-3 h3 {
  position: relative;
  font-size: 12px;
  color: #ffffff;
}
.algo-emocional-3 p {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.gray {
  filter: grayscale(100%);
}
.cuadros-serv {
  width: 600px;
  position: relative;
  top: 90px;
  margin-top: -60%;
  margin-left: -11%;
}
@media screen and (max-width: 992px) {
  .cuadros-serv {
    visibility: hidden;
  }
}
.cuadros-serv-2 {
  width: 600px;
  margin-left: 50%;
}
@media screen and (max-width: 815px) {
  .cuadros-serv-2 {
    visibility: hidden;
  }
}
.tamano-flor {
  width: 200px;
}
@media screen and (max-width: 1200px) {
  .tamano-flor {
    width: 180px;
  }
}
@media screen and (max-width: 710px) {
  .tamano-flor {
    width: 100px;
  }
}
@media screen and (max-width: 500px) {
  .tamano-flor {
    width: 50px;
  }
}
.img-innovacion {
  margin-top: -15%;
  margin-left: 30%;
}
@media screen and (max-width: 1200px) {
  .img-innovacion {
    margin-top: -55%;
  }
}
@media screen and (max-width: 992px) {
  .img-innovacion {
    margin-top: 0%;
    margin-left: 90%;
  }
}
.img-innovacion:hover {
  filter: grayscale(0%);
}
.img-estrategia {
  margin-top: -56%;
  margin-left: -51%;
}
@media screen and (max-width: 992px) {
  .img-estrategia {
    margin-left: 9%;
  }
}
.img-estrategia:hover {
  filter: grayscale(0%);
}
.img-marketing-mix {
  margin-top: -56%;
  margin-left: -53%;
}
@media screen and (max-width: 992px) {
  .img-marketing-mix {
    margin-left: 7%;
  }
}
.img-marketing-mix:hover {
  filter: grayscale(0%);
}
.img-shopper {
  margin-top: -45%;
  margin-left: 30%;
}
@media screen and (max-width: 992px) {
  .img-shopper {
    margin-left: 90%;
  }
}
.img-shopper:hover {
  filter: grayscale(0%);
}
.img-cmr {
  margin-top: -100%;
  margin-left: 114%;
}
@media screen and (max-width: 992px) {
  .img-cmr {
    margin-left: 174%;
  }
}
.img-cmr:hover {
  filter: grayscale(0%);
}
.img-neuromarketing {
  margin-top: -100%;
  margin-left: 110%;
}
@media screen and (max-width: 992px) {
  .img-neuromarketing {
    margin-left: 170%;
  }
}
.img-neuromarketing:hover {
  filter: grayscale(0%);
}
.img-logo {
  margin-top: -50%;
  margin-left: 30%;
}
@media screen and (max-width: 992px) {
  .img-logo {
    margin-left: 90%;
  }
}
.equipo h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
  position: relative;
  top: 50px;
}
@media screen and (max-width: 1260px) {
  .equipo h1 {
    top: 0px;
  }
}
@media screen and (max-width: 535px) {
  .equipo h1 {
    font-size: 50px;
    top: 0px;
  }
}
#div-equipo {
  height: 1350px;
  margin-top: -5%;
}
@media screen and (max-width: 1260px) and (min-width: 1200px) {
  #div-equipo {
    height: 2350px;
    margin-top: -23%;
  }
}
@media screen and (max-width: 1199px) {
  #div-equipo {
    height: 2350px;
    margin-top: 0%;
  }
}
.titulo-equipo {
  width: 500px;
  margin-top: -18%;
  margin-left: -3%;
}
@media screen and (max-width: 1260px) {
  .titulo-equipo {
    visibility: hidden;
  }
}
.nombre-equipo-1 {
  max-width: 370px;
}
.nombre-equipo-1 h1 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  bottom: 180px;
  left: 460px;
}
.nombre-equipo-1 h3 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  bottom: 190px;
  left: 460px;
}
.nombre-equipo-1 p {
  position: relative;
  color: #ffffff;
  bottom: 190px;
  left: 460px;
}
@media screen and (max-width: 815px) and (min-width: 201px) {
  .nombre-equipo-1 {
    position: relative;
    display: block;
    right: 440px;
    top: 160px;
  }
}
@media screen and (max-width: 460px) {
  .nombre-equipo-1 {
    position: relative;
    display: block;
    right: 440px;
    top: 160px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .nombre-equipo-1 {
    position: relative;
    display: block;
    right: 50px;
    top: 160px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .nombre-equipo-1 {
    position: relative;
    display: block;
    right: 440px;
    top: 160px;
  }
}
.nombre-equipo-2 {
  max-width: 370px;
}
.nombre-equipo-2 h1 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  bottom: 180px;
  left: 460px;
}
.nombre-equipo-2 h3 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  bottom: 190px;
  left: 460px;
}
.nombre-equipo-2 p {
  position: relative;
  color: #ffffff;
  bottom: 190px;
  left: 460px;
}
@media screen and (max-width: 815px) and (min-width: 201px) {
  .nombre-equipo-2 {
    position: relative;
    display: block;
    right: 1145px;
    top: 950px;
  }
}
@media screen and (max-width: 460px) {
  .nombre-equipo-2 {
    position: relative;
    display: block;
    right: 1145px;
    top: 950px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .nombre-equipo-2 {
    position: relative;
    display: block;
    right: 750px;
    top: 950px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .nombre-equipo-2 {
    position: relative;
    display: block;
    right: 1145px;
    top: 950px;
  }
}
.nombre-equipo-3 {
  max-width: 370px;
}
.nombre-equipo-3 h1 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  bottom: 180px;
  left: 460px;
}
.nombre-equipo-3 h3 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  bottom: 190px;
  left: 460px;
}
.nombre-equipo-3 p {
  position: relative;
  color: #ffffff;
  bottom: 190px;
  left: 460px;
}
@media screen and (max-width: 815px) and (min-width: 201px) {
  .nombre-equipo-3 {
    position: relative;
    display: block;
    right: 440px;
    top: 500px;
  }
}
@media screen and (max-width: 460px) {
  .nombre-equipo-3 {
    position: relative;
    display: block;
    right: 440px;
    top: 500px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .nombre-equipo-3 {
    position: relative;
    display: block;
    right: 50px;
    top: 500px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .nombre-equipo-3 {
    position: relative;
    display: block;
    right: 440px;
    top: 500px;
  }
}
.nombre-equipo-4 {
  max-width: 370px;
}
.nombre-equipo-4 h1 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  bottom: 180px;
  left: 460px;
}
.nombre-equipo-4 h3 {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  bottom: 190px;
  left: 460px;
}
.nombre-equipo-4 p {
  position: relative;
  color: #ffffff;
  bottom: 190px;
  left: 460px;
}
@media screen and (max-width: 815px) and (min-width: 201px) {
  .nombre-equipo-4 {
    position: relative;
    display: block;
    right: 1145px;
    top: 1280px;
  }
}
@media screen and (max-width: 460px) {
  .nombre-equipo-4 {
    position: relative;
    display: block;
    right: 1145px;
    top: 1280px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .nombre-equipo-4 {
    position: relative;
    display: block;
    right: 750px;
    top: 1280px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .nombre-equipo-4 {
    position: relative;
    display: block;
    right: 1145px;
    top: 1280px;
  }
}
.img-equipo-1 {
  position: relative;
  width: 450px;
  top: 40px;
  z-index: 1;
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .img-equipo-1 {
    width: 350px;
    left: 390px;
    top: 0px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .img-equipo-1 {
    width: 350px;
    position: relative;
    top: 0px;
  }
}
@media screen and (max-width: 815px) and (min-width: 201px) {
  .img-equipo-1 {
    position: relative;
    width: 350px;
    top: 0px;
  }
}
.img-equipo-1:hover {
  filter: grayscale(100%);
}
.img-equipo-2 {
  position: relative;
  width: 450px;
  top: 40px;
  z-index: 1;
}
@media screen and (max-width: 815px) {
  .img-equipo-2 {
    width: 350px;
    right: 695px;
    top: 790px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .img-equipo-2 {
    width: 350px;
    right: 310px;
    top: 790px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .img-equipo-2 {
    width: 350px;
    right: 695px;
    top: 790px;
  }
}
.img-equipo-2:hover {
  filter: grayscale(100%);
}
.img-equipo-3 {
  position: relative;
  width: 450px;
  top: 40px;
}
@media screen and (max-width: 815px) {
  .img-equipo-3 {
    width: 350px;
    left: 0px;
    top: 340px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .img-equipo-3 {
    width: 350px;
    left: 390px;
    top: 340px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .img-equipo-3 {
    width: 350px;
    left: 0px;
    top: 340px;
  }
}
.img-equipo-3:hover {
  filter: grayscale(100%);
}
.img-equipo-4 {
  position: relative;
  width: 450px;
  top: 40px;
}
@media screen and (max-width: 815px) {
  .img-equipo-4 {
    width: 350px;
    right: 695px;
    top: 1110px;
  }
}
@media screen and (max-width: 1260px) and (min-width: 993px) {
  .img-equipo-4 {
    width: 350px;
    right: 310px;
    top: 1110px;
  }
}
@media screen and (max-width: 992px) and (min-width: 816px) {
  .img-equipo-4 {
    width: 350px;
    right: 695px;
    top: 1110px;
  }
}
.img-equipo-4:hover {
  filter: grayscale(100%);
}
.img-logo-equipo {
  position: relative;
  width: 400px;
  left: 20px;
  bottom: 715px;
}
@media screen and (max-width: 1260px) {
  .img-logo-equipo {
    visibility: hidden;
  }
}
.sombra-foto {
  position: relative;
  bottom: 720px;
  left: 360px;
}
@media screen and (max-width: 1260px) {
  .sombra-foto {
    left: 700px;
  }
}
.div-personas-2 {
  position: relative;
  bottom: 760px;
}
@media screen and (max-width: 460px) {
  .div-personas-2 {
    bottom: 650px;
  }
}
.parte-equipo {
  background-color: #424242;
  box-shadow: 5px 5px 5px black;
}
.parte-equipo h2 {
  color: #ffffff;
}
@media screen and (max-width: 460px) {
  .parte-equipo h2 {
    font-size: 25px;
  }
}
.in {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  background-color: #202020;
  border-bottom: 2px solid #989898;
  border-radius: 0px;
  color: white;
}
.color-est {
  color: white;
}
.color-orange {
  color: #ff6e40;
}
.color-o {
  background-color: #ff6e40;
}
.color-ico-mas {
  color: black;
  background-color: #ff6e40;
  border-radius: 10px;
}
.img-flor {
  width: 190px;
}
@media screen and (max-width: 535px) {
  .img-flor {
    width: 100px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 990px) {
  .img-flor {
    width: 150px;
  }
}
.iconos-estrategia {
  width: 50px;
}
.content-iconos {
  margin-left: 4%;
}
.grayest {
  filter: grayscale(100%);
}
.flor-estrategia {
  margin-left: 23%;
}
.flor-estrategia #imagen-flor-6 {
  margin-top: 40%;
  margin-left: 50%;
}
.flor-estrategia #imagen-flor-6:hover {
  filter: grayscale(0%);
}
.flor-estrategia #imagen-flor-1 {
  margin-top: -20%;
  margin-left: 50%;
}
.flor-estrategia #imagen-flor-5 {
  margin-left: 122%;
  margin-top: -140%;
}
.flor-estrategia #imagen-flor-5:hover {
  filter: grayscale(0%);
}
.flor-estrategia #imagen-flor-7 {
  margin-left: -22%;
  margin-top: -100%;
}
.flor-estrategia #imagen-flor-7:hover {
  filter: grayscale(0%);
}
.flor-estrategia #imagen-flor-2 {
  margin-left: -21%;
  margin-top: -18%;
}
.flor-estrategia #imagen-flor-2:hover {
  filter: grayscale(0%);
}
.flor-estrategia #imagen-flor-3 {
  margin-left: 122%;
  margin-top: -101%;
}
.flor-estrategia #imagen-flor-3:hover {
  filter: grayscale(0%);
}
.flor-estrategia #imagen-flor-4 {
  margin-left: 50%;
  margin-top: -60%;
}
.flor-estrategia #imagen-flor-4:hover {
  filter: grayscale(0%);
}
.tam {
  font-size: 25px;
}
.estrategia-blanca {
  position: relative;
  background-color: white;
  margin: 0px 0px 0px 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-estrategia #imgflor2 {
  filter: grayscale(100%);
}
.menu-estrategia #imgflor2:hover {
  filter: grayscale(0%);
}
.menu-estrategia #imgflor3 {
  filter: grayscale(100%);
}
.menu-estrategia #imgflor3:hover {
  filter: grayscale(0%);
}
.menu-estrategia #imgflor4 {
  filter: grayscale(100%);
}
.menu-estrategia #imgflor4:hover {
  filter: grayscale(0%);
}
.menu-estrategia #imgflor5 {
  filter: grayscale(100%);
}
.menu-estrategia #imgflor5:hover {
  filter: grayscale(0%);
}
.menu-estrategia #imgflor6 {
  filter: grayscale(100%);
}
.menu-estrategia #imgflor6:hover {
  filter: grayscale(0%);
}
.menu-estrategia #imgflor7 {
  filter: grayscale(100%);
}
.menu-estrategia #imgflor7:hover {
  filter: grayscale(0%);
}
#encab-crecimiento {
  font-size: 55px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
@media screen and (max-width: 535px) {
  #encab-crecimiento {
    font-size: 30px;
  }
}
.crecimiento h3 {
  font-size: 30px;
  font-weight: bold;
  color: #ff6e40;
}
.crecimiento h4 {
  font-size: 25px;
  color: #ff6e40;
}
.crecimiento p {
  color: black;
}
.cita-crecimiento {
  position: relative;
  left: 40px;
}
.cita-crecimiento span {
  font-weight: bold;
  color: black;
}
.cita-crecimiento h3 {
  position: relative;
  font-size: 12px;
  color: black;
}
.cita-crecimiento p {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.desarrollo {
  position: relative;
  left: 40px;
}
@media screen and (max-width: 989px) {
  .desarrollo {
    margin-top: 0%;
    left: 0px;
  }
}
.desarrollo #desarrollo-insight {
  max-width: 300px;
}
@media screen and (max-width: 989px) {
  .desarrollo #desarrollo-insight {
    max-width: 100%;
  }
}
.desarrollo h3 {
  font-weight: bold;
  color: #ff6e40;
}
.desarrollo p {
  position: relative;
  margin-top: 0px;
  color: black;
}
.crecimiento-hex {
  position: relative;
  bottom: 30px;
}
@media screen and (max-width: 989px) {
  .crecimiento-hex {
    left: 20px;
  }
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .crecimiento-hex {
    left: 20px;
  }
}
@media screen and (max-width: 535px) {
  .crecimiento-hex {
    left: 0px;
  }
}
#tamano-hex {
  width: 190px;
}
@media screen and (max-width: 1295px) and (min-width: 990px) {
  #tamano-hex {
    position: relative;
    top: 60px;
    width: 150px;
  }
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  #tamano-hex {
    position: relative;
    top: 0px;
    width: 190px;
  }
}
@media screen and (max-width: 535px) {
  #tamano-hex {
    width: 100px;
  }
}
.img-crec {
  margin-top: -55%;
  margin-left: 50%;
}
.img-desarr {
  filter: grayscale(100%);
  margin-top: -54%;
  margin-left: -20%;
}
.img-desarr:hover {
  filter: grayscale(0%);
}
.img-diver {
  filter: grayscale(100%);
  margin-top: -63%;
  margin-left: 122%;
}
.img-diver:hover {
  filter: grayscale(0%);
}
.img-penetr {
  filter: grayscale(100%);
  margin-top: 60%;
  margin-left: 50%;
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .img-penetr {
    margin-top: 20%;
  }
}
.img-penetr:hover {
  filter: grayscale(0%);
}
.img-pic23 {
  filter: grayscale(100%);
  margin-top: -104%;
  margin-left: 120%;
}
.img-pic23:hover {
  filter: grayscale(0%);
}
.unicos h1 {
  font-size: 50px;
  color: #ff6e40;
}
@media screen and (max-width: 535px) {
  .unicos h1 {
    font-size: 40px;
  }
}
.unicos p {
  position: relative;
  margin-top: 0px;
  font-size: 28px;
  color: black;
}
.enumerado {
  position: relative;
  max-width: 300px;
  margin-top: 30px;
}
@media screen and (max-width: 989px) {
  .enumerado {
    max-width: 100%;
  }
}
.enumerado h1 {
  display: inline;
  color: #ff6e40;
}
.enumerado h3 {
  display: inline;
  color: #ff6e40;
}
.enumerado p {
  position: relative;
  margin-top: 10px;
  color: black;
}
.canvas {
  position: relative;
  left: 70px;
}
@media screen and (max-width: 989px) {
  .canvas {
    left: 0px;
  }
}
.crecimiento {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .crecimiento {
    max-width: 100%;
  }
}
.insight {
  position: relative;
}
#tamano-insights {
  width: 190px;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  #tamano-insights {
    position: relative;
    width: 160px;
  }
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  #tamano-insights {
    position: relative;
    width: 190px;
  }
}
@media screen and (max-width: 535px) {
  #tamano-insights {
    width: 100px;
  }
}
.grayins {
  filter: grayscale(100%);
}
.insights1 {
  margin-top: 110%;
  margin-left: -30%;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .insights1 {
    margin-top: 170%;
  }
}
@media screen and (max-width: 989px) {
  .insights1 {
    margin-top: 30%;
    margin-left: -10%;
  }
}
.insights1:hover {
  filter: grayscale(0%);
}
.insights2 {
  margin-top: -140%;
  margin-left: 110%;
}
@media screen and (max-width: 989px) {
  .insights2 {
    margin-left: 130%;
  }
}
.insights2:hover {
  filter: grayscale(0%);
}
.insights3 {
  margin-top: -60%;
  margin-left: 40%;
}
@media screen and (max-width: 989px) {
  .insights3 {
    margin-left: 60%;
  }
}
.insight-innovation {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .insight-innovation {
    max-width: 100%;
  }
}
.insight-innovation h3 {
  font-weight: bold;
  color: #ff6e40;
}
.insight-innovation p {
  color: black;
}
.cita-insight p {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.exploramos img {
  width: 270px;
}
.top-tres {
  padding-top: 65px;
}
.top-tres .par {
  font-weight: bold;
  color: #ff6e40;
}
.top-tres p {
  color: black;
}
.top-tres1 {
  padding-top: 75px;
}
.top-tres1 .par {
  font-weight: bold;
  color: #ff6e40;
}
.top-tres1 p {
  color: black;
}
.cazamos img {
  width: 270px;
}
.cazamos .content-cazamos .text-c {
  font-weight: bold;
  color: #ff6e40;
}
.cazamos .content-cazamos p {
  color: black;
}
.onnovation img {
  width: 270px;
}
.onnovation .text-o {
  font-weight: bold;
  color: #ff6e40;
}
.onnovation p {
  color: black;
}
.img-verdades img {
  width: 460px;
}
.planing {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .planing {
    max-width: 100%;
  }
}
.planing h3 {
  font-weight: bold;
  color: #ff6e40;
}
.planing p {
  color: black;
}
.img-planing img {
  width: 390px;
}
@media screen and (max-width: 535px) {
  .img-planing img {
    width: 300px;
  }
}
.disrupcion {
  max-width: 300px;
}
@media screen and (max-width: 989px) {
  .disrupcion {
    max-width: 100%;
  }
}
.disrupcion h3 {
  font-weight: bold;
  color: #ff6e40;
}
.disrupcion p {
  color: black;
}
.borde-insights {
  width: 80%;
  height: 2000px;
  margin-left: 59%;
}
@media screen and (max-width: 1290px) {
  .borde-insights {
    visibility: hidden;
  }
}
#tamano-sombrero {
  width: 190px;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  #tamano-sombrero {
    width: 160px;
  }
}
@media screen and (max-width: 989px) and (min-width: 750px) {
  #tamano-sombrero {
    width: 130px;
  }
}
@media screen and (max-width: 749px) and (min-width: 536px) {
  #tamano-sombrero {
    width: 100px;
  }
}
@media screen and (max-width: 535px) {
  #tamano-sombrero {
    width: 60px;
  }
}
.sombrero-lineas {
  width: 470px;
  position: relative;
  bottom: 115px;
  left: 590px;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .sombrero-lineas {
    width: 390px;
    bottom: 100px;
    left: 500px;
  }
}
@media screen and (max-width: 989px) and (min-width: 750px) {
  .sombrero-lineas {
    width: 290px;
    top: 22px;
    left: 330px;
  }
}
@media screen and (max-width: 749px) and (min-width: 536px) {
  .sombrero-lineas {
    width: 200px;
    top: 24px;
    left: 235px;
  }
}
@media screen and (max-width: 535px) {
  .sombrero-lineas {
    width: 100px;
    top: 25px;
    left: 140px;
  }
}
.sombrero-blanco {
  margin-top: -260%;
  margin-left: 235%;
}
@media screen and (max-width: 989px) and (min-width: 750px) {
  .sombrero-blanco {
    margin-top: -170%;
    margin-left: 175%;
  }
}
@media screen and (max-width: 749px) and (min-width: 536px) {
  .sombrero-blanco {
    margin-top: -150px;
    margin-left: 155%;
  }
}
@media screen and (max-width: 535px) {
  .sombrero-blanco {
    margin-top: -120%;
    margin-left: 155%;
  }
}
.sombrero-rojo {
  margin-top: -49%;
  margin-left: 157%;
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .sombrero-rojo {
    margin-left: 97%;
  }
}
@media screen and (max-width: 749px) {
  .sombrero-rojo {
    margin-left: 77%;
  }
}
.sombrero-verde {
  margin-top: -49%;
  margin-left: 235%;
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .sombrero-verde {
    margin-left: 175%;
  }
}
@media screen and (max-width: 749px) {
  .sombrero-verde {
    margin-left: 155%;
  }
}
.sombrero-azul {
  margin-top: -96%;
  margin-left: 78%;
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .sombrero-azul {
    margin-left: 18%;
  }
}
@media screen and (max-width: 749px) {
  .sombrero-azul {
    margin-left: -2%;
  }
}
.sombrero-negro {
  margin-top: -45%;
  margin-left: 157%;
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .sombrero-negro {
    margin-left: 97%;
  }
}
@media screen and (max-width: 749px) {
  .sombrero-negro {
    margin-left: 77%;
  }
}
.sombrero-amarillo {
  margin-top: -54%;
  margin-left: 78%;
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  .sombrero-amarillo {
    margin-left: 18%;
  }
}
@media screen and (max-width: 749px) {
  .sombrero-amarillo {
    margin-left: -2%;
  }
}
.sombreros-sombra {
  width: 400px;
  margin-top: -30%;
  margin-left: -20%;
}
@media screen and (max-width: 1200px) {
  .sombreros-sombra {
    visibility: hidden;
  }
}
.sombreros-sombra-2 {
  width: 300px;
  margin-top: -27%;
  margin-left: 90%;
}
@media screen and (max-width: 1290px) {
  .sombreros-sombra-2 {
    visibility: hidden;
  }
}
.modelo h4 {
  font-size: 20px;
  font-weight: bold;
  color: #ff6e40;
}
.modelo .content-modelo {
  max-width: 280px;
}
@media screen and (max-width: 989px) {
  .modelo .content-modelo {
    max-width: 100%;
  }
}
.modelo .content-modelo p {
  color: black;
}
.img-modelo {
  width: 500px;
}
.img-82 {
  width: 670px;
  margin-left: -10%;
  margin-top: -47%;
}
.img-embudo {
  width: 520px;
  margin-top: -5%;
  margin-left: 10%;
}
@media screen and (max-width: 989px) {
  .img-embudo {
    margin-top: 4%;
    margin-left: 0%;
  }
}
.img-home13 {
  width: 470px;
  margin-left: 15%;
  margin-top: 12%;
}
.tecnica h3 {
  font-weight: bold;
  color: #ff6e40;
}
.tecnica p {
  color: #c9bfd4;
  font-size: 20px;
}
.img-est-1 img {
  width: 850px;
}
.barra-fixed {
  position: fixed;
  z-index: 1000;
  top: 70px;
}
.grayomni {
  filter: grayscale(100%);
}
.triangulos-trasparentes {
  margin-top: -30%;
  margin-left: -8%;
}
.online {
  margin-top: 150%;
  margin-left: 30%;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .online {
    position: relative;
    margin-top: 240%;
  }
}
@media screen and (max-width: 989px) {
  .online {
    margin-top: 0%;
    margin-left: 70%;
  }
}
.online:hover {
  filter: grayscale(0%);
}
.offline {
  margin-top: -60%;
  margin-left: -40%;
}
@media screen and (max-width: 989px) {
  .offline {
    margin-left: 0%;
  }
}
.offline:hover {
  filter: grayscale(0%);
}
.tdl {
  margin-top: -100%;
  margin-left: 100%;
}
@media screen and (max-width: 989px) {
  .tdl {
    margin-left: 140%;
  }
}
.tdl:hover {
  filter: grayscale(0%);
}
.omnichannel {
  margin-top: -60%;
  margin-left: 30%;
}
@media screen and (max-width: 989px) {
  .omnichannel {
    margin-left: 70%;
  }
}
#variable-omnichannel {
  margin-left: 10%;
  margin-top: 10%;
  max-width: 300px;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  #variable-omnichannel {
    position: relative;
    margin-top: 0%;
  }
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  #variable-omnichannel {
    margin-top: -15%;
    max-width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 535px) {
  #variable-omnichannel {
    margin-top: -40%;
    max-width: 100%;
    margin-left: 0%;
  }
}
#tamano-omnichannel {
  width: 190px;
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  #tamano-omnichannel {
    position: relative;
    width: 160px;
  }
}
@media screen and (max-width: 989px) and (min-width: 536px) {
  #tamano-omnichannel {
    position: relative;
    width: 190px;
  }
}
@media screen and (max-width: 535px) {
  #tamano-omnichannel {
    width: 100px;
  }
}
.texto-offline {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .texto-offline {
    max-width: 100%;
  }
}
@media screen and (max-width: 989px) {
  .offline-container {
    margin-top: 0%;
  }
}
.img-markonline {
  margin-top: 30%;
  margin-left: 4%;
}
@media screen and (max-width: 989px) {
  .img-markonline {
    margin-top: 6%;
    margin-left: 0%;
    width: 500px;
  }
}
.engine {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .engine {
    max-width: 100%;
  }
}
.engine h3 {
  font-weight: bold;
  color: #ff6e40;
}
.engine .title {
  color: #ff6e40;
}
.engine p {
  color: black;
}
.search {
  margin-left: 30%;
}
@media screen and (min-width: 200px) and (max-width: 990px) {
  .search {
    margin-left: 5px;
  }
}
.search p {
  color: black;
}
.search h3 {
  color: #ff6e40;
}
.search .title {
  color: #ff6e40;
}
.img-google img {
  width: 400px;
}
.Advertising {
  margin-left: 30%;
}
@media screen and (min-width: 200px) and (max-width: 990px) {
  .Advertising {
    margin-left: 5px;
  }
}
.busines-inteligent {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .busines-inteligent {
    max-width: 100%;
  }
}
.busines-inteligent h3 {
  font-weight: bold;
  color: #ff6e40;
}
.busines-inteligent p {
  color: black;
}
.content-img-bsusines img {
  width: 400px;
}
.cita-busines {
  left: -10px;
  text-align: right;
  position: relative;
}
.cita-busines span {
  font-weight: bold;
  color: black;
}
.cita-busines p {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.wep-app {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .wep-app {
    max-width: 100%;
  }
}
.wep-app h3 {
  font-weight: bold;
  color: #ff6e40;
}
.wep-app p {
  color: black;
}
.content-img-web-app img {
  width: 400px;
}
@media screen and (max-width: 989px) {
  .tdl2 {
    margin-top: 5%;
  }
}
.kicker {
  margin-top: -60%;
}
@media screen and (max-width: 989px) {
  .kicker {
    margin-top: 5%;
  }
}
.kicker #texto-kicker {
  max-width: 300px;
}
@media screen and (max-width: 989px) {
  .kicker #texto-kicker {
    max-width: 100%;
  }
}
.img-tdlkicker {
  width: 100%;
}
@media screen and (max-width: 989px) {
  .img-tdlkicker {
    width: 70%;
  }
}
.interaccion {
  margin-top: -15%;
  margin-left: 54%;
}
@media screen and (max-width: 989px) {
  .interaccion {
    margin-top: 10%;
    margin-left: 0%;
  }
}
.interaccion #interaccion-enumerado {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .interaccion #interaccion-enumerado {
    width: 100%;
  }
}
.interaccion #interaccion-enumerado h4 {
  display: inline;
  font-weight: 100;
  color: #ff6e40;
}
.interaccion h4 {
  font-weight: bold;
  color: #ff6e40;
}
.interaccion p {
  text-align: left;
  position: relative;
  display: inline;
  margin-top: 0px;
  color: black;
}
.buenaspracticas h1 {
  font-size: 40px;
  color: #ff6e40;
}
@media screen and (max-width: 535px) {
  .buenaspracticas h1 {
    font-size: 30px;
  }
}
.buenaspracticas p {
  position: relative;
  margin-top: 0px;
  font-size: 28px;
  color: black;
}
#buenaspracticas-enumerado {
  margin-top: 10%;
  max-width: 200px;
  margin-left: -10%;
}
@media screen and (max-width: 989px) {
  #buenaspracticas-enumerado {
    width: 100%;
    margin-top: 0%;
    margin-left: 20%;
  }
}
#buenaspracticas-enumerado h4 {
  display: inline;
  font-weight: 100;
  color: #ff6e40;
}
#buenaspracticas-enumerado p {
  text-align: left;
  position: relative;
  display: inline;
  margin-top: 0px;
  color: black;
}
#buenaspracticas-enumerado img {
  width: 100px;
  margin-left: 15%;
}
#buenasp {
  margin-top: 5%;
  margin-left: 10%;
  max-width: 200px;
}
@media screen and (max-width: 989px) {
  #buenasp {
    width: 100%;
    margin-top: 0%;
    margin-left: 20%;
  }
}
#buenasp h4 {
  display: inline;
  font-weight: 100;
  color: #ff6e40;
}
#buenasp p {
  text-align: left;
  position: relative;
  display: inline;
  margin-top: 0px;
  color: black;
}
#buenasp img {
  width: 100px;
  margin-left: 15%;
}
.mobile-marketing {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .mobile-marketing {
    max-width: 100%;
  }
}
.mobile-marketing h3 {
  font-weight: bold;
  color: #ff6e40;
}
.mobile-marketing p {
  color: black;
}
.content-img-mobile-marketing img {
  width: 400px;
}
.email-marketing {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .email-marketing {
    max-width: 100%;
  }
}
.email-marketing h3 {
  font-weight: bold;
  color: #ff6e40;
}
.email-marketing p {
  color: black;
}
.content-img-email-marketing img {
  width: 400px;
}
.titulo-marcas {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}
.estrategia-marcas-blancas {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .estrategia-marcas-blancas {
    max-width: 100%;
  }
}
.estrategia-marcas-blancas h3 {
  font-weight: bold;
  color: #ff6e40;
}
.estrategia-marcas-blancas p {
  color: black;
}
.cita-marcas {
  max-width: 330px;
  left: 20px;
  text-align: right;
  position: relative;
}
.cita-marcas span {
  font-weight: bold;
  color: black;
}
.cita-marcas p {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.texto-estrategia-marcas {
  color: black;
  max-width: 330px;
  margin-left: 30px;
}
@media screen and (max-width: 989px) {
  .texto-estrategia-marcas {
    max-width: 100%;
  }
}
.img-flor-marca {
  width: 190px;
}
@media screen and (max-width: 535px) {
  .img-flor-marca {
    width: 100px;
  }
}
@media screen and (max-width: 1340px) and (min-width: 990px) {
  .img-flor-marca {
    width: 138px;
  }
}
.grayest-m {
  filter: grayscale(100%);
}
.flor-marcas #marca-flor-6 {
  margin-top: 40%;
  margin-left: 50%;
}
.flor-marcas #marca-flor-6:hover {
  filter: grayscale(0%);
}
.flor-marcas #marca-flor-1 {
  margin-top: -20%;
  margin-left: 50%;
}
.flor-marcas #marca-flor-5 {
  margin-left: 122%;
  margin-top: -135%;
}
.flor-marcas #marca-flor-5:hover {
  filter: grayscale(0%);
}
.flor-marcas #marca-flor-7 {
  margin-left: -22%;
  margin-top: -94%;
}
.flor-marcas #marca-flor-7:hover {
  filter: grayscale(0%);
}
.flor-marcas #marca-flor-2 {
  margin-left: -22%;
  margin-top: -18%;
}
.flor-marcas #marca-flor-2:hover {
  filter: grayscale(0%);
}
.flor-marcas #marca-flor-3 {
  margin-left: 122%;
  margin-top: -102%;
}
.flor-marcas #marca-flor-3:hover {
  filter: grayscale(0%);
}
.flor-marcas #marca-flor-4 {
  margin-left: 50%;
  margin-top: -53%;
}
.flor-marcas #marca-flor-4:hover {
  filter: grayscale(0%);
}
.cita-bajo-marcas {
  margin-top: -20px;
  max-width: 360px;
  text-align: left;
}
@media screen and (max-width: 989px) {
  .cita-bajo-marcas {
    max-width: 100%;
  }
}
.cita-bajo-marcas span {
  font-weight: bold;
  color: black;
}
.cita-bajo-marcas p {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.texto-journey {
  max-width: 350px;
}
@media screen and (max-width: 989px) {
  .texto-journey {
    max-width: 100%;
  }
}
.texto-journey h3 {
  font-weight: bold;
  color: #ff6e40;
}
.texto-journey p {
  color: black;
}
.img-phanton {
  width: 300px;
  margin-left: 210px;
  margin-top: 40px;
}
@media screen and (max-width: 1100px) and (min-width: 990px) {
  .img-phanton {
    margin-left: 116px;
  }
}
@media screen and (min-width: 200px) and (max-width: 889px) {
  .img-phanton {
    margin-left: 5px;
  }
}
.phantom-cita {
  text-align: right;
}
.phantom-cita span {
  font-weight: bold;
  color: black;
}
.phantom-cita p {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: right;
}
.cita-latam {
  left: -10px;
  text-align: right;
  position: absolute;
  margin-top: 360px;
}
.cita-latam span {
  font-weight: bold;
  color: black;
}
.cita-latam p {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.table-serv {
  margin-top: 10px;
}
.table-serv tbody > tr > td {
  border: none;
  color: #f9f9f9;
}