<div class="content-mix">
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="~/Images/omarketing directorioblog-02.png" class="img-responsive" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="~/Images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" class="img-responsive" style="width:100%;"/>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h1 style="color:black;font-weight:bold">
                    El título del artículo
                    que debe ser
                </h1>
                <h3 style="color:black;font-weight:bold">
                    Por: Andrés Venegas
                </h3>
                <p>
                    Diciembre 2 de 2016
                </p>
                <h3 style="color:black;font-weight:bold">
                    Buscador de verdades humanas a través de Insights,
                    generando valor y oportunidades a las Relaciones
                    de Cuenta.
                </h3>
                <p>
                    Compartir
                </p>
                <img src="~/Images/omarketing redes.png" class="img-responsive" style="display:inline" />
                <img src="~/Images/omarketing redes.png" class="img-responsive" style="display:inline" />
                <img src="~/Images/omarketing redes.png" class="img-responsive" style="display:inline" />
            </div>
            <div class="col-lg-3 col-md-3 col-lg-offset-5 col-md-offset-5 visible-lg visible-md">
                <img src="~/Images/omarketing blog suscribete.png" class="img-responsive" style="float:right"/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <p class="p-general">
                    In 2015, Samsung released the Galaxy S6, a phone that was mostly about refinement. It
                    upped the company’s industrial-design chops, rolled back its previous tendency to add bloat
                    to the Android operating system, and ensured that the phone’s camera was among the best
                    the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy
                    S7, which refined the S6’s refinements.
                </p>
                <p class="p-general">
                    Today Samsung is launching the Galaxy S8 and S8+ (both of which already got leaked in
                    detail) at an event in New York, along with new versions of its Gear VR virtual-reality
                    headset and Gear 360 camera. Instead of piling more refinements on top of refinements of
                    refinements, these new models move onto new challenges, from upsizing their display sizes
                    in a manageable fashion to melding AI, voice control, and machine vision into an
                    experience designed to set the phones apart from Android rivals and iPhones.
                </p>
                <h3 style="color:black;font-weight:bold">
                    Subtitulo del artículo
                </h3>
                <p class="p-general">
                    In 2015, Samsung released the Galaxy S6, a phone that was mostly about refinement. It
                    upped the company’s industrial-design chops, rolled back its previous tendency to add bloat
                    to the Android operating system, and ensured that the phone’s camera was among the best
                    the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy
                    S7, which refined the S6’s refinements.
                </p>
                <h3 style="color:black;font-weight:bold">
                    Subtitulo del artículo
                </h3>
                <p class="p-general">
                    In 2015, Samsung released the Galaxy S6, a phone that was mostly about refinement. It
                    upped the company’s industrial-design chops, rolled back its previous tendency to add bloat
                    to the Android operating system, and ensured that the phone’s camera was among the best
                    the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy
                    S7, which refined the S6’s refinements.
                </p>
                <img src="~/Images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" class="img-responsive" style="width:100%;display:inline" />
                <br />
                <p class="p-general" style="display:inline">
                    El pie de foto del la foto, 2017
                </p>
                <h3 style="color:black;font-weight:bold">
                    Subtitulo del artículo
                </h3>
                <p class="p-general">
                    In 2015, Samsung released the Galaxy S6, a phone that was mostly about refinement. It
                    upped the company’s industrial-design chops, rolled back its previous tendency to add bloat
                    to the Android operating system, and ensured that the phone’s camera was among the best
                    the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy
                    S7, which refined the S6’s refinements.
                </p>
                <h3 style="color:black;font-weight:bold">
                    Subtitulo del artículo
                </h3>
                <p class="p-general">
                    In 2015, Samsung released the Galaxy S6, a phone that was mostly about refinement. It
                    upped the company’s industrial-design chops, rolled back its previous tendency to add bloat
                    to the Android operating system, and ensured that the phone’s camera was among the best
                    the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy
                    S7, which refined the S6’s refinements.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 style="color:#616161">
                    Artículos relacionados
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search" style="color:#666666"></i>
                    <input type="text" class="form-control color-input" placeholder="Buscar un artículo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p style="color:#a2a1b6;display:inline">
                    Innovation
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Nueromarkeing
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    CRM
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Shopper
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Marketing Mix
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Estrategia
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <p style="color:black;font-weight:bold">
                    Suscríbete a nuestro blog
                </p>
                <div class="input-group">
                    <input type="text" class="form-control color-input" placeholder="Correo eletrónico">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="color:white;background-color:#757575">Enviar</button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%"/>
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                      <div style="float:right">
                          <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                      </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
        </div>
    </div>
</div>
