
<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <div>
                    <i class="material-icons" style="color:white;font-size:35px;background:#ffea00;border-radius:50%;">chevron_left</i>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="content-iconos">
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing crm-06.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_estrategia.png" align="middle" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#40c4ff;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="cmr">
                    <h1 style="color:#b1ff58">Customer Relationship managment</h1>
                    <p id="texto-cmr" class="color-est">
                        Pensar y actuar pensando en el futuro. Su negocio no puede permanecer inmóvil. ¿Debería explorar otras oportunidades o nuevas categorías?  Nuestras soluciones de Estrategia utilizan datos robustos e información de mercado que le ayudarán a encontrar nuevas 
                    </p>
                    <div>
                        <button type="submit" class="btn btn-lg" style="background-color:#b1ff58;color:black">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-lg-offset-3 col-md-offset-3 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-12">
                <div class="flor-cmr" style="display:inline-block">
                    <img class="img-responsive tamano-flor-cmr gray-cmr" id="cmr1" src="~/Content/Images/omarketing crm-15.png">
                    <img class="img-responsive tamano-flor-cmr gray-cmr" id="cmr2" src="~/Content/Images/omarketing crm-17.png">
                    <img class="img-responsive tamano-flor-cmr gray-cmr" id="cmr3" src="~/Content/Images/omarketing crm-16.png">
                    <img class="img-responsive tamano-flor-cmr" id="cmr4" src="~/Content/Images/omarketing crm-18.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="div-cmr-subtitulo">
                    <h1 style="color:#b1ff58">Comunidades</h1>
                    <p class="color-est">El precio es la variable del marketing mix por la cual entran los ingresos de una empresa. Antes de ﬁjar los precios de nuestros productos debemos estudiar ciertos aspectos como el consumidor, mercado, costes, competencia, entre otros. En última instancia es el consumidor quien dictaminará si hemos ﬁjado correctamente el precio, puesto que comparará el valor recibido del producto adquirido, frente al precio que ha desembolsado por él.</p>
                    <i class="material-icons" style="color:#b1ff58;font-size:35px;float:right">add_circle</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#b1ff58;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="cmr-blanca" id="ver-mas">
    <div class="container">
        <br />
        <br />
        <!--Comunidades--->
        <div>
            <div class="iconos" style="width:100%;height:1px;background-color:white"></div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-lg-offset-4 col-md-offset-4  visible-lg visible-md" style="margin-left:40%;">
                    <div class="menu-cmr iconos-nav">
                        <img src="~/Content/Images/omarketing crm-15.png" id="imgcmr1" align="middle" style="width:60px">
                        <img src="~/Content/Images/omarketing crm-16.png" id="imgcmr2" align="middle" style="width:60px">
                        <img src="~/Content/Images/omarketing crm-25.png" id="imgcmr3" align="middle" style="width:50px">
                        <img src="~/Content/Images/omarketing crm-17.png" id="imgcmr4" align="middle" style="width:60px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                    <h1 id="encab-crecimiento">COMUNIDADES</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <br />
                    <div class="crecimiento">
                        <div>
                            <p>Las marcas que generen comunidades serán más vigorosas, dado que al tener una comunidad pueden tomar Insights de está, entregarle a sus clientes lo que están buscando y lograr de esta forma hacerlos sentir importantes, motivo por el cual los lleva a comprar, proteger y ser leales a la marca.</p>
                            <br />
                            <p>Las comunidades pueden estar compuesta por uno o más de estos elementos; Grupo de personas que viven en el mismo lugar, tienen características en común, unidas por acuerdos políticos y o económicos o simplemente tienen interés en común.</p>
                            <br />
                            <p>Realizar comunidades no es algo nuevo, desde décadas atrás los seres humanos han construido comunidades para compartir interés y resolver problemas. Antiguamente era mucho más difícil realizar grandes comunidades dado que no se gozaba de la tecnología que se tiene hoy en día</p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-lg" style="background-color:#cacaca;color:white">Ver más</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md">
                            <br />
                            <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right;float:right">
                                <p style="text-align:right">
                                    “No busques consumidores para tus productos, busca productos para tus consumidores”
                                </p>
                                <h3 style="font-weight:bold">
                                    SETH GOODIN
                                </h3>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="comunidades-images" style="display:inline-block">
                                <img src="~/Content/Images/omarketing crm-29.png" id="comun-img1" class="img responsive tamano-comun">
                                <img src="~/Content/Images/omarketing crm-30.png" id="comun-img2" class="img responsive tamano-comun">
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>

        <!--Fin Comunidades--->
        <br /><br /><br />

        <!--Building Communities--->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <h2 style="color:#a0df58;font-weight:bold">Building communities</h2>
                <div id="div-building">
                    <p style="color: #ff1d1d; font-weight:900">Grupo de consumidores apasionados, quienes estan organizados alrededor del estilo de vida, actividades y ethos</p>
                    <div class="listado-building">
                        <p>-Comunidades de marketing</p>
                        <br />
                        <p>-Comunidad</p>
                        <br />
                        <p>-9 pasos</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <h4 style="color:#a0df58;font-weight:bold">Porqué hacer una comunidad</h4>
                <p style="color: black; font-weight:900">El amor no correspondido de las personas por o frente algo (Necesidad Insatisfecha).</p>
                <h4 style="color:#808080;font-weight:bold">Porqué no hacer una comunidad</h4>
                <div id="div-building">
                    <div class="listado-porquecomunidad">
                        <p>-Comunidades de marketing</p>
                        <br />
                        <p>-Comunidad</p>
                        <br />
                        <p>-9 pasos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 visible-lg visible-md">
                <div id="div-bordeado">
                    <div class="text-div-bordeado">
                        <p>El “Community marketing” se centra en las necesidades de los clientes existentes.</p>
                    </div>                   
                </div>                
            </div>
        </div>

        <!--Fin Building Communities--->

        <!--9 Pasos--->
        <div class="nueve-pasos">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-lg">
                    <img src="~/Content/Images/omarketing crm-32.png" class="img-responsive" style="float:left; width: 350px;">
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <img src="~/Content/Images/omarketing crm-31.png" style="width: 350px" class="img-responsive img9pasos">
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-lg">
                    <img src="~/Content/Images/omarketing crm-32.png" class="img-responsive" style="float:right;width: 350px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="primer-paso">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="numeros">
                                <img src="~/Content/Images/omarketing crm-31.png" style="width: 350px" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="pasos">
                                <h1 style="color:#a0df58;font-weight:bold;">Identidad</h1>
                                <p>MTP</p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="segundo-paso">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div>
                                <img src="~/Content/Images/omarketing crm-31.png" style="width: 350px" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="pasos">
                                <h1 style="color:#a0df58;font-weight:bold;">Diseño del portal</h1>
                                <div class="listado-segundopaso">
                                    <h3>-</h3><p> Feel and look</p>
                                    <br />
                                    <h3>-</h3><p> Interacción</p>
                                    <br />
                                    <h3>-</h3><p> Registro</p>
                                    <br />
                                    <h3>-</h3><p> Información:</p>
                                </div>
                                <div class="listado-segundopaso-informacion">
                                    <p>1. Sentido de pertenencia</p>
                                    <br />
                                    <p>2. Red de apoyo</p>
                                    <br />
                                    <p>3. Mayor influencia</p>
                                    <br />
                                    <p>4. Manera de explorar nuevas ideas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        
        <!--Fin 9 Pasos--->  
        
        <!--Comunidades de marketing--->
        <div class="cm-marketing">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="comunidades-mark">
                        <h2 style="color:#a0df58;font-weight:bold">Comunidades de marketing</h2>
                        <p>Grupo de consumidores apasionados, quienes estan organizados alrededor del estilo de vida, actividades y ethos de una marca.</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <h4 style="color:#a0df58;font-weight:bold">Objetivos</h4>
                            <div class="listado-segundopaso">
                                <h3>-</h3><p> Identidad deﬁnida</p>
                                <br />
                                <h3>-</h3><p> Objetivos claros</p>
                                <br />
                                <h3>-</h3><p> Transparente</p>
                                <br />
                                <h3>-</h3><p> Visualización al futuro</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="logros">
                                <h4 style="color:#a0df58;font-weight:bold">Logros</h4>
                                <div class="listado-segundopaso">
                                    <h3>-</h3><p> Tomar insights de esta</p>
                                    <br />
                                    <h3>-</h3><p> Entregarle al cliente lo que esta buscando</p>
                                    <br />
                                    <h3>-</h3><p> Hacerlos sentir importantes</p>
                                    <br />
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md">
                            <br /><br /><br />
                            <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right;float:right">
                                <span>_</span>
                                <p style="text-align:right">
                                    Comprar, proteger y ser leales a la marca.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 visible-lg">
                    <img src="~/Content/Images/omarketing crm-34.png" class="img-responsive" style="float:right; margin-top: -47%; width:900px;">
                </div>
            </div>
        </div>

        <!--fin Comunidades de marketing--->

        <!--Mitos--->
        <div class="row">
            <div class="col-lg-4 col-md-4 visible-lg">
                <img src="~/Content/Images/homegraficas-13.png" class="img-responsive" style="float: right; height: 600px; margin-top: 15%">
            </div>
            <div class="mitos">
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <h1 style="color:#a0df58;font-weight:bold">MITOS</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="listado-mitos">
                                <img src="~/Content/Images/omarketing crm-35.png" class="img-responsive" style="width:250px;">
                                <h4>1.</h4><p> La comunidad de marca es una estrategia de marketing.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> Una Comunidad de marca es una estrategia de negocio.</p>
                                <br />
                                <br />
                                <h4>2.</h4><p> Una comunidad existe para servir el negocio.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> Las comunidades se crean para servir las necesidades de la gente, no para lograr más ventas.</p>
                                <img src="~/Content/Images/omarketing crm-38.png" class="img-responsive" style="width:300px;">
                                <h4>3.</h4><p> Construye la marca. y luego la comunidad.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> Administra bien una comunidad y la marca se potencializará.</p>
                                <br />
                                <br />
                                <h4>4.</h4><p> Las comunidades de marca deben ser festivales de amor para los defensores de marca.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> La importancia del “antagonista”.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="listado-mitos">
                                <img src="~/Content/Images/omarketing crm-36.png" class="img-responsive" style="width:300px;">
                                <h4>5.</h4><p> La opinión de líderes crean grandes comunidades.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> Las comunidades son más fuertes cuando cada quien tiene un rol deﬁnido.</p>
                                <img src="~/Content/Images/omarketing crm-37.png" class="img-responsive" style="width:180px;">
                                <h4>6.</h4><p> Las redes sociales son clave para las estrategias de comunidad.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> Las redes sociales son solo otra herramienta de soporte para la comunidad.</p>
                                <img src="~/Content/Images/omarketing crm-39.png" class="img-responsive" style="width:270px;">
                                <h4>7.</h4><p> Las comunidades de marca exitosas están ﬁrmemente administradas y controladas.</p>
                                <br /><br />
                                <h4>Realidad:</h4><p> Las comunidades de marca NO SON de las compañias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin Mitos--->

        <!--Internal Branding--->
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">INTERNAL BRANDING</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <br />
                <div class="crecimiento">
                    <div>
                        <p>Proveemos servicios estratégicos de marca interna.</p>
                        <br />
                        <p>Aplicamos metodologías de trabajo probadas, adaptando las herramientas del marketing externo al ámbito interno de las empresas.</p>
                        <br />
                        <p>Cada proyecto está hecho a la medida mediante la involucración de profesionales altamente cualiﬁcados en el equipo gestor de la marca.</p>
                        <br />                        
                    </div>
                </div>
                <h2 style="color:#bcbcbc;font-weight:700;text-align:left">Somos la primera compañía en ofrecer asesorias de Internal Branding en Colombia</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <img src="~/Content/Images/omarketing crm-40.png" class="img-responsive img40">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 visible-lg visible-md">
                <br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right;float:right">
                    <p style="text-align:right">
                        “Los clientes no son lo primero, los empleados son lo primero. Si cuidas a tus empleados, ellos cuidarán a tus clientes.”
                    </p>
                    <h3>
                        RICHARD BRANSON - CEO VIRGIN -
                    </h3>
                </div>
            </div>
        </div>

        <!--Fin Internal Branding--->

        <!--¿Qué es el Internal Branding? --->
        <br /><br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <h1 style="color:#a0df58;font-weight:bold">¿Qué es el Internal Branding?</h1>
                <div class="crecimiento">
                    <div>
                        <p style="display:inline;color:black">“Es la herramienta que se asegura de que los mensajes de la marca (la promesa de la marca) sean transformados por los empleados en una realidad que reﬂeje las expectativas de la experiencia de los clientes con la marca.”</p>
                        <br />
                        <h6 style="color:black;display:inline">K. PUNJAISRI, H, EVANSCHITZKY, A. WILSON, 2009</h6>
                        <br /><br />
                        <p style="display:inline;color:black">“Es la planiﬁcación estratégica de la comunicación interna con el propósito de mantener la coherencia con la imagen externa de la marca, promover la involucración con los valores de la marca y convertirla en elemento de cohesión entre empleados.”</p>
                        <br />
                        <h6 style="color:black;display:inline">MAHNER, 2006</h6>
                        <br /><br />
                        <p style="display:inline;color:black">“Es el proceso de alinear la cultura, las infraestructuras, el liderazgo y las métricas de medición para que los empleados sientan y transmitan la promesa de la marca a sus clientes.”</p>
                        <br />
                        <h6 style="color:black;display:inline">GIEHL & LEPLA 2012, CREATE THE BRAND THAT INSPIRES.</h6>     
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2 col-xs-12 col-sm-12 visible-lg visible-md">
                <br /><br /><br /><br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right;float:right">
                    <p style="text-align:right">
                        “No existe ninguna marca líder que no lo sea primero en la mente y en los corazones de la gente que trabaja en la compañía.”
                    </p>
                    <h3 style="display:inline">
                        CARLOS GHOSN
                    </h3>
                    <br />
                    <h3 style="display:inline">
                        CEO NISSAN
                    </h3>
                </div>
                
            </div>
            <img src="~/Content/Images/omarketing crm-41.png" class="img-responsive visible-lg" style="float:right; width: 750px;margin-top:-10%;">
        </div>

        <!--Fin ¿Qué es el Internal Branding? --->

        <!--Relación empleado marca--->
        <div class="relacion-empleado">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <h1 style="color:#a0df58;font-weight:bold">Relación empleado marca</h1>
                    <div class="relacion">
                        <p style="color:black">El valor que los empleados aportan a la marca debe ser gestionado para conseguir un beneﬁcio mutuo.</p>
                        <br />
                        <p style="color:black">Es responsabilidad de la marca aﬁliar a los empleados, para que ellos aﬁlien a tus clientes.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <img src="~/Content/Images/omarketing crm-42.png" class="img-responsive img42" style="width: 80%">
                </div>
            </div>
        </div>
        
        <!--Fin Relación empleado marca--->

        <!--Una verdad no revelada--->
        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <h1 style="color:#a0df58;font-weight:bold;display:inline">UNA VERDAD</h1>
                <br />
                <h1 style="color:#a0df58;font-weight:bold;display:inline;">NO REVELADA</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <br /><br />
                        <img src="~/Content/Images/omarketing crm-44.png" class="img-responsive" style="width:300px;">
                        <div class="una-verdad">
                            <br />
                            <p style="display:inline;color:black">“6 de cada 10 empleados están activamente buscando nuevo empleo y 2 de cada 10 están dando la espalda a la estrategia de la organización.”</p>
                            <br />
                            <h6 style="color:black;display:inline">LLORENTE&CUENCA,2015</h6>
                        </div>
                        <img src="~/Content/Images/omarketing crm-46.png" class="img-responsive" style="width:300px;">
                        <div class="una-verdad">
                            <br />
                            <p style="display:inline;color:black">“86% de los empleados no entienden claramente la estrategia de su compañía.”</p>
                            <br />
                            <h6 style="color:black;display:inline">METRUS GROUP, 2012</h6>   
                        </div>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">                       
                        <img src="~/Content/Images/omarketing crm-45.png" class="img-responsive" style="width:300px;">
                        <div class="una-verdad">
                            <br />
                            <p style="display:inline;color:black">“39% de los empleados aﬁrman que sus superiores no han relacionado el trabajo diario con la estrategia de la empresa en al menos 6 meses.”</p>
                            <br />
                            <h6 style="color:black;display:inline">EMPLOYEE EXPERIENCE SURVEY, 2015</h6>
                        </div>
                        <br />
                        <div class="la-mitad">
                            <img src="~/Content/Images/omarketing crm-47.png" class="img-responsive img47" style="width:340px;">
                            <div class="una-verdad">
                                <br />
                                <p style="display:inline;color:black">“La mitad de los empleados no creen en la promesa de marca de la compañía, y aún menos están capacitados para entregarla al mercado.”</p>
                                <br />
                                <h6 style="color:black;display:inline">FORBES, 2013</h6>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 visible-lg">
                <img src="~/Content/Images/omarketing crm-34.png" class="img-responsive" style="float:right; width:600px; margin-top:-34%">
            </div>
        </div>

        <!--Fin Una verdad no revelada--->

        <!--Servicios Internal Branding--->
        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <h1 style="color:#a0df58;font-weight:bold;display:inline">Servicios</h1>
                <br />
                <h1 style="color:#a0df58;font-weight:bold;display:inline;">Internal Branding</h1>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <img src="~/Content/Images/omarketing crm-48.png" class="img-responsive">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div class="internal-text">
                            <h3 style="color:#a0df58;font-weight:bold;display:inline">Servicios de estrategia de la marca interna</h3>
                            <p style="color:black">Creamos la marca interna y diseñamos su estrategia orientada a públicos internos.</p>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="internal-bran2">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <img src="~/Content/Images/omarketing crm-51.png" class="img-responsive">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="internal-text">
                                <h3 style="color:#a0df58;font-weight:bold;display:inline">Creación y gestión de comunidades de marca</h3>
                                <p style="color:black">Creamos un espacio en el que implicar a los empleados a participar en la marca interna.</p>
                            </div>
                        </div>
                    </div>    
                </div>  
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <img src="~/Content/Images/omarketing crm-49.png" class="img-responsive">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div class="internal-text">
                            <h3 style="color:#a0df58;font-weight:bold;display:inline">Planiﬁcación estratégica de la comunicación interna</h3>
                            <p style="color:black">Diseñamos estratégicamente los mensajes de la marca para que impacten de manera eﬁcaz.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="internal-bran2">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <img src="~/Content/Images/omarketing crm-50.png" class="img-responsive">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="internal-text">
                                <h3 style="color:#a0df58;font-weight:bold;display:inline">Formación y capacitación de profesionales</h3>
                                <p style="color:black">Formamos a responsables integrándolos en nuestro equipo durante todo el proceso.</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <!--Fin Servicios Internal Branding--->

        <!--Que podemos lograr?--->
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-12">
                <div class="lograr">
                    <h2 style="color:#a0df58;font-weight:bold;display:inline">¿Qué podemos lograr?</h2>
                    <img src="~/Content/Images/omarketing crm-52.png" class="img-responsive">
                    <p>La satisfacción del empleado produce beneﬁcios</p>
                </div>                
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="lograr2"> 
                    <img src="~/Content/Images/omarketing crm-53.png" class="img-responsive">
                    <h1 style="color:#a0df58;font-weight:bold;display:inline">73%</h1>
                    <p>Mejora un 73% el servicio al cliente</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="lograr2">                   
                    <img src="~/Content/Images/omarketing crm-54.png" class="img-responsive">
                    <h1 style="color:#a0df58;font-weight:bold;display:inline">60%</h1>
                    <p>Mejora un 60% la calidad persibida</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="lograr2">
                    <img src="~/Content/Images/omarketing crm-55.png" class="img-responsive">
                    <h1 style="color:#a0df58;font-weight:bold;display:inline">44%</h1>
                    <p>Mejora un 44% la productividad</p>
                </div>
            </div>
        </div>

        <!--Fin Que podemos lograr?--->
    </div>
</div>