<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                <div>
                    <i class="material-icons" style="color:white;font-size:35px;background:#4489ff;border-radius:50%;">chevron_left</i>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <div class="content-iconos">
                    <img src="~/Content/Images/omarketing como funciona-11.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing como funciona-12.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing como funciona-13.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing como funciona-14.png" align="middle" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-6">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#4489ff;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <h1 style="color: #4489ff">Diagnosticamos</h1>
                    <p style="color:white">
                        Pensar y actuar pensando en el futuro. Su negocio no puede permanecer inmóvil. ¿Debería explorar otras oportunidades o nuevas categorías?  Nuestras soluciones de Estrategia utilizan datos robustos e información de mercado que le ayudarán a encontrar nuevas posibilidades y  utilizarlas para hacer crecer su negocio.
                    </p>
                    <p style="color:white">
                        En Omarketing somos expertos en realizar estrategias de marketing generales y localizadas en los puntos críticos de los negocios, con el ﬁn de ayudar a nuestros cliente alcanzar sus objetivos por medio de  futuribles.
                    </p>
                    <p style="color:white">
                        Diseñamos planes de crecimiento a la medida de tus necesidades. Si tu empresa opera en Internet, quizás necesites un plan de marketing digital. Pero si tienes presencia física debes saber cuál es la situación de tu sector tanto on como ofﬂine (Marketing Mix).
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div class="flor-como anim-flor" data-anim="on" data-i="0" data-n="4" style="display:inline-block;">
                    <img src="~/Content/Images/omarketing como funciona-11.png" class="img-responsive imgs-flor-como gray anim" id="como-flor-6" data-i="1" data-h3="titulo 2" data-h3target="#titulo-como" data-p="este es el Texto 2" data-ptarget="#texto-como" />
                    <img src="~/Content/Images/omarketing como funciona-12.png" class="img-responsive imgs-flor-como" id="como-flor-1" />
                    <img src="~/Content/Images/omarketing como funciona-13.png" class="img-responsive imgs-flor-como gray anim" id="como-flor-5" data-i="2" data-h3="titulo 3" data-h3target="#titulo-como" data-p="este es el Texto 3" data-ptarget="#texto-como" />
                    <img src="~/Content/Images/omarketing como funciona-12.png" class="img-responsive imgs-flor-como gray anim" id="como-flor-7" data-i="0" data-h3="titulo 1" data-h3target="#titulo-como" data-p="este es el Texto 1" data-ptarget="#texto-como" />
                    <img src="~/Content/Images/omarketing como funciona-14.png" class="img-responsive imgs-flor-como gray anim" id="como-flor-3" data-i="3" data-h3="titulo 4" data-h3target="#titulo-como" data-p="este es el Texto 4" data-ptarget="#texto-como" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
                <div style="float:right">
                    <h1 style="color:#4489ff" id="titulo-como">

                    </h1>
                    <p style="color:white" id="texto-como">
                      
                    </p>                   
                </div>
            </div>
        </div>
    </div>
</div>