<div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="~/Images/omarketing directorioblog-02.png" class="img-responsive" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="inner-addon left-addon">
                    <i class="glyphicon glyphicon-search" style="color:#666666"></i>
                    <input type="text" class="form-control color-input-2" placeholder="Buscar un artículo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p style="color:#a2a1b6;display:inline">
                    Innovation
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Nueromarkeing
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    CRM
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Shopper
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Marketing Mix
                </p>
                &nbsp;&nbsp;
                <p style="color:#a2a1b6;display:inline">
                    Estrategia
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <p style="color:white;font-weight:bold">
                    Suscríbete a nuestro blog
                </p>
                <div class="input-group">
                    <input type="text" class="form-control color-input-2" placeholder="Correo eletrónico">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="color:white;background-color:#333333;border:1px solid #212121;">Enviar</button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19191078_1563135380404430_1939419662_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#40c4ff;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#00b0ff;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#7c4dff;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#651fff;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#b2ff59;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#76ff03;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19191078_1563135380404430_1939419662_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ff6e40;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ff3d00;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4" style="margin-bottom:15px">
                <div style="padding-left:0px;padding-right:0px">
                    <img class="img-responsive img-blog" src="~/images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png" style="margin-bottom:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;width:100%" />
                </div>
                <div style="background:#ffea00;margin-top:-20px;padding:15px;">
                    <h1 style="color:black;font-weight:bold">El título del artículo</h1>
                    <h4 style="color:black;font-weight:bold">
                        Buscador de verdades humanas a través de Insights,
                        generando valor y oportunidades a las Relaciones
                        de Cuenta.
                    </h4>
                    <p class="p-general">
                        Buscador de verdades humanas a través de
                        Insights, generando valor y oportunidades a las
                        compañías por medio de la Innovación y el
                        Branding. Administrador de empresas,
                        especialista en mercadeo estratégico, bilingüe,
                        con experiencia y conocimiento en las áreas de
                        Finanzas, Mercadeo e Innovación, enfocadas a
                        Estrategia de Marca, Consumidor y
                        Segmentación de Cliente (Shopper -
                        Consumidor final), Branding y Comunicación,
                    </p>
                    <div style="float:right">
                        <i class="material-icons" style="color:white;font-size:35px;background:#ffd600;border-radius:50%;box-shadow:1px 1px  1px grey;">chevron_right</i>
                    </div>
                    <div style="clear:right"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                    <div>
                        <i class="material-icons" style="color:white;font-size:35px;background:#333333;border-radius:50%;">chevron_right</i>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
