
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="equipo-vista">
                    <h1>
                        Equipo
                    </h1>
                </div>
                <img src="~/Content/Images/omarketing equipo-02.png" class="img-responsive visible-lg" style="float:left;width:400px;margin-top:-18%;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <img class="img-responsive equipo-img-1" src="~/Content/Images/equipo omarketing-02.png">
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div style="text-align:left" class="equipo-nombre-1">
                    <h1 style="color:white;display:inline;font-weight:bold;font-size: 46px;">Andres</h1>
                    <br />
                    <h3 style="color:white;display:inline;font-weight:bold;font-size: 30px">Venegas Piedrahita</h3>
                    <br /><br />
                    <p style="color:#bbbbbb">Buscador de verdades humanas a través de Insights, generando valor y oportunidades a las compañías por medio de la Innovación y el Branding. Administrador de empresas, especialista en mercadeo estratégico, bilingüe, con experiencia y conocimiento en las áreas de Finanzas, Mercadeo e Innovación, enfocadas a Estrategia de Marca, Consumidor y Segmentación de Cliente (Shopper - Consumidor ﬁnal), Branding y Comunicación, Price y Portfolio Management, Gestión de clientes (CRM) (CLV) (Churn) (Recency) (Retention Rate) (Customer Proﬁt), Gestión de Canales, Efectividad en la Fuerza de Ventas y Gestión en Relaciones de Cuenta.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                <div>
                    <h2 style="color:white;font-weight:bold">Experiencia:</h2>
                    <div>
                        <h2 style="color:white;font-weight:bold">La empresa</h2>
                        <p style="color:#bbbbbb">In 2015, Samsung released the Galaxy S6, a phone that was mostly about reﬁnement. It upped the company’s industrial-design chops, rolled back its previous tendency to add bloat to the Android operating system, and ensured that the phone’s camera was among the best the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy S7, which reﬁned the S6’s reﬁnements.</p>
                    </div>
                    <div>
                        <h2 style="color:white;font-weight:bold">La empresa</h2>
                        <p style="color:#bbbbbb">In 2015, Samsung released the Galaxy S6, a phone that was mostly about reﬁnement. It upped the company’s industrial-design chops, rolled back its previous tendency to add bloat to the Android operating system, and ensured that the phone’s camera was among the best the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy S7, which reﬁned the S6’s reﬁnements.</p>
                    </div>
                </div> 
                <br />
                <div>
                    <h2 style="color:white;font-weight:bold">Educación:</h2>
                    <div>
                        <h2 style="color:white;font-weight:bold">La universidad</h2>
                        <p style="color:#bbbbbb">In 2015, Samsung released the Galaxy S6, a phone that was mostly about reﬁnement. It upped the company’s industrial-design chops, rolled back its previous tendency to add bloat to the Android operating system, and ensured that the phone’s camera was among the best the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy S7, which reﬁned the S6’s reﬁnements.</p>
                    </div>
                    <div>
                        <h2 style="color:white;font-weight:bold">La universidad</h2>
                        <p style="color:#bbbbbb">In 2015, Samsung released the Galaxy S6, a phone that was mostly about reﬁnement. It upped the company’s industrial-design chops, rolled back its previous tendency to add bloat to the Android operating system, and ensured that the phone’s camera was among the best the smartphone world had to offer. Samsung followed that phone up with 2016’s Galaxy S7, which reﬁned the S6’s reﬁnements.</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>