@{
    ViewBag.BodyCss = "light";
}

<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <i class="material-icons" style="color:white;font-size:35px;background:#7b4dff;border-radius:50%;">chevron_left</i>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="content-iconos">
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Images/omarketing estrategia1-07.png" align="middle" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#424242;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div>
                    <h1 class="color-orange">ESTRATEGIA</h1>
                    <p class="color-est">
                        descubra nuevas oportunidades de
                        crecimiento en las categorías actuales y
                        adyacentes, actúe identificando las
                        tendencias y realizando un diagnóstico
                        estratégico de crecimiento.
                    </p>
                    <div>
                        <button type="submit" class="btn btn-lg" style="background-color:#ff6e40;color:white">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="flor-estrategia" style="display:inline-block;">
                    <img src="~/images/flor6.png" class="img-responsive img-flor grayest" id="imagen-flor-6" />
                    <img src="~/images/flor1.png" class="img-responsive img-flor" id="imagen-flor-1" />
                    <img src="~/images/flor5.png" class="img-responsive img-flor grayest" id="imagen-flor-5" />
                    <img src="~/images/flor7.png" class="img-responsive img-flor grayest" id="imagen-flor-7" />
                    <img src="~/images/flor2.png" class="img-responsive img-flor grayest" id="imagen-flor-2" />
                    <img src="~/images/flor3.png" class="img-responsive img-flor grayest" id="imagen-flor-3" />
                    <img src="~/images/flor4.png" class="img-responsive img-flor grayest" id="imagen-flor-4" />

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
                <div>
                    <h1 class="color-orange" id="titulo-variable"></h1>
                    <p class="color-est" id="texto-variable"></p>
                    <i class="material-icons" style="color:#ff6e40;font-size:35px;float:right">add_circle</i>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#ff6e40;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="estrategia-blanca" id="ver-mas">
    <div class="container">
        <br />
        <br />
        <!--Crecimiento--->
        <div>
            <div class="iconos" style="width:100%;height:1px;background-color:white"></div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-12 visible-lg visible-md" style="left:20px">
                    <div class="menu-estrategia iconos-nav">
                        <img src="~/images/flor2.png" id="imgflor2" align="middle" style="width:60px">
                        <img src="~/images/flor7.png" id="imgflor7" align="middle" style="width:60px">
                        <img src="~/images/flor6.png" id="imgflor6" align="middle" style="width:60px">
                        <img src="~/images/omarketing estrategia1-31.png" align="middle" style="width:50px">
                        <img src="~/images/flor5.png" id="imgflor5" align="middle" style="width:60px">
                        <img src="~/images/flor3.png" id="imgflor3" align="middle" style="width:60px">
                        <img src="~/images/flor4.png" id="imgflor4" align="middle" style="width:60px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                    <h1 id="encab-crecimiento">CRECIMIENTO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <div class="crecimiento">
                        <h3>Estrategia de crecimiento</h3>
                        <div>
                            <p>Nuestras soluciones de Estrategia utilizan datos robustos e información de mercado que le ayudarán a encontrar nuevas posibilidades para hacer crecer su negocio.</p>
                            <br />
                            <p>Nos anticipamos a las tendencias, reconocemos oportunidades de crecimiento y  generamos las condiciones necesarias para transformar las oportunidades en realidades y obtener resultados.</p>
                            <br />
                            <p>Descubra nuevas oportunidades de crecimiento en las categorías actuales y adyacentes, actúe identiﬁcando las tendencias y realizando un diagnóstico estratégico de crecimiento.</p>
                            <br />
                            <p>Nuestro equipo tiene amplia experiencia en estrategias de crecimiento y puede</p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-lg" style="background-color:#ff6e40;color:white">Ver más</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="crecimiento-hex" style="display:inline-block">
                        <img class="img-responsive img-penetr" id="tamano-hex" src="~/Content/Images/e_penetracion.png">
                        <img class="img-responsive img-desarr" id="tamano-hex" src="~/Content/Images/e_desarr.png">
                        <img class="img-responsive img-pic23" id="tamano-hex" src="~/Content/Images/e_pic23.png">
                        <img class="img-responsive img-crec" id="tamano-hex" src="~/Content/Images/e_crec.png">
                        <img class="img-responsive img-diver" id="tamano-hex" src="~/Content/Images/e_diver.png">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                        <span>__</span>
                        <p style="text-align:right">
                            "Un benecio y un crecimiento débil muchas veces son culpa de una estrategia inefectiva"
                        </p>
                        <h3>
                            ANDRÉS VENEGAS P.
                        </h3>
                    </div>
                    <br /><br /><br />
                    <div class="desarrollo" style="text-align:left;clear:right">
                        <h3>
                            Desarrollo de nuevos mercados
                        </h3>
                        <div id="desarrollo-insight">
                            <p>
                                Crear, buscar, abrir, desarrollar nuevos mercados con productos existentes.
                            </p>
                            <br />
                            <p>- Nuevos usos.</p>
                            <p>- Mejores precios.</p>
                            <p>- Nuevos canales.</p>
                            <p>- Mayor inversión publicitaria.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />

        <!--Somos unicos-->

        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 unicos" style="text-align:left">
                    <h1>Somos únicos</h1>
                    <p>Gracias a nuestro Modelo</p>
                    <p id="c-registrado">CANVAS STP &#174</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="enumerado">
                        <h1>1.</h1><h3> Estrategias de valor</h3>
                        <p>Nuestros expertos combinan información del sector y de la estrategia, logrando una comprensión precisa de las necesidades especíﬁcas de crecimiento de nuestros clientes.</p>
                        <br />
                        <h1>2.</h1><h3> Perceptivo y vanguardista</h3>
                        <p>Identiﬁcamos categorías, marcas y tendencias nuevas y emergentes en el cualquier sector.</p>
                        <br />
                        <h1>3.</h1><h3> Rapidez y presición</h3>
                        <p>Nuestros expertos combinan información del sector y de la estrategia, logrando una comprensión precisa de las necesidades especíﬁcas de crecimiento de nuestros clientes.</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                    <img class="img-responsive canvas" style="width:90%" src="~/Content/Images/e_canvas_stp.png">
                </div>
            </div>
        </div>
        <br /><br /><br /><br />

        <!--Insights---->

        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                    <h1 id="encab-crecimiento">INSIGHTS</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <div class="crecimiento">
                        <h3>Estrategia de insights</h3>
                        <div>
                            <p>Aprovechar el poder de los conocimientos del consumidor marcarán la diferencia entre los actores débiles y fuertes en cualquier industria.</p>
                            <br />
                            <p>Realizamos procesos de investigación disruptivos y creativos para identiﬁcar los Insights de tus consumidores/shoppers. Permitiéndonos desarrollar estrategias que conecten a las personas con tu negocio o marca.</p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-lg" style="background-color:#ff6e40;color:white">Ver más</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="insight" style="display:inline-block">
                        <img class="img-responsive insights1 grayins" id="tamano-insights" src="~/Content/Images/e_insightful_innovation.png">
                        <img class="img-responsive insights3" id="tamano-insights" src="~/Content/Images/e_insights.png">
                        <img class="img-responsive insights2 grayins" id="tamano-insights" src="~/Content/Images/e_insightful_planning.png">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                        <span>__</span>
                        <p style="text-align:right">
                            ¿El resultado? Una marca capaz de conectar con sus clientes de forma emocional, relevante y diferente.
                        </p>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div class="desarrollo" style="text-align:left">
                        <h3 id="titulo-insights"></h3>
                        <div id="desarrollo-insight">
                            <p id="texto-insights"></p>
                            <i class="material-icons" style="color:#ff6e40;font-size:35px;float:right">add_circle</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 visible-lg visible-md">
                    <img src="~/Content/Images/omarketing estrategia2-12.png" class="img-responsive triangulos-trasparentes" />
                </div>
            </div>
        </div>

        <!--Insightful Innovation-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 insight-innovation">
                <h3>Insightful Innovation</h3>
                <p>
                    Usando una mezcla híbrida de técnicas
                    innovadoras. Somos capaces de encontrar
                    y generar insights más frescos y
                    poderosos, logrando potencializar el
                    crecimiento de tu negocio.
                </p>
                <p>
                    Con Insightful innovation, buscamos eso
                    que todos ven, pero que nadie se atreve o
                    se le ocurre plantear; vemos donde otros
                    no ven, para encontrar lo que los otros no
                    encuentran.
                </p>
            </div>
            <div class="col-lg-4 col-md-4  col-lg-offset-4 col-md-offset-4 visible-lg visible-md cita-insight">
                <div align="right">
                    <img src="~/images/rayas.PNG" class="img-responsive" />
                </div>
                <br />
                <p style="text-align:right" class="visible-lg visible-md">
                    “Decodificamos la
                    experiencia del consumidor
                    Encontramos necesidades
                    humanas no reveladas.”
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 exploramos">
                <div>
                    <img src="~/images/estrategia exploramos.png" style="float:left;" class="img-responsive" align="middle" />
                    <div class="top-tres">
                        <p class="par">Exploramos</p>
                        <p class="ex">
                            Exploramos la mente/cultura del
                            consumidor necesidades humanas no
                            reveladas.
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="cazamos">
                    <img src="~/images/estrategia cazamos tendencias.png" style="float:left" class="img-responsive" align="middle" />
                    <div class="top-tres">
                        <p class="par">Cazamos</p>
                        <p class="text-t">
                            Cazamos tendencias observación y
                            análisis cultural.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="onnovation" style="clear:left;">
                        <img src="~/images/estrategia onnovation.png" style="float:left" class="img-responsive" align="middle" />
                        <div class="top-tres1">
                            <p class="text-o">Modelo Onnovation®</p>
                            <p>
                                Decodificamos la experiencia del
                                consumidor
                            </p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  visible-lg visible-md">
                <img src="~/images/omarketing estrategia1-12.png" style="width:550px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 exploramos">
                <div>
                    <img src="~/images/estrategia modelo onsight.png" style="float:left" class="img-responsive" align="middle" />
                    <div class="top-tres">
                        <p class="par">Modelo de insights estratégico Onsight®</p>
                        <p class="ex">
                            falta el texto de aqui
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <!--cinco verdades del insight-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 style="font-weight: bold;color: #ff6e40;font-weight:bold">
                    5 VERDADES DEL INSIGTH
                </h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div>
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">1</p>
                    <div>
                        <p>Verdad relevada</p>
                        <p>Descubrimiento.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">2</p>
                    <div>
                        <p>Verdad intuitiva</p>
                        <p>Sentimiento..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">3</p>
                    <div>
                        <p>Verdad disruptiva</p>
                        <p>Cambio.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">4</p>
                    <div>
                        <p>Verdad compartida</p>
                        <p>Social Cultural.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">5</p>
                    <div>
                        <p>Verdad no revelada</p>
                        <p>Oportunidad.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-verdades">
                    <img src="~/images/estrategia onsight.png" class="img-responsive" />
                    <p class="texto-modelo-onsight" style="margin-left:360px;margin-top:-70px; color:#ff6e40">
                        Modelo de insights
                    </p>
                    <p class="texto-modelo-onsight" style="margin-left:350px;color:#ff6e40">
                        estratégico Onsight ®
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <div>

                    <img src="~/images/omarketing estrategia1-60.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <!--fin de cinco verdades del insight-->
        <!--Insightful Planning-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 planing">
                <h3>Insightful Planning</h3>
                <p>
                    Cada consumidor y generación es único a
                    su manera. Mientras que los Baby
                    Boomers sólo seguían las reglas las
                    generación X las rompió, la generación Y
                    quiere co-crear las reglas mientras la
                    generación Z crea sus propias reglas
                    personales.
                </p>
                <p>
                    Damos poder a los consumidores para
                    observar e informar sobre su propia
                    realidad cotidiana, en cualquier momento
                    y en cualquier lugar, proporcionando la
                    información personal y contextual
                    necesaria para permitir la comprensión
                    profunda del consumidor.
                </p>
                <p>
                    Llevamos a los consumidores vivos dentro
                    de las organizaciones y sumergimos a los
                    empleados en el mundo del consumidor.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="img-planing">
                    <img src="~/images/estrategia insightfullp.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <!--fin de Insightful Planning-->
        <!--Sombreros-->
        <br /><br /><br />

        <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <br />
                        <div class="disrupcion">
                            <h3>Disrupción de pensamiento</h3>
                            <div>
                                <p>Con la disrupción de pensamiento realizamos mineria de insights, buscamos el know how del consumidor con la habilidad de adquirirlos o explóralos de manera creativa. “Eso que mueve al consumidor”.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <img class="img-responsive sombrero-lineas" src="~/Content/Images/e_lineas.png">
                        <div class="sombreros" style="display:inline-block">
                            <img class="img-responsive sombrero-blanco" id="tamano-sombrero" src="~/Content/Images/e_blanco.png">
                            <img class="img-responsive sombrero-rojo" id="tamano-sombrero" src="~/Content/Images/e_rojo.png">
                            <img class="img-responsive sombrero-verde" id="tamano-sombrero" src="~/Content/Images/e_verde.png">
                            <img class="img-responsive sombrero-azul" id="tamano-sombrero" src="~/Content/Images/e_azul.png">
                            <img class="img-responsive sombrero-negro" id="tamano-sombrero" src="~/Content/Images/e_negro.png">
                            <img class="img-responsive sombrero-amarillo" id="tamano-sombrero" src="~/Content/Images/e_amarillo.png">
                        </div>
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <img class="img-responsive sombreros-sombra-2 visible-lg" src="~/Content/Images/omarketing estrategia1-81.png">
                            <img class="img-responsive sombreros-sombra visible-lg" src="~/Content/Images/omarketing estrategia1-80.png">
                        </div>
                    </div>
                </div>

                <!--Modelo de innovacion-->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <br />
                        <div class="modelo">
                            <h4>Modelo de innovación Omarketing®</h4>
                            <div class="content-modelo">
                                <p>Con el apoyo de nuestro modelo de innovación (Onnovation®), detectamos insights y territorios por medio de tendencias. “Eso que mueve a la sociedad”.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <img class="img-responsive img-modelo" src="~/Content/Images/omarketing estrategia1-75.png">
                    </div>
                </div>
                <br /><br /><br />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <br />
                        <div class="modelo">
                            <h4>Embudo de Insights Omarketing®</h4>
                            <div class="content-modelo">
                                <p>Fortalecemos la investigación de escritorio y el Know How de la compañía con nuestro Embudo de Insights (Onsights®) para lograr el cambio. “Eso que meuve el cambio”</p>
                                <br />
                                <p>Usamos una metodología conocida como Embudo de Insights, en la cual, del target obtenemos los datos, permitiéndonos transfórmalos en información, la información en hallazgos, los hallazgos en Insights y ﬁnalmente accionar los insights en estrategias.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                        <img class="img-responsive img-embudo" src="~/Content/Images/e_embudo.png">
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 visible-lg visible-md">
                            <img class="img-responsive img-82" src="~/Content/Images/omarketing estrategia1-82.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 visible-lg">
                <img class="img-responsive borde-insights" src="~/Content/Images/omarketing estrategia1-74.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 tecnica">
                <h3>Técnica Insigths Omarketing</h3>
                <p>Normalmente:</p>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="img-est-1">
                    <img src="~/images/estrategia tecnica onsight 1.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing estrategia1-83.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div>
                    <img src="~/images/estrategia tecnica onsight 2.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing estrategia1-84.png" class="img-responsive" />
                </div>
            </div>
        </div>

        <!--Omnichannel-->
        <br /><br /><br /><br /><br /><br />
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                    <h1 id="encab-crecimiento">OMNICHANNEL</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <div class="crecimiento">
                        <h3>Omnichannel Marketing</h3>
                        <div>
                            <p>La mayoría de las empresas requieren una mezcla de marketing online y ofﬂine para generar nuevos cliente y comunicarse con los actuales</p>
                            <br />
                            <p>Utilizamos nuestra metodología Omarketing para identiﬁcar a tus clientes objetivo, mapear un viaje (customer journey) para impulsar el compromiso y las conversiones, logrando TRANSMITIR un mensaje uniﬁcado para estimular los sentidos y aumentar el recuerdo por medio de las emociones.</p>
                            <br />
                            <p>No somos una agencia de anuncios de spray y oración. Su ROI es nuestra misión y KPI, por esta razón entendemos la importancia de la omnicanalidad; enviar trozos del mensaje objetivo en cada uno</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                    <div style="display:inline-block">
                        <img class="img-responsive online grayomni" id="tamano-omnichannel" src="~/Content/Images/e_online.png">
                        <img class="img-responsive offline grayomni" id="tamano-omnichannel" src="~/Content/Images/e_offline.png">
                        <img class="img-responsive tdl grayomni" id="tamano-omnichannel" src="~/Content/Images/e_tdl.png">
                        <img class="img-responsive omnichannel" id="tamano-omnichannel" src="~/images/flor3.png">
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <br />
                    <div class="cita-crecimiento visible-lg visible-md" style="text-align:right; left:-10px;">
                        <span>__</span>
                        <p>
                            "Para comunicarnos eficazmente, debemos darnos cuenta que todos somos diferentes en la forma en que percibimos el mundo y usamos este entendimiento como una guía para nuestra comunicación con los demás."
                        </p>
                        <h3>
                            ANTHONY ROBBINS.
                        </h3>
                    </div>
                    <br /><br /><br /><br /><br />
                    <div class="desarrollo" id="variable-omnichannel" style="text-align:left">
                        <h3 id="titulo-omnichannel"></h3>
                        <div id="desarrollo-insight">
                            <p id="texto-omnichannel"></p>
                            <i class="material-icons" style="color:#ff6e40;font-size:35px;float:right">add_circle</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 visible-lg visible-md">
                    <img src="~/Content/Images/omarketing estrategia2-12.png" class="img-responsive triangulos-trasparentes" />
                </div>
            </div>
        </div>

        <!--Marketing Offline-->
        <div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="crecimiento">
                        <h3>Marketing Offline</h3>
                        <div class="texto-offline">
                            <p>Ciertamente estamos viviendo en una era digital, pero estadísticas como ésta muestran que no podemos ignorar el canal tradicional (ofﬂine). Omarketing mira el cuadro entero, integrando perfectamente el marketing OFF y ON logrando potencializar el efecto de cada uno “Fusion Marketing”.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="visible-lg visible-md" style="display:inline-block">
                        <img class="img-responsive" align="middle" style="margin-top: 5%; margin-left:20%;" src="~/Content/Images/e_offline.png">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <br />
                    <div class="cita-crecimiento visible-lg visible-md" style="text-align:right; left:-10px;">
                        <span>__</span>
                        <p>
                            Casi el 40% de los buscadores en línea realizan una compra tras ser influenciados por un canal sin conexión.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row offline-container">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <img class="img-responsive" src="~/Content/Images/e_atl.png" style="margin-top: -5%;">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div>
                            <h4 style="color:#ff6e40">ATL</h4>
                            <div class="content-modelo">
                                <p>Entendido dentro del marketing como “Above The Line” se reﬁere a realizar actividades promocióneseles a nivel macro, llegando masivamente, siendo de un alcance muy amplio y no directo.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br /><br />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <img class="img-responsive" src="~/Content/Images/e_btl.png" style="margin-top: -5%;">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div>
                            <h4 style="color:#ff6e40">BTL</h4>
                            <div class="content-modelo">
                                <p>Entendido dentro del marketing como “Below The Line”, se reﬁere a una comunicación no convencional, realizado a nivel micro.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br /><br />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <img class="img-responsive" src="~/Content/Images/e_ttl.png">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div>
                            <h4 style="color:#ff6e40">TTL</h4>
                            <div class="content-modelo">
                                <p>“Through the line” se reﬁere a una estrategia de marketing en la que combinan los medios ATL y BTL. Esta estrategia permite a las marcas generar un vinculo con los clientes en varios puntos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/Content/Images/omarketing estrategia2-13.png" class="img-responsive" style="position:relative; float:right;" />
                </div>
            </div>
        </div>

        <!--Marketing Online-->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <h3>Marketing Online </h3>
                    <div>
                        <p>El marketing digital o e-marketing cubre toda la actividad de marketing a través de Internet. Puede ser un método extremadamente rentable para alcanzar a tu cliente objetivo “Target” cuando es manejado correctamente.</p>
                        <br />
                        <p>El punto de partida es crear un sitio web bien diseñado que funciona correctamente y este optimizado para que los motores de búsqueda puedan encontrarlo. Hay una serie de maneras en que podemos conducir a los clientes a tu sitio web y generar clientes potenciales que podrás convertir en clientes.</p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg" style="background-color:#ff6e40;color:white">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <img src="~/Content/Images/e_markonline.png" class="img-responsive img-markonline" />
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br /><br /><br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                    <span>__</span>
                    <p style="text-align:right; font-size: 28px;">
                        El marketing en línea cubre sólo el 50% de la actividad
                    </p>
                    <p style="font-size: 18px; margin-top: -4%;">
                        que debe considerarse para la mayoría de las empresas y la comercialización fuera de línea también debe considerarse para hacer crecer tu negocio.
                    </p>
                </div>
            </div>
        </div>
        <!--Google-->
        <br />
        <br /><br />
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="engine">
                    <h3>Google</h3>
                    <p class="title">
                        SEO (Search engine optimization)
                    </p>
                    <p>
                        El SEO se identifica como un proceso a
                        largo plazo donde se logra posicionar a
                        una empresa, producto o servicio a
                        través de la relevancia del contenido.
                        Nuestros servicios SEO son eficaces
                        dado que incluyen la estrategia, la
                        investigación de palabras clave, la
                        optimización en sitio y fuera del sitio, la
                        creación de contenido y el marketing de
                        contenido, todo ello con un enfoque en
                        la generación de clientes potenciales y el
                        crecimiento de tu negocio.
                    </p>
                </div>
                <br />
                <br />
                <div class="search">
                    <p class="title">SEM (search engine marketing)</p>
                    <p>
                        Las campañas de SEM se deben planear
                        estratégicamente para lograr un
                        lanzamiento de producto, dar a conocer
                        una empresa o marca, promocionar un
                        servicio e incrementar ventas de manera
                        exitosa. Estas campañas pueden
                        ser anuncios de texto, videos o banners
                        que se exponen en los medios digitales
                        tales como Google, Facebook,
                        Linkedin, Twitter, Youtube, páginas o blogs
                        de acuerdo al segmento al que nos
                        queramos dirigir.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="img-google">
                    <img src="~/images/estrategia google colores.png" class="img-responsive" />
                </div>
                <div class="engine Advertising">
                    <p class="title">Display Advertising</p>
                    <p>
                        Omarketing es experto en tres de los tipos
                        más eficaces de publicidad en pantalla en
                        línea: Retargeting,
                        orientación contextual y orientación del
                        sitio. Nuestros servicios de publicidad en
                        pantalla le ayudarán a alcanzar
                        prospectos calificados y generar excelentes
                        oportunidades de ventas por medio de un
                        alto potencial de
                        conversión.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">

                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia2-16.png" class="img-responsive" style="margin-left:-128px;" />
                </div>
                <div class="engine analytic">
                    <p class="title">
                        Analytics
                    </p>
                    <p>
                        Google Analytics puede ser gratuito, pero
                        está lejos de ser simple. Nuestra exhaustiva
                        auditoría de Google
                        Analytics comunica si ha configurado
                        Google Analytics para realizar un
                        seguimiento adecuado de la información
                        que está buscando y, si no, cómo realizar
                        los ajustes necesarios.
                    </p>
                </div>
            </div>
        </div>
        <!--FIN Google-->
        <br /><br />
        <!--busines Intelligence-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="busines-inteligent">
                    <h3>
                        Business Intelligence y Data Mining
                    </h3>
                    <p>
                        Las empresas necesitan implementar
                        soluciones de Data Management a
                        través de una estrategia integrada que
                        les permita describir, organizar,
                        integrar, gestionar y utilizar datos útiles
                        al conjunto de su estrategia y unidades
                        de negocio.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="content-img-bsusines">
                    <img src="~/images/estrategia Business Intelligence.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 visible-lg visible-md">
                <div class="cita-busines">
                    <span>__</span>
                    <p>
                        “El futuro pertenece a
                        aquellos que entienden
                        cómo recolectar,
                        almacenar y utilizar sus
                        datos de manera
                        efectiva”
                    </p>
                </div>
            </div>
        </div>
        <!--fin busines Intelligence-->
        <!--Desarrollo Web App-->

        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="wep-app">
                    <h3>
                        Desarrollo Web App +
                        E-commerce
                    </h3>
                    <p>
                        Realizamos desarrollo de sitios Web
                        App y E-comerce de forma
                        personalizada, nuestro equipo es
                        experto
                        en todos los aspectos de las
                        habilidades front-end y back-end
                        necesarias, de igual forma estan
                        pensadas y construidas para generar
                        leads de forma asequibles, incluyendo
                        arquitectura y diseño sensible y
                        tecnologías de código abierto.
                    </p>
                    <p>
                        Más allá de la experiencia técnica,
                        nuestro personal es competente en las
                        áreas clave que hacen que su
                        nuevo sitio sea exitoso, incluyendo
                        SEO, experiencia de usuario (UX) y
                        optimización de la tasa de
                        conversión (CRO).
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="content-img-web-app">
                    <img src="~/images/estrategia Desarrollo Web App .png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 visible-lg visible-md">
                <div class="cita-busines">
                    <div style="margin-top:-80px;">
                        <img src="~/images/omarketing estrategia3-05.png" class="img-responsive visible-lg visible-md" />
                    </div>
                </div>
            </div>
        </div>
        <!--fin Desarrollo Web App-->
        <!--social media -->
        <br />
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="wep-app">
                    <h3>
                        Social Media
                    </h3>
                    <p>
                        Una de las partes más críticas de
                        cualquier campaña de medios sociales
                        es compartir las ideas correctas y el
                        contenido, y hacerlo de manera
                        coherente. Conocemos todos los
                        ins-ad-outs. Las redes sociales son el
                        canal de la comunicación en línea
                        dedicados a la entrada, la interacción,
                        el intercambio de contenido y la
                    </p>
                    <p>
                        Contruimos relaciones de valor de mutuo
                        beneficio a través de la gestión
                        estratégica de redes sociales de tu
                        organización. En Omarketing creamos
                        estrategias digitales con impacto y
                        resultados matedibles que impulsan la
                        participación de tus audiencias con el fin
                        de hacer crecer tu negocio.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="content-img-web-app">
                    <img src="~/images/estrategia Social Media.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 visible-lg visible-md">
                <div class="cita-busines">
                    <div style="margin-top:15px;margin-left:15px">
                        <img src="~/images/omarketing estrategia2-21.png" class="img-responsive visible-lg visible-md" />
                    </div>
                </div>
            </div>
        </div>
        <!--fin social media -->
        <!--ESTRATEGIA 3-->
        <br />
        <br />
        <br />
        <div class="estrategia-3">
            <!--Mobile Marketing-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="mobile-marketing">
                        <h3>
                            Mobile Marketing
                        </h3>
                        <br />
                        <br />
                        <p>
                            No hay un enfoque único para la publicidad
                            móvil “Mobile”, ya que esta plataforma
                            ofrece una amplia
                            variedad de opciones y formatos de
                            anuncios en los que te podremos ayudar.
                        </p>
                        <p>
                            * Click-to-Call *In-App Ads * Video Ads.
                        </p>
                        <p>
                            * Sitelink Ads * Instant Preview Ads.
                        </p>
                        <p>
                            * Promotion Code Ads.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="content-img-mobile-marketing">
                        <img src="~/images/estrategia Mobile Marketing.png" class="img-responsive" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 visible-lg visible-md">
                    <div class="cita-busines">
                        <div style="margin-top:-80px;">
                            <img src="~/images/omarketing estrategia3-05.png" class="img-responsive visible-lg visible-md" />
                        </div>
                    </div>
                </div>
            </div>
            <!--fin Mobile Marketing-->
            <!--email marketing-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="email-marketing">
                        <h3>
                            Email Marketing
                        </h3>
                        <br />
                        <br />
                        <p>
                            Te ayudaremos a cosechar los beneficios
                            de una campaña de marketing por
                            correo electrónico, por medio de
                            estrategias concretas, diseño, implementación,
                            administración de listas y seguimiento.
                        </p>
                        <p>
                            * *Promoción de productos y servicios por
                            correo electrónico.
                        </p>
                        <p>
                            * Inbound Marketing.
                        </p>
                        <p>
                            * Content Marketing.
                        </p>
                        <p>
                            Fidelización.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="content-img-email-marketing">
                        <img src="~/images/estrategia Mobile Marketing.png" class="img-responsive" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 visible-lg visible-md">
                    <div style="margin-top:-80px;margin-left:30px">
                        <img src="~/images/omarketing estrategia3-05.png" class="img-responsive visible-lg visible-md" />
                    </div>

                </div>
            </div>
            <!--fin email marketing-->
            <!--TDL -->
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="crecimiento">
                        <h3 style="font-size:18px;">TDL – Tradigital Line “Fusion Marketing”</h3>
                        <div>
                            <p style="display:inline">El fusión marketing consiste en la combinación del marketing tradicional con el digital, para tener éxito en esta fusión de marketing se debe saber combinar las herramientas del marketing</p>
                            <p style="display:inline; font-size:20px; font-weight:bold;"> ON y OFF</p>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                    <img src="~/Content/Images/e_tdl2.png" class="img-responsive tdl2" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="crecimiento kicker">
                                <h4 style="font-size:18px;">”Kicker Effect”</h4>
                                <div id="texto-kicker">
                                    <p>Cuando se impulsa la estrategia digital con la TV se genera un ”Kicker Effect”</p>
                                </div>
                            </div>
                            <br />
                            <br />
                            <img src="~/Content/Images/e_tdlkicker.png" class="img-responsive img-tdlkicker" />
                            <div class="interaccion" style="text-align:left">
                                <h4>Interacción entre multiplataformas</h4>
                                <div id="interaccion-enumerado">
                                    <h4>1.</h4><p> Generar Engagement.</p>
                                    <br />
                                    <h4>2.</h4><p> Analiza la #Data - #BigData</p>
                                    <br />
                                    <h4>3.</h4><p> Segmentación – Microsegmentación – Minería de datos.</p>
                                    <br />
                                    <h4>4.</h4><p> Utilizar los Vehículos correctos.</p>
                                    <br />
                                    <h4>5.</h4><p> Aumentar el ROI.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 buenaspracticas" style="text-align:left">
                                <br /><br /><br />
                                <h1>BUENAS PRÁCTICAS TDL</h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <div id="buenasp">
                                        <img src="~/Content/Images/bp_1.png" class="img-responsive" style="width: 170px;" />
                                        <h4>1.</h4><p> Priorizar la experiencia.</p>
                                        <br />
                                        <h4>2.</h4><p> Anímate al en Vivo.</p>
                                        <br />
                                        <img src="~/Content/Images/bp_2.png" class="img-responsive" />
                                        <h4>3.</h4><p> Piensa Mobile.</p>
                                        <br />
                                        <img src="~/Content/Images/bp_3.png" class="img-responsive" style="width: 150px;" />
                                        <h4>4.</h4><p> MultiPantallas.</p>
                                        <br />
                                        <h4>5.</h4><p> Hazte nativo.</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <div id="buenaspracticas-enumerado">
                                        <img src="~/Content/Images/bp_4.png" class="img-responsive" />
                                        <h4>6.</h4><p> Aumentar el presupuesto de marketing en video.</p>
                                        <br />
                                        <img src="~/Content/Images/bp_5.png" class="img-responsive" />
                                        <h4>7.</h4><p> Entiende tu audiencia.</p>
                                        <br />
                                        <img src="~/Content/Images/bp_6.png" class="img-responsive" />
                                        <h4>8.</h4><p> Genera contenido relevante.</p>
                                        <br />
                                        <h4>9.</h4><p> Encuentra el contexto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <br /><br /><br /><br />
                    <img src="~/Content/Images/omarketing estrategia3-10.png" class="img-responsive visible-lg visible-md" style="float: right" />
                </div>
            </div>
            <!---Fin TDL-->
            <br /><br /><br />
            <!---marcas blancas-->
            <div class="row">
                <div class="col-md-12 col-lg-12 titulo-marcas">
                    <h id="encab-crecimiento">MARCAS BLANCAS</h>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <br />
                    <div class="estrategia-marcas-blancas">
                        <h3>
                            Estrategia de marcas blancas
                        </h3>
                        <p>
                            Posicionamos a nuestros clientes de una
                            manera favorable para maximizar las
                            oportunidades existentes a través del análisis,
                            la identificación y la creación de estrategias y
                            tácticas para determinar el papel de marca
                            blanca dentro de una categoría.
                        </p>
                        <p>
                            Con una comprensión crítica de la industria
                            de marcas blancas, el nuevo árbol de
                            decisión y el nuevo costumer decision journey
                            ayudamos a nuestros clientes a tener un
                            enfoque pragmático y orientado a la acción.
                        </p>
                        <p>
                            Trabajamos de la mano con nuestros clientes
                            para diseñar planes de marketing de marcas
                            blancas, mejorar sus capacidades y poner en
                            marcha sus planes de ventas.
                        </p>
                        <p>
                            La clave del éxito es la percepción positiva
                            del consumidor: la creencia de que los
                            productos de marca blancas son tan buenos
                            como, si no mejores que, las marcas,que se
                            encuentran junto al estante.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="flor-marcas" style="display:inline-block;">
                        <img src="~/Content/Images/e_insightful_innovation.png" class="img-responsive img-flor-marca grayest-m" id="marca-flor-6" />
                        <img src="~/images/flor4.png" class="img-responsive img-flor-marca" id="marca-flor-1" />
                        <img src="~/Images/omarketing estrategia3-21.png" class="img-responsive img-flor-marca grayest-m" id="marca-flor-5" />
                        <img src="~/images/flor1.png" class="img-responsive img-flor-marca grayest-m" id="marca-flor-7" />
                        <img src="~/images/flor2.png" class="img-responsive img-flor-marca grayest-m" id="marca-flor-2" />
                        <img src="~/images/flor7.png" class="img-responsive img-flor-marca grayest-m" id="marca-flor-3" />
                        <img src="~/Images/omarketing estrategia3-20.png" class="img-responsive img-flor-marca grayest-m" id="marca-flor-4" />

                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="cita-marcas visible-lg visible-md">
                        <span>__</span>
                        <p>
                            “Para el consumidor no
                            existen diferencias de
                            entre las marcas blancas
                            y las marcas privadas,
                            por este motivo debemos
                            tratar a las marcas
                            blancas como marcas”
                        </p>

                    </div>
                    <div class="texto-estrategia-marcas">
                        <p clas="tit-es" style=" color: #ff6e40;font-weight:bold;">
                            Estrategia
                        </p>
                        <p>
                            Una estrategia de marketing MIX es
                            fundamental para lograr tus objetivos
                            de marca blanca. El precio, el producto y
                            los canales de distribución son el arma mas
                            poderosa de una marca blanca.
                        </p>
                    </div>
                </div>
            </div>
            <!---fin marcas blancas-->
            <div class="row">
                <div class="cita-bajo-marcas visible-lg visible-md col-md-12 col-lg-12">
                    <span>__</span>
                    <p>
                        Omarketing® es la primera
                        compañía Colombiana
                        especializada en servicios de
                        consultoría estratégica y
                        apoyo a la gestión de proyectos
                        para marcas blancas.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <div class="texto-journey">
                        <h3>
                            Nuevo árbol de
                            decisión y en el nuevo
                            customer decision journey
                        </h3>
                        <p>
                            Las marcas blancas al realizar estrategias
                            de mercadeo enfocadas en el nuevo árbol
                            de decisión y en el nuevo customer decision
                            journey son las que te ayudaran a
                            maximizar tu ingresos.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1">
                    <div>
                        <img src="~/images/estrategia phantom.png" class="img-responsive img-phanton" />
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 visible-lg visible-md">
                    <div class="phantom-cita">
                        <span>__</span>
                        <p>
                            Phantom brands
                            Private label
                        </p>
                    </div>
                </div>
            </div>
            <!--ARBOL DE DECISION-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h3 style="color:#ff6e40;">
                        Árbol de decisión:
                    </h3>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div>
                        <img src="~/images/omarketing estrategia3-33.png" class="img-responsive" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 style="color:#ff6e40;">Customer journey map a:</h3>
                    <div>
                        <img src="~/images/omarketing estrategia3-34.png" class="img-responsive" />
                    </div>
                    <h3 style="color:#ff6e40;">Customer journey map b:</h3>
                    <div>
                        <img src="~/images/omarketing estrategia3-35.png" class="img-responsive" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 visible-lg visible-md">
                    <div class="cita-latam visible-lg visible-md" style="max-width:350px; text-align:right">
                        <span>__</span>
                        <p>
                            “Las phantom brands
                            (marcas blancas, marcas de
                            bajo costo y tiendas hard
                            discounts) serán tendencia
                            en LATAM a partir del
                            2017”
                        </p>
                    </div>
                    <img src="~/images/omarketing estrategia3-10.png" class="img-responsive" style="height:850px" />
                </div>
            </div>

            <!--Pricing---->

            <div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                        <h1 id="encab-crecimiento">PRICING</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <br />
                        <div class="crecimiento">
                            <h3>Estrategia de insights</h3>
                            <div>
                                <p>Realizamos procesos de investigación disruptivos y creativos para identiﬁcar los Insights de tus consumidores/shoppers. Permitiéndonos desarrollar estrategias que conecten a las personas con tu negocio o marca.</p>
                            </div>
                        </div>
                        <div class="pricing-listado" style="text-align:left;clear:right">
                            <br />
                            <p style="text-align: left; color: #ff6e40;">
                                Nuestra estrategia de pricing abarcan las siguientes áreas:
                            </p>
                            <div id="pricing-enumerado">
                                <br />
                                <h4>-</h4><p> Estrategias de pricing para productos, unidades de negocio y empresas. (Fijación de precios).</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Pricing para lanzamientos y post-lanzamientos.</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Términos y condiciones de descuentos por canal.</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Negociaciones de precios.</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Pricing internacional / global</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Organización y procesos de pricing.</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Control de precios y KPIs de pricing.</p>
                                <br />
                                <br />
                                <h4>-</h4><p> Aumento y o disminución de precios.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <div class="insight" style="display:inline-block">
                            <img class="img-responsive graypri pricing1" id="tamano-pricing" src="~/Content/Images/estrategia pricing fijacion de precios.png">
                            <img src="~/Content/Images/estrategia pricing.png" class="img-responsive pricing3" id="tamano-pricing"/>
                            <img class="img-responsive graypri pricing2" id="tamano-pricing" src="~/Content/Images/estrategia pricing aumento .png">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                        <br />
                        <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                            <span>__</span>
                            <p style="text-align:right">
                                “El poder de fijación de precios es el auténtico secreto del value investing”
                            </p>
                            <h3>
                                WARREN BUFFETT
                            </h3>
                        </div>
                        <br /><br /><br /><br /><br />
                        <div style="text-align:left;clear:right">
                            <h3 style="font-weight: bold;color: #ff6e40;">
                                Fijación de Precios. 
                            </h3>
                            <p style="text-align: left; color: black">
                                Te ayudamos a realizar una estrategia de pricing exitosa por medio de una Fijación de Precios para cada etapa de tu marca, producto, servicio, negocio u organización.
                            </p>
                            <div id="pricing-enumerado">
                                <br />
                                <h4>1.</h4><p> En función de la demanda.</p>
                                <br />
                                <br />
                                <h4>2.</h4><p> Costo más Margen.</p>
                                <br />
                                <br />
                                <h4>3.</h4><p> Fijación de precios a los canales.</p>
                                <br />
                                <br />
                                <h4>4.</h4><p> Descuentos Financieros y Pronto Pago.</p>
                            </div>                               
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br /><br /><br />
            <div class="row">
                <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12">
                    <h2 id="titulo-man1">10 MANDAMIENTOS</h2>
                    <br />
                    <h1 id="titulo-man2">DEL PRICING</h1>
                    <div id="mandamientos-1">
                        <br />
                        <img src="~/Content/Images/omarketing estrategia3-41.png" class="img-responsive" style="width: 200px;" />
                        <h4>1.</h4><p> Involucrar a la dirección de la empresa.</p>
                        <br />
                        <br />
                        <h4>2.</h4><p> Adoptar una visión integradora de variables clave para los precios.</p>
                        <br />
                        <br />
                        <img src="~/Content/Images/omarketing estrategia3-42.png" class="img-responsive" style="width: 220px;" />
                        <h4>3.</h4><p> Utilizar los costos, solo para conocer el piso de las decisiones de precios.</p>
                        <br />
                        <br />
                        <h4>4.</h4><p> Explorar oportunidades de segmentación de precios.</p>
                        <br />
                        <br />
                        <img src="~/Content/Images/omarketing estrategia3-45.png" class="img-responsive" style="width: 200px;" />
                        <h4>5.</h4><p> Identiﬁcar competidosres relevantes y realizar un seguimiento de precios.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-xs-12 col-sm-12">
                    <div id="mandamientos-2">
                        <img src="~/Content/Images/omarketing estrategia3-47.png" class="img-responsive" id="img-man1" style="width: 200px;" />
                        <h4>6.</h4><p> Monitorear el precio en toda la cadena comercial y los márgenes en cada nivel.</p>
                        <br />
                        <br />
                        <img src="~/Content/Images/omarketing estrategia3-43.png" class="img-responsive" id="img-man2" style="width: 110px;" />
                        <h4>7.</h4><p> Designar un responsable de decisiones de precios dentro de la empresa.</p>
                        <br />
                        <br />
                        <img src="~/Content/Images/omarketing estrategia3-44.png" class="img-responsive" id="img-man3" style="width: 160px;" />
                        <h4>8.</h4><p> Formalizar y documentar un proceso para tomar decisiones de precio.</p>
                        <br />
                        <br />
                        <h4>9.</h4><p> Canalizar los casos especiales dentro del proceso general de gestión de precios.</p>
                        <br />  
                        <br />
                        <img src="~/Content/Images/omarketing estrategia3-46.png" class="img-responsive" id="img-man4" style="width: 290px;" />
                        <h4>10.</h4><p> Establecer objetivos claros, acompañados de un sistema de incentivos acorde.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--FIN ESTRATEGIA 3-->
        <br /><br /><br />
        <!---branding-->
        <div class="row">
            <div class="col-md-12 col-lg-12 titulo-marcas">
                <h id="encab-crecimiento">BRANDING</h>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="estrategia-marcas-blancas">
                    <h3>
                        Estrategia de branding
                    </h3>
                    <p>
                        La estrategia de Branding es el pilar, la
                        estructura de la organización.
                    </p>
                    <p>
                        Una marca es mucho más que un logotipo.
                        Es un universo de sensaciones.
                    </p>
                    <p>
                        Incorporamos el pensamiento de la marca
                        contemporánea para ayudar a nuestros
                        clientes a desarrollar marcas más fuertes,
                        teniendo una perspectiva más centrada en el
                        consumidor en vez de la marca. Vamos más
                        allá de la conciencia funcional de la marca,
                        captando las emociones de los consumidores
                        hacia las marcas, mediante el uso de
                        métodos implícitos y la comprensión del
                        consumidor.
                    </p>
                    <p>
                        Ayudamos a nuestros clientes a tocar el alma
                        de los consumidores, sabiendo que la
                        identificación de los consumidores con las
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg" style="background-color:#ff6e40;color:white">Ver más</button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="flor-branding" style="display:inline-block;">
                    <img src="~/images/omarketing estrategia3-55.png" class="img-responsive img-flor-marca grayest-m" id="branding-flor-6" />
                    <img src="~/images/flor7.png" class="img-responsive img-flor-marca" id="branding-flor-1" />
                    <img src="~/Images/omarketing estrategia3-54.png" class="img-responsive img-flor-marca grayest-m" id="branding-flor-5" />
                    <img src="~/images/omarketing estrategia3-50.png" class="img-responsive img-flor-marca grayest-m" id="branding-flor-7" />
                    <img src="~/images/omarketing estrategia3-52.png" class="img-responsive img-flor-marca grayest-m" id="branding-flor-3" />
                    <img src="~/Images/omarketing estrategia3-53.png" class="img-responsive img-flor-marca grayest-m" id="branding-flor-4" />

                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="cita-marcas visible-lg visible-md">
                    <span>__</span>
                    <p>
                        “La Marca es mucho más
                        que un bonito logo, es el
                        sistema de gestión de la
                        organización”
                    </p>
                    <h3>ANDRÉS VENEGAS P.</h3>
                </div>
                <div class="texto-estrategia-marcas">
                    <p clas="tit-es" style=" color: #ff6e40;font-weight:bold;">
                        Branding personal
                    </p>
                    <p>
                        Branding Personal es la estrategia y la
                        mejor solución que cada uno puede
                        aplicar a sí mismo para alcanzar,
                        satisfactoriamente, los objetivos deseados
                        y poder así ser valorado por los talentos
                        personales.
                    </p>
                </div>
            </div>
        </div>
        <!---fin branding-->
        <br /><br /><br />

        <!--Servicios branding-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="titulo-serv-branding">
                    <h4>Servicios</h4>
                    <br />
                    <h1>Branding</h1>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <img src="~/images/omarketing estrategia3-59.png" style="float:left;width:190px;" class="img-responsive img-serv-branding" align="middle" />
                    <div class="servicios-branding">
                        <h3>Auditoría de marca y posicionamiento</h3>
                        <p>
                            Identificamos cómo es percibida su
                            marca y le ayudamos a posicionarla
                            con éxito en la mente de las personas
                            a las que se dirija.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="clear:left">
                    <img src="~/images/omarketing estrategia3-62.png" style="float:left;width:190px;" class="img-responsive img-serv-branding" align="middle" />
                    <div class="servicios-branding">
                        <h3>Digital branding</h3>
                        <p>
                            Le ayudamos a obtener presencia de
                            marca en el entorno digital con
                            consistencia y coherencia,
                            aprovechando las posibilidades de
                            interacción entre las distintas
                            plataformas (Omnichannel, generando
                            mejores experiencias de marca para
                            sus clientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <img src="~/images/omarketing estrategia3-60.png" style="float:left;width:190px;" class="img-responsive img-serv-branding" align="middle" />
                    <div class="servicios-branding">
                        <h3>Arquitectura de marca</h3>
                        <p>
                            Le ayudamos a crear la estructura
                            adecuada para gestionar
                            competitivamente su cartera de
                            marcas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="clear:left">
                    <img src="~/images/omarketing estrategia3-63.png" style="float:left;width:190px;" class="img-responsive img-serv-branding" align="middle" />
                    <div class="servicios-branding">
                        <h3>Rebranding</h3>
                        <p>
                            Le ayudamos a actualizar o reinventar
                            su marca para que conserve su
                            espacio en la mente de las personas,
                            o para que pase a ocupar otro más
                            relevante, cuando así sea conveniente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <img src="~/images/omarketing estrategia3-61.png" style="float:left;width:190px;" class="img-responsive img-serv-branding" align="middle" />
                    <div class="servicios-branding">
                        <h3>Naming</h3>
                        <p>
                            Le ayudamos a identificar, desarrollar
                            e implementar un nombre que articule
                            con éxito su estrategia corporativa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div style="clear:left">
                    <img src="~/images/omarketing estrategia3-64.png" style="float:left;width:190px;" class="img-responsive img-serv-branding" align="middle" />
                    <div class="servicios-branding">
                        <h3>Social media branding</h3>
                        <p>
                            Le ayudamos a identificar, seleccionar
                            e integrar las redes sociales de mayor
                            valor para su empresa, en su
                            estrategia de marketing y
                            comunicación.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md">
                <img src="~/Content/Images/omarketing estrategia2-15.png" class="img-responsive" style="float:right"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 modelo3i">
                <h1 style="color: #ff6e40;font-size:40px">Modelo de las 3i</h1>
                <div class="titulo-modelo3i">                    
                    <p>
                        Le ayudamos a crear la estructura adecuada para gestionar competitivamente su cartera de marcas.
                    </p>
                </div>
                <img src="~/Content/Images/omarketing estrategia3-65.png" class="img-responsive" style="float:left" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <h1 style="color: #ff6e40; font-size:40px">Matriz de valores </h1>
                <div class="titulo-modelo3i">
                    <p>
                        Le ayudamos a crear la estructura adecuada para gestionar competitivamente su cartera de marcas.
                    </p>
                </div>                
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right;float:right">
                    <p style="text-align:right">
                        “La Marca es mucho más que un bonito logo, es el sistema de gestión de la organización”
                    </p>
                    <h3>
                        ANDRÉS VENEGAS P.
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <img src="~/Content/Images/omarketing estrategia3-67.png" class="img-responsive img-67" style="float:left;" />
            </div>
        </div>      
        <!--FIN Servicios branding-->
    </div>
</div>



        



        

    

       
     
       


