<br />
<br />
<div class="margen">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <div>
                <span class="glyphicon glyphicon-circle-arrow-right icon-color tam"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <div>
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_estrategia.png" align="middle" class="iconos-estrategia">
                </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <div style="float:right">
                <span class="glyphicon glyphicon-circle-arrow-right icon-color tam"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
            <div>
                <h1 class="color-orange">ESTRATEGIA</h1>
                <p class="color-est">
                    descubra nuevas oportunidades de
                    crecimiento en las categorías actuales y
                    adyacentes, actúe identificando las
                    tendencias y realizando un diagnóstico
                    estratégico de crecimiento.
                </p>
                <br />
                <br />
                <br />
                <br />
                <div>
                    <span class="color-est color-o" style="font-size:23px;padding:5px">Ver Más</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="flor-estrategia" style="display:inline-block;">
                    <img src="~/images/flor6.png" class="img-responsive img-flor" id="imagen-flor-6" />
                    <img src="~/images/flor1.png" class="img-responsive img-flor" id="imagen-flor-1" />
                    <img src="~/images/flor5.png" class="img-responsive img-flor" id="imagen-flor-5" />
                    <img src="~/images/flor7.png" class="img-responsive img-flor" id="imagen-flor-7" />
                    <img src="~/images/flor2.png" class="img-responsive img-flor" id="imagen-flor-2" />
                    <img src="~/images/flor3.png" class="img-responsive img-flor" id="imagen-flor-3" />
                    <img src="~/images/flor4.png" class="img-responsive img-flor" id="imagen-flor-4" />

                </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
            <div class="visible-lg visible-md">
                <img src="~/images/ImagenesComo/19397866_1568374316547203_28981247_n.png"  class="img-responsive"/>
            </div>
            <div>
                <h1 class="color-orange">
                    Branding
                </h1>
                <p class="color-est">
                    es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N.del T. persona que se dedica
                </p>
                <span class="glyphicon glyphicon-plus color-ico-mas tam"></span>
            </div>
        </div>
        <br />
        <br />
        <div class="col-lg-7 col-md-7 col-lg-offset-5 col-md-offset-5 col-sm-7 col-xs-7 col-sm-offset-5 col-xs-offset-5">
            <span class="glyphicon glyphicon-chevron-down" style="color:#ff6e40;font-size:30px;cursor:pointer"></span>
        </div>
    </div>
</div>
