<br />
<br />
<div class="margen">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div><span class="glyphicon glyphicon-circle-arrow-right icon-color"></span></div>
            <div>
                <h1 class="color-orange">ESTRATEGIA</h1>
                <p class="color-est">
                    Descubra nuevas oportunidades de
                    crecimiento en las categorías actuales y
                    adyacentes, actúe identificando las
                    tendencias y realizando un diagnóstico
                    estratégico de crecimiento.
                </p>
                <div>
                    <span class="color-est color-o">Ver Más</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div>
                <img src="~/images/ico1.png"  align="middle">
                <img src="~/images/ico2.png"  align="middle">
                <img src="~/images/ico3.png"  align="middle">
                <img src="~/images/ico-logo.png"  align="middle">
                <img src="~/images/ico6.png"  align="middle">
                <img src="~/images/ico4.png"  align="middle">
                <img src="~/images/ico5.png" align="middle">
            </div>
            <div class="flor-estrategia" style="display:inline-block;float:left">
                <img src="~/images/flor1.png" class="img-responsive img-flor" />
                <img src="~/images/flor2.png" class="img-responsive img-flor"/>
                <img src="~/images/flor3.png" class="img-responsive img-flor"/>
                <img src="~/images/flor4.png" class="img-responsive img-flor"/>
                <img src="~/images/flor5.png" class="img-responsive img-flor"/>
                <img src="~/images/flor6.png" class="img-responsive img-flor"/>
                <img src="~/images/flor7.png" class="img-responsive img-flor"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div><span class="glyphicon glyphicon-circle-arrow-right icon-color"></span></div>
            <div>
                <img src="~/images/ImagenesComo/19397866_1568374316547203_28981247_n.png"  class="img-responsive"/>
            </div>
            <div>
                <h1 class="color-orange">
                    Branding
                </h1>
                <p class="color-est">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
                <span class="glyphicon glyphicon-plus color-ico-mas"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6">
            <span class="glyphicon glyphicon-chevron-down" style="color:#ff6e40"></span>
        </div>
    </div>
</div>
