<br />
<br />
<div class="margen">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <div>
                <span class="glyphicon glyphicon-circle-arrow-right icon-color tam"></span>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <div>
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_estrategia.png" align="middle" class="iconos-estrategia">
                </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <div style="float:right">
                <span class="glyphicon glyphicon-circle-arrow-right icon-color tam"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
            <div>
                <h1 class="color-orange">ESTRATEGIA</h1>
                <p class="color-est">
                    descubra nuevas oportunidades de
                    crecimiento en las categorías actuales y
                    adyacentes, actúe identificando las
                    tendencias y realizando un diagnóstico
                    estratégico de crecimiento.
                </p>
                <br />
                <br />
                <br />
                <br />
                <div>
                    <span class="color-est color-o" style="font-size:20px;padding:5px">Ver Más</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="flor-estrategia" style="display:inline-block;">
                    <img src="~/images/flor6.png" class="img-responsive img-flor" id="imagen-flor-6" />
                    <img src="~/images/flor1.png" class="img-responsive img-flor" id="imagen-flor-1" />
                    <img src="~/images/flor5.png" class="img-responsive img-flor" id="imagen-flor-5" />
                    <img src="~/images/flor7.png" class="img-responsive img-flor" id="imagen-flor-7" />
                    <img src="~/images/flor2.png" class="img-responsive img-flor" id="imagen-flor-2" />
                    <img src="~/images/flor3.png" class="img-responsive img-flor" id="imagen-flor-3" />
                    <img src="~/images/flor4.png" class="img-responsive img-flor" id="imagen-flor-4" />

                </div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
            <div class="visible-lg visible-md">
                <img src="~/images/ImagenesComo/19397866_1568374316547203_28981247_n.png"  class="img-responsive"/>
            </div>
            <div>
                <h1 class="color-orange">
                    Branding
                </h1>
                <p class="color-est">
                    es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N.del T. persona que se dedica.
                </p>
                <span class="glyphicon glyphicon-plus color-ico-mas tam"></span>
            </div>
        </div>
        <br />
        <br />
        <div class="col-lg-7 col-md-7 col-lg-offset-5 col-md-offset-5 col-sm-7 col-xs-7 col-sm-offset-5 col-xs-offset-5">
            <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#ff6e40;font-size:30px;cursor:pointer"></span></a>
        </div>
    </div>
</div>

<div class=" margen estrategia-blanca" style="display:none" id="ver-mas">
    <br />
    <br />
    <div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-12" style="left:27px">
                <div>
                    <img src="~/images/flor2.png" align="middle" style="width:50px">
                    <img src="~/images/flor7.png" align="middle" style="width:50px">
                    <img src="~/images/flor6.png" align="middle" style="width:50px">
                    <img src="~/images/flor1.png" align="middle" style="width:50px">
                    <img src="~/images/flor5.png" align="middle" style="width:50px">
                    <img src="~/images/flor3.png" align="middle" style="width:50px">
                    <img src="~/images/flor4.png" align="middle" style="width:50px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">CRECIMIENTO</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <h3>Estrategia de crecimiento</h3>
                    <div>
                        <p>Nuestras soluciones de Estrategia utilizan datos robustos e información de mercado que le ayudarán a encontrar nuevas posibilidades para hacer crecer su negocio.</p>
                        <br />
                        <p>Nos anticipamos a las tendencias, reconocemos oportunidades de crecimiento y  generamos las condiciones necesarias para transformar las oportunidades en realidades y obtener resultados.</p>
                        <br />
                        <p>Descubra nuevas oportunidades de crecimiento en las categorías actuales y adyacentes, actúe identiﬁcando las tendencias y realizando un diagnóstico estratégico de crecimiento.</p>
                        <br />
                        <p>Nuestro equipo tiene amplia experiencia en estrategias de crecimiento y puede</p>
                    </div>
                    <br /><br />
                    <div>
                        <span class="color-est color-o" style="font-size:20px;padding:5px">Ver Más</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="crecimiento-hex" style="display:inline-block">
                    <img class="img-responsive img-penetr" id="tamano-hex" src="~/Content/Images/e_penetracion.png">
                    <img class="img-responsive img-desarr" id="tamano-hex"  src="~/Content/Images/e_desarr.png">
                    <img class="img-responsive img-pic23" id="tamano-hex"  src="~/Content/Images/e_pic23.png">
                    <img class="img-responsive img-crec" id="tamano-hex"  src="~/Content/Images/e_crec.png">
                    <img class="img-responsive img-diver" id="tamano-hex"  src="~/Content/Images/e_diver.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                    <span>__</span>
                    <p style="text-align:right">
                        "Un benecio y un crecimiento débil muchas veces son culpa de una estrategia inefectiva"
                    </p>
                    <h3>
                        ANDRÉS VENEGAS P.
                    </h3>
                </div>
                <br /><br /><br />
                <div class="desarrollo" style="text-align:left">
                    <h3>
                        Desarrollo de nuevos mercados
                    </h3>
                    <div id="desarrollo-insight">
                        <p>
                            Crear, buscar, abrir, desarrollar nuevos mercados con productos existentes.
                        </p>
                        <br />
                        <p>- Nuevos usos.</p>
                        <p>- Mejores precios.</p>
                        <p>- Nuevos canales.</p>
                        <p>- Mayor inversión publicitaria.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 unicos" style="text-align:left">
                <h1>Somos únicos</h1>
                <p>Gracias a nuestro Modelo</p>
                <p id="c-registrado">CANVAS STP &#174</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="enumerado">
                    <h1>1.</h1><h3> Estrategias de valor</h3>
                    <p>Nuestros expertos combinan información del sector y de la estrategia, logrando una comprensión precisa de las necesidades especíﬁcas de crecimiento de nuestros clientes.</p>
                    <br />
                    <h1>2.</h1><h3> Perceptivo y vanguardista</h3>
                    <p>Identiﬁcamos categorías, marcas y tendencias nuevas y emergentes en el cualquier sector.</p>
                    <br />
                    <h1>3.</h1><h3> Rapidez y presición</h3>
                    <p>Nuestros expertos combinan información del sector y de la estrategia, logrando una comprensión precisa de las necesidades especíﬁcas de crecimiento de nuestros clientes.</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <img class="img-responsive canvas" style="width:90%" src="~/Content/Images/e_canvas_stp.png">
            </div>
        </div>
    </div>
    <br /><br /><br /><br />
    <div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">INSIGHTS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <h3>Estrategia de insights</h3>
                    <div>
                        <p>Aprovechar el poder de los conocimientos del consumidor marcarán la diferencia entre los actores débiles y fuertes en cualquier industria.</p>
                        <br />
                        <p>Realizamos procesos de investigación disruptivos y creativos para identiﬁcar los Insights de tus consumidores/shoppers. Permitiéndonos desarrollar estrategias que conecten a las personas con tu negocio o marca.</p>
                    </div>
                    <br /><br />
                    <div>
                        <span class="color-est color-o" style="font-size:20px;padding:5px">Ver Más</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="insight" style="display:inline-block">
                    <img class="img-responsive insights1" id="tamano-insights" src="~/Content/Images/e_insightful_innovation.png">                    
                    <img class="img-responsive insights3" id="tamano-insights" src="~/Content/Images/e_insights.png">
                    <img class="img-responsive insights2" id="tamano-insights" src="~/Content/Images/e_insightful_planning.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                    <span>__</span>
                    <p style="text-align:right">
                        ¿El resultado? Una marca capaz de conectar con sus clientes de forma emocional, relevante y diferente?.
                    </p>
                </div>
                <br /><br /><br /><br /><br />
                <div class="desarrollo" style="text-align:left">
                    <h3>
                        Insightful Innovation
                    </h3>
                    <div id="desarrollo-insight">
                        <p>
                            Usando una mezcla híbrida de técnicas innovadoras. Somos capaces de encontrar y generar insights más frescos y poderosos, logrando potencializar el crecimiento de tu negocio.
                        </p>
                        <span class="glyphicon glyphicon-plus color-ico-mas tam"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 insight-innovation">
                <h3>Insightful Innovation</h3>
                <p>
                    Usando una mezcla híbrida de técnicas
                    innovadoras. Somos capaces de encontrar
                    y generar insights más frescos y
                    poderosos, logrando potencializar el
                    crecimiento de tu negocio.
                </p>
                <p>
                    Con Insightful innovation, buscamos eso
                    que todos ven, pero que nadie se atreve o
                    se le ocurre plantear; vemos donde otros
                    no ven, para encontrar lo que los otros no
                    encuentran.
                </p>
            </div>
            <div class="col-lg-4 col-md-4  col-lg-offset-4 col-md-offset-4 visible-lg visible-md cita-insight">
                <div>
                    <img src="~/images/rayas.PNG" class="img-responsive"/>
                </div>
                <br />
                <p style="text-align:right" class="visible-lg visible-md">
                    “Decodificamos la
                    experiencia del consumidor
                    Encontramos necesidades
                    humanas no reveladas.”
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 exploramos">
                <div>
                    <img src="~/images/estrategia exploramos.png" style="float:left" class="img-responsive" align="middle" />
                    <p class="par">Exploramos</p>
                    <p class="ex">
                        Exploramos la mente/cultura del
                        consumidor necesidades humanas no
                        reveladas.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="cazamos">
                    <img src="~/images/estrategia cazamos tendencias.png" style="float:left" class="img-responsive" align="middle" />
                    <div class="content-cazamos">
                        <p class="text-c">Cazamos</p>
                        <p class="text-t">
                            Cazamos tendencias observación y
                            análisis cultural.
                        </p>
                    </div>
                </div>
                <div>
                    <div class="onnovation" style="clear:left;">
                        <img src="~/images/estrategia onnovation.png" style="float:left" class="img-responsive" align="middle" />
                        <p class="text-o">Modelo Onnovation®</p>
                        <p>
                            Decodificamos la experiencia del
                            consumidor
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4  visible-lg visible-md">
                <img src="~/images/ImagenesComo/19397866_1568374316547203_28981247_n.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 exploramos">
                <div>
                    <img src="~/images/estrategia modelo onsight.png" style="float:left" class="img-responsive" align="middle" />
                    <p class="par">Modelo de insights estratégico Onsight®</p>
                    <p class="ex">
                        falta el texto de aqui
                    </p>
                </div>
            </div>
        </div>
        <!--cinco verdades del insight-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 style="font-weight: bold;color: #ff6e40;font-weight:bold">
                    5 VERDADES DEL INSIGTH
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div>
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">1</p>
                    <div>
                        <p>Verdad relevada</p>
                        <p>Descubrimiento.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">2</p>
                    <div>
                        <p>Verdad intuitiva</p>
                        <p>Sentimiento..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">3</p>
                    <div>
                        <p>Verdad disruptiva</p>
                        <p>Cambio.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">4</p>
                    <div>
                        <p>Verdad compartida</p>
                        <p>Social Cultural.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div style="clear:left">
                    <p style="float:left;margin-top:-20px;font-size:70px;color: #ff6e40;">5</p>
                    <div>
                        <p>Verdad no revelada</p>
                        <p>Oportunidad.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-verdades">
                    <img src="~/images/estrategia onsight.png" class="img-responsive"/>
                    <p class="texto-modelo-onsight" style="margin-left:225px;margin-top:-70px; color:#ff6e40">
                        Modelo de insights
                    </p>
                    <p class="texto-modelo-onsight" style="margin-left:225px;color:#ff6e40">
                        estratégico Onsight ®
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!--fin de cinco verdades del insight-->

        
        <!--Insightful Planning-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 planing">
                <h3>Insightful Planning</h3>
                <p>Cada consumidor y generación es único a
                    su manera. Mientras que los Baby
                    Boomers sólo seguían las reglas las
                    generación X las rompió, la generación Y
                    quiere co-crear las reglas mientras la
                    generación Z crea sus propias reglas
                    personales.
                </p>
                <p>
                    Damos poder a los consumidores para
                    observar e informar sobre su propia
                    realidad cotidiana, en cualquier momento
                    y en cualquier lugar, proporcionando la
                    información personal y contextual
                    necesaria para permitir la comprensión
                    profunda del consumidor.
                </p>
                <p>
                    Llevamos a los consumidores vivos dentro
                    de las organizaciones y sumergimos a los
                    empleados en el mundo del consumidor.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="img-planing">
                    <img src="~/images/estrategia insightfullp.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <!--fin de Insightful Planning-->
    </div>
</div>
    
