@{
    ViewData["Title"] = "Home Page";
}
<!-- SERVICIOS -->
<div class="margen">
    <div>
        <h1 class="titulo-serv">Servicios</h1>
        <div class="div-servicios" style="max-width:400px">
            <h3 id="titulo-encabezado" class="titulo-encab"></h3>
            <p id="texto-encabezado" style="text-align:left"></p>
        </div>
    </div>
    <div class="algo-emocional" style="max-width:300px; text-align:right">
        <span class="text-color">--</span>
        <h3>
            ALGO EMOCIONAL
        </h3>
        <p style="text-align:right">
            La frase que conecta al usuario y dice lo que hacemos y es genial.
        </p>
    </div>
    <div>
        <div class="flor">
            <img class="img-responsive img-innovacion gray" src="~/Content/Images/s_innovacion.png">
            <img class="img-responsive img-estrategia gray" src="~/Content/Images/s_estrategia.png">
            <img class="img-responsive img-marketing-mix gray" src="~/Content/Images/s_marketing_mix.png">
            <img class="img-responsive img-shopper gray" src="~/Content/Images/s_shopper.png">
            <img class="img-responsive img-cmr gray" src="~/Content/Images/s_cmr.png">
            <img class="img-responsive img-neuromarketing gray" src="~/Content/Images/s_neuromarketing.png">
            <img class="img-responsive img-logo" src="~/Content/Images/logo-01.png">
        </div>
    </div>
</div>

<!--como funciona-->
<div class="row how-container margin-row">
    <div class="col-md-6 col-sm-10 col-xs-10" style="padding-right: 70px;">
        <h6 class="how-title">Cómo funciona</h6>
        <p class="text-section">
            Diseñamos estrategias integradas de marketing y
            ayudamos a ponerlas en acción. Integramos aptitudes
            analíticas y creativas con capacidades técnicas y
            resolutivas.</p>
        <p class="text-section">
            Partimos del análisis, la comprensión y la validación de tu
            modelo de negocio, desde el cual planteamos las líneas
            estratégicas, las actividades tácticas y las acciones
            operativas más adecuadas para alcanzar con máxima
            eficiencia los objetivos propuestos, cumplir las expectativas
            de sus clientes, empleados y accionistas, y superar a sus
            competidores.
        </p>
    </div>
    <div class="col-xs-2 col-sm-2 visible-xs visible-sm" style="margin-top: 165px;">
        <span class="glyphicon glyphicon-circle-arrow-right icon-color icon-size"></span>
    </div>
    <div class="col-md-3 col-md-offset-3 hidden-sm hidden-xs algo-emocional-3" style="text-align: right">
        <span class="text-color">--</span>
        <h3>ALGO EMOCIONAL</h3>
        <p>La frase que conecta al usuario y dice lo que hacemos y es genial</p>
    </div>
</div>
<div class="visible-md visible-lg">
    <div class="row how-container margin-row">
        <div class="col-md-4">
            <div>
                <h2 class="text-color">
                    Estrategía<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            <div style="margin-top: 200px; margin-left: 90px;">
                <h2 class="text-color">
                    Implementamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            
        </div>
        <div class="col-md-4">
            <img src="~/images/ImagenesComo/19397866_1568374316547203_28981247_n.png" class="img-responsive" />
            <img id="img-est" src="images/ImagenesComo/pictogramas estretegia.png" class="img-responsive img-center-how"/>
            <img id="img-diag" src="images/ImagenesComo/pictogramas diagnosticamos.png" class="img-responsive img-center-how"/>
            <img id="img-imp" src="images/ImagenesComo/pictogramas implementamos.png" class="img-responsive img-center-how"/>
            <img id="img-cre" src="images/ImagenesComo/pictogramas crecemos.png" class="img-responsive img-center-how"/>
        </div>
        <div class="col-md-4">
            <div style="margin-top: 100px; margin-left: 20px;">
                <h2 class="text-color">
                    Diagnosticamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            <div  style="width: 100%;">
                <span class="glyphicon glyphicon-circle-arrow-right icon-color pull-right icon-size"></span>
            </div>
            <div style="margin-top: 180px; margin-left: 0px;">
                <h2 class="text-color">
                    Crecemos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
        </div>
    </div>
</div>
<!--RESPONSIVE CONTENT-->
<div class="visible-xs visible-sm how-container">
    <div class="row how-container margin-row">
        <div class="col-xs-12 visible-xs">
            <img src="images/ImagenesComo/estrategia.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Estrategía<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img src="images/ImagenesComo/estrategia.png" class="img-responsive img-how center-block"/>
        </div>
    </div>
    <div class="row how-container margin-row">
        <div class="col-sm-6 col-xs-12">
            <img src="~/images/ImagenesComo/diagnostico.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Diagnosticamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
    </div>
    <div class="row how-container margin-row">
        <div class="col-xs-12 visible-xs">
            <img src="images/ImagenesComo/implementamos.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Implementamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img src="images/ImagenesComo/implementamos.png" class="img-responsive img-how  center-block"/>
        </div>
    </div>
    <div class="row how-container margin-row">
        <div class="col-sm-6 col-xs-12">
            <img src="images/ImagenesComo/crecemos.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Crecemos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
    </div>
</div>
<br />
<br />
<!--fin como funciona-->
<!-- EQUIPO -->

<div class="margen arriba">
    <div class="equipo">
        <h1>
            Equipo
        </h1>
    </div>
    <div id="div-equipo">
        <div>
            <div style="max-height:500px">
                <img class="img-responsive img-equipo-1" src="~/Content/Images/equipo omarketing-02.png">
                <div class="nombre-equipo-1">
                    <h1>
                        Andres
                    </h1>
                    <h3>
                        Venegas Piedrahita
                    </h3>
                    <p style="text-align:left">
                        Buscador de verdades humanas a través de Insights, generando valor y oportunidades a las compañías por medio de la Innovación y el Branding. Administrador de empresas, especialista.
                    </p>
                </div>
            </div>
            <div class="sombra-foto" style="max-height:500px">
                <img class="img-responsive img-equipo-2" src="~/Content/Images/equipo omarketing-02.png">
                <div class="nombre-equipo-2">
                    <h1>
                        Luis
                    </h1>
                    <h3>
                        Venegas Piedrahita
                    </h3>
                    <p style="text-align:left">
                        Buscador de verdades humanas a través de Insights, generando valor y oportunidades a las compañías por medio de la Innovación y el Branding. Administrador de empresas, especialista.
                    </p>
                </div>
            </div>
        </div>

        <div class="algo-emocional-2" style="max-width:300px; text-align:right">
            <span class="text-color">--</span>
            <h3>
                ALGO EMOCIONAL
            </h3>
            <p style="text-align:right">
                La frase que conecta al usuario y dice lo que hacemos y es genial.
            </p>
        </div>

        <img class="img-responsive img-logo-equipo" src="~/Content/Images/logo-01.png">

        <div class="div-personas-2" style="max-height:300px">
            <div style="max-height:500px">
                <img class="img-responsive img-equipo-3" src="~/Content/Images/equipo omarketing-01.png">
                <div class="nombre-equipo-3">
                    <h1>
                        Juan
                    </h1>
                    <h3>
                        Venegas Piedrahita
                    </h3>
                    <p style="text-align:left">
                        Buscador de verdades humanas a través de Insights, generando valor y oportunidades a las compañías por medio de la Innovación y el Branding. Administrador de empresas, especialista.
                    </p>
                </div>
            </div>
            <div class="sombra-foto" style="max-height:500px">
                <img class="img-responsive img-equipo-4" src="~/Content/Images/equipo omarketing-01.png">
                <div class="nombre-equipo-4" style="max-width:370px">
                    <h1>
                        Camilo
                    </h1>
                    <h3>
                        Venegas Piedrahita
                    </h3>
                    <p style="text-align:left">
                        Buscador de verdades humanas a través de Insights, generando valor y oportunidades a las compañías por medio de la Innovación y el Branding. Administrador de empresas, especialista.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 parte-equipo">
        <h2 class="text-center">
            Sé parte del equipo
        </h2>
    </div>
</div>
<!--clientes-->
<div class="margen clientes-top">
    <div class="row">
        <div class="col-lg-6  visible-lg">
            <h1 class="color">Clientes</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
                usó una galería de textos y los mezcló de tal manera que
                logró hacer un libro de textos especimen. No sólo sobrevivió
                500 años, sino que tambien ingresó como texto de relleno
            </p>
            <img src="~/images/prueba.png" class="img-responsive" style="width:800px" />
            <img src="~/images/clientes2.png" class="img-responsive" style="width:400px;left:-50px;" />
        </div>
        <div class="col-lg-6 visible-lg">
            <img src="~/images/clientes1.png" class="img-responsive" />
            <h1 class="color">Cocacola</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
            </p>
            <div>
                <div style="display:inline-block;float:left">
                    <div class="color">
                        <img src="~/images/ico1.png" align="middle">Innovación &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/ico2.png" align="middle">Neuromarketing&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-play-circle icono-cli"></span>
                    </div>
                    <div class="color">
                        <img src="~/images/ico3.png" align="middle">CRM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="~/images/ico4.png" align="middle">Marketing Mix
                    </div>
                </div>
            </div>
        </div>
        <!--solo se muestra en dispositivos pequeños-->
        <div class="col-xs-12 visible-xs">
            <h1 class="color">Clientes</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
                usó una galería de textos y los mezcló de tal manera que
                logró hacer un libro de textos especimen. No sólo sobrevivió
                500 años, sino que tambien ingresó como texto de relleno
            </p>
        </div>
        <div class="col-xs-12 visible-xs">
            <img src="~/images/prueba.png" class="img-responsive" style="width:800px" />
        </div>
        <div class="col-xs-4 visible-xs col-xs-offset-8">
            <span class="glyphicon glyphicon-play-circle ico-dis" align="middle" style="margin-top:-10px;font-size:30px;"></span>
        </div>
        <div class="col-xs-12 visible-xs">
            <h1 class="color">Cocacola</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
            </p>
            <div>
                <div>
                    <div class="color">
                        <img src="~/images/ico1.png" align="middle">Innovación
                    </div>
                    <div class="color">
                        <img src="~/images/ico3.png" align="middle">CRM
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        <!--solo se muestra en dispositivos sm-->
        <div class="col-sm-12 visible-sm">
            <h1 class="color">Clientes</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
                usó una galería de textos y los mezcló de tal manera que
                logró hacer un libro de textos especimen. No sólo sobrevivió
                500 años, sino que tambien ingresó como texto de relleno
            </p>
        </div>
        <div class="col-sm-12 visible-sm">
            <img src="~/images/prueba.png" class="img-responsive" style="width:800px" />
        </div>
        <div class="col-sm-10 visible-sm">
            <h1 class="color">Cocacola</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
            </p>
        </div>
        <div class="col-sm-2 visible-sm">
            <span class="glyphicon glyphicon-play-circle ico-dis" align="middle"></span>
        </div>
        <div class="col-sm-12 visible-sm">
            <div>
                <div class="color">
                    <img src="~/images/ico1.png" align="middle">Innovación&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/ico2.png" align="middle">NueroMarketing
                </div>
                <div class="color">
                    <img src="~/images/ico3.png" align="middle">CRM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/ico4.png" align="middle">Marketing mix
                </div>
            </div>
        </div>
        <!--dispositivos medianos-->
        <div class="col-md-8 visible-md">
            <h1 class="color">Clientes</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
                usó una galería de textos y los mezcló de tal manera que
                logró hacer un libro de textos especimen. No sólo sobrevivió
                500 años, sino que tambien ingresó como texto de relleno
            </p>
        </div>
        <div class="col-md-8 visible-md">
            <img src="~/images/prueba.png" class="img-responsive" style="width:600px" />
            <h1 class="color">Cocacola</h1>
            <p class="color">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
            </p>
            <div>
                <div style="display:inline-block;float:left">
                    <div class="color">
                        <img src="~/images/ico1.png" align="middle">Innovación &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/ico2.png" align="middle">Neuromarketing&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-play-circle icono-cli"></span>
                    </div>
                    <div class="color">
                        <img src="~/images/ico3.png" align="middle">CRM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="~/images/ico4.png" align="middle">Marketing Mix
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 visible-md">
            <img src="~/images/clientes1.png" style="height:600px;width:400px" class="img-responsive" />
        </div>
    </div>
</div>
<!--fin clientes------------------------------->

<!--contacto-->
<div class="margen arriba">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <h1 class="color-text" style="color:white">CONTÁCTO</h1>
            <p class="color-text" style="color:white">
                Es simplemente el texto de relleno de las imprentas y archivos
                de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                las industrias desde el año 1500, cuando un impresor (N.
                del T. persona que se dedica a la imprenta) desconocido
            </p>
        </div>
        <div class="col-lg-5 col-md-5 col-lg-offset-2 col-lg-md-2 visible-lg"><p style="color:white">IMAGEN DE LOS ROMBOS</p></div>
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12" style="margin-bottom:30px">
            <p style="color:white"><span style="font-size:20px">Dirección:</span>Proin scelerisque adipiscing augue.</p>
            <p style="color:white"><span style="font-size:20px">Teléfonos:</span>Fusce ac orci - Fusce ac orci</p>
            <p style="color:white"><span style="font-size:20px">E-mail:</span>ristique elementum</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <form action="">
                <div class="form-group">
                    <label for="nombre" style="color:white">Nombre y apellido</label>
                    <input type="text" class="form-control in" id="nombre" placeholder="Tu respuesta" name="nombre">
                </div>
                <div class="form-group">
                    <label for="empresa" style="color:white">Nombre de empresa</label>
                    <input type="text"  class="form-control in" id="empresa" placeholder="Tu respuesta" name="empresa">
                </div>
                <div class="form-group">
                    <label for="email" style="color:white">Correo electrónico</label>
                    <input type="email"  class="form-control in" id="email" placeholder="Tu respuesta" name="email">
                </div>
                <div class="form-group input-contact">
                    <label for="mensaje" style="color:white">Mensaje</label>
                    <input type="text"  class="form-control in" id="mensaje" placeholder="Tu respuesta" name="mensaje">
                </div>
            </form>
        </div>
        <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1">
            <p style="font-size:20px;color:white">Servicio de interes</p>
            <div class="color visible-md visible-lg visible-sm">
                <img src="~/images/ico1.png" align="middle">Innovación &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="innovacion"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="~/images/ico6.png" align="middle">Shopper  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="shoper">
            </div>
            <div class="color  visible-md visible-lg visible-sm">
                <img src="~/images/ico2.png" align="middle">Nueromarkeing &nbsp;&nbsp; <input type="checkbox" name="remember"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="~/images/ico4.png" align="middle">Marketing Mix  &nbsp; <input type="checkbox" name="Marketing">
            </div>
            <div class="color  visible-md visible-lg visible-sm">
                <img src="~/images/ico3.png" align="middle">CRM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="CRM"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <img src="~/images/ico5.png" align="middle">Estrategia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="Estrategia">
            </div>
            <!--xs-->
            <div class="color visible-xs">
                <img src="~/images/ico1.png" align="middle">Innovación &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox"> 
            </div>
            <div class="color visible-xs">
                <img src="~/images/ico2.png" align="middle">Nueromarkeing &nbsp; <input type="checkbox">
            </div>
            <div class="color visible-xs">
                <img src="~/images/ico3.png" align="middle">CRM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox">
            </div>
            <div class="color visible-xs">
                <img src="~/images/ico6.png" align="middle">Shopper  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox">
            </div>
            <div class="color visible-xs">
                <img src="~/images/ico4.png" align="middle">Marketing Mix  &nbsp; <input type="checkbox">
            </div>
            <div class="color visible-xs">
                <img src="~/images/ico5.png" align="middle">Estrategia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" name="Estrategia">
            </div>
            <br />
            <div style="background-color:#cbcbcb;padding:15px">
                <p>
                    Habeas data: “La autorización suministrada en el presente formulario faculta
                    a Omarketing para que dé a sus datos aquí recopilados el tratamiento
                    señalado en la “Política de Privacidad para el Tratamiento de Datos
                    Personales” de Borealis, el cual incluye, entre otras, el envío de información
                    promocional, así como la invitación a eventos. El titular de los
                    datos podrá, en cualquier momento, solicitar que la información sea
                    modificada, actualizada o retirada de las bases de datos de Borealis".
                </p>
                <div class="checkbox">
                    <label><input type="checkbox"> He leído y acepto los términos y condiciones.</label>
                </div>
        </div>
            <br />
        <div style="margin-left:40%">
            <button type="submit" class="btn btn-lg" style="background-color:#cbcbcb;color:white">Enviar</button>
        </div>
    </div>
</div>
</div>
<!--fin contacto-->
<!--INICIO BLOG -->
<br/>
<br/>
<br />
<br />
<div>
    <div class="row blog-row">
        <img class="pull-left logo-blog" src="images/ImagenesBlog/19357625_1563138477070787_1430364618_n.png"/>
        <h1 style="color: lightgray; font-size: 4em;">marketing Blog</h1>
    </div>
    <div class="row row-eq-height blog-row">
        <div style="padding-right: 0px; padding-left: 0px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="img-responsive img-blog"src="images/ImagenesBlog/19184104_1563135163737785_1014907494_n.png"/>
        </div>
        <div style="background:yellow" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>El título del artículo</h1>
            <h3>Buscador de verdades humanas a través de Insights,
                generando valor y oportunidades a las Relaciones
                de Cuenta.</h3>
            <p>Buscador de verdades humanas a través de
                Insights, generando valor y oportunidades a las
                compañías por medio de la Innovación y el
                Branding. Administrador de empresas,
                especialista en mercadeo estratégico, bilingüe,
                con experiencia y conocimiento en las áreas de
                Finanzas, Mercadeo e Innovación, enfocadas a
                Estrategia de Marca, Consumidor y
                Segmentación de Cliente (Shopper -
                Consumidor final), Branding y Comunicación,</p>
            <span class="pull-right glyphicon glyphicon-circle-arrow-right"></span>
        </div>
    </div>
    <div class="row row-eq-height blog-row">
        <div style="padding-right: 0px; padding-left: 0px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="img-responsive img-blog" src="images/ImagenesBlog/19191078_1563135380404430_1939419662_n.png" />
        </div>
        <div style="background:aqua" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>El título del artículo</h1>
            <h3>
                Buscador de verdades humanas a través de Insights,
                generando valor y oportunidades a las Relaciones
                de Cuenta.
            </h3>
            <p>
                Buscador de verdades humanas a través de
                Insights, generando valor y oportunidades a las
                compañías por medio de la Innovación y el
                Branding. Administrador de empresas,
                especialista en mercadeo estratégico, bilingüe,
                con experiencia y conocimiento en las áreas de
                Finanzas, Mercadeo e Innovación, enfocadas a
                Estrategia de Marca, Consumidor y
                Segmentación de Cliente (Shopper -
                Consumidor final), Branding y Comunicación,
            </p>
            <span class="pull-right glyphicon glyphicon-circle-arrow-right"></span>
        </div>
    </div>
    <div class="row row-eq-height blog-row">
        <div style="padding-right: 0px; padding-left: 0px;" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="img-responsive img-blog" src="images/ImagenesBlog/19198340_1563135723737729_2002035657_n.png" />
        </div>
        <div style="background:darkorange" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1>El título del artículo</h1>
            <h3>
                Buscador de verdades humanas a través de Insights,
                generando valor y oportunidades a las Relaciones
                de Cuenta.
            </h3>
            <p>
                Buscador de verdades humanas a través de
                Insights, generando valor y oportunidades a las
                compañías por medio de la Innovación y el
                Branding. Administrador de empresas,
                especialista en mercadeo estratégico, bilingüe,
                con experiencia y conocimiento en las áreas de
                Finanzas, Mercadeo e Innovación, enfocadas a
                Estrategia de Marca, Consumidor y
                Segmentación de Cliente (Shopper -
                Consumidor final), Branding y Comunicación,
            </p>
            <span class="pull-right glyphicon glyphicon-circle-arrow-right"></span>
        </div>
    </div>
    <div style="margin-top: 30px;" class="row blog-row">
        <div class="col-lg-12 blog-row btn-articulos">
            <h5>Más Articulos</h5>
        </div> 
    </div>
</div>