@{
    ViewData["Title"] = "Home Page";
}

<div class="row how-container">
    <div class="col-lg-6">
        <h6 class="how-title">¿Cómo funciona?</h6>
        <p class="text-section">Diseñamos estrategias integradas de marketing y
            ayudamos a ponerlas en acción. Integramos aptitudes
            analíticas y creativas con capacidades técnicas y
            resolutivas.
            Partimos del análisis, la comprensión y la validación de tu
            modelo de negocio, desde el cual planteamos las líneas
            estratégicas, las actividades tácticas y las acciones
            operativas más adecuadas para alcanzar con máxima
            eficiencia los objetivos propuestos, cumplir las expectativas
            de sus clientes, empleados y accionistas, y superar a sus
            competidores.</p>
    </div>
    <div class="col-lg-6" style="text-align: right">
        <span class="text-color">--</span>
        <p class="text-color">ALGO EMOCIONAL</p>
        <p class="text-color" style="font-size: 2em;">La frase que conecta al usuario y dice lo que hacemos y es genial</p>
    </div>
    </div>
        <div class="row how-container">
            <div class="col-lg-4">
                <h2 class="text-color">Estrategía<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span></h2>
                <p class="text-color">Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica</p>

                <h2 class="text-color">Implementamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span></h2>
                <p class="text-color">Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            <div class="col-lg-4">
                <img src="~/images/home-12.png" class="img-responsive"/>
            </div> 
            <div class="col-lg-4">
                <h2 class="text-color">Diagnosticamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span></h2>
                <p class="text-color">Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica</p>
            </div>
            <h2 class="text-color">Crecemos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span></h2>
            <p class="text-color">Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica</p>
        </div>