@{
    ViewData["Title"] = "Home Page";
}


<div class="row how-container margin-row" style="padding-top: 150px;">
    <div class="col-md-6 col-sm-10 col-xs-10" style="padding-right: 70px;">
        <h6 class="how-title">Cómo funciona</h6>
        <p class="text-section">
            Diseñamos estrategias integradas de marketing y
            ayudamos a ponerlas en acción. Integramos aptitudes
            analíticas y creativas con capacidades técnicas y
            resolutivas.</p>
        <p class="text-section">
            Partimos del análisis, la comprensión y la validación de tu
            modelo de negocio, desde el cual planteamos las líneas
            estratégicas, las actividades tácticas y las acciones
            operativas más adecuadas para alcanzar con máxima
            eficiencia los objetivos propuestos, cumplir las expectativas
            de sus clientes, empleados y accionistas, y superar a sus
            competidores.
        </p>
    </div>
    <div class="col-xs-2 col-sm-2 visible-xs visible-sm" style="margin-top: 165px;">
        <span class="glyphicon glyphicon-circle-arrow-right icon-color icon-size"></span>
    </div>
    <div class="col-md-3 col-md-offset-3 hidden-sm hidden-xs" style="text-align: right">
        <span class="text-color">--</span>
        <p class="text-color">ALGO EMOCIONAL</p>
        <p class="text-color" style="font-size: 2em;">La frase que conecta al usuario y dice lo que hacemos y es genial</p>
    </div>
</div>
<div class="visible-md visible-lg">
    <div class="row how-container margin-row">
        <div class="col-md-4">
            <div>
                <h2 class="text-color">
                    Estrategía<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            <div style="margin-top: 200px; margin-left: 90px;">
                <h2 class="text-color">
                    Implementamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            
        </div>
        <div class="col-md-4">
            <img src="~/images/home-12.png" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <div style="margin-top: 100px; margin-left: 20px;">
                <h2 class="text-color">
                    Diagnosticamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
            <div  style="width: 100%;">
                <span class="glyphicon glyphicon-circle-arrow-right icon-color pull-right icon-size"></span>
            </div>
            <div style="margin-top: 180px; margin-left: 0px;">
                <h2 class="text-color">
                    Crecemos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
                </h2>
                <p class="text-color">
                    Es simplemente el texto de relleno de las
                    imprentas y archivos de texto. Lorem Ipsum
                    ha sido el texto de relleno estándar de las
                    industrias desde el año 1500, cuando un
                    impresor (N. del T. persona que se dedica
                </p>
            </div>
        </div>
    </div>
</div>
<!--RESPONSIVE CONTENT-->
<div class="visible-xs visible-sm how-container">
    <div class="row how-container margin-row">
        <div class="col-xs-12 visible-xs">
            <img src="images/ImagenesComo/estrategia.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Estrategía<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img src="images/ImagenesComo/estrategia.png" class="img-responsive img-how center-block"/>
        </div>
    </div>
    <div class="row how-container margin-row">
        <div class="col-sm-6 col-xs-12">
            <img src="~/images/ImagenesComo/diagnostico.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Diagnosticamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
    </div>
    <div class="row how-container margin-row">
        <div class="col-xs-12 visible-xs">
            <img src="images/ImagenesComo/implementamos.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Implementamos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img src="images/ImagenesComo/implementamos.png" class="img-responsive img-how  center-block"/>
        </div>
    </div>
    <div class="row how-container margin-row">
        <div class="col-sm-6 col-xs-12">
            <img src="images/ImagenesComo/crecemos.png" class="img-responsive img-how center-block" />
        </div>
        <div class="col-sm-6 col-xs-12">
            <h2 class="text-color">
                Crecemos<span class="glyphicon glyphicon-circle-arrow-right icon-color"></span>
            </h2>
            <p class="text-color text-justify">
                Es simplemente el texto de relleno de las
                imprentas y archivos de texto. Lorem Ipsum
                ha sido el texto de relleno estándar de las
                industrias desde el año 1500, cuando un
                impresor (N. del T. persona que se dedica
            </p>
        </div>
    </div>
</div>
