<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <div>
                    <img src="~/images/omarketing innovacion-05.png" class="img-responsive" style="width:40px;float:left;margin-top:5px">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <div class="content-iconos">
                    <img src="~/Images/omarketing innovacion-07.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/omarketing marketingmixai-08.png" style="padding:0px;margin-top:5px" align="middle" class="iconos-estrategia">
                    <img src="~/Images/flor1.png" align="middle" style="margin-left:-10px" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <div style="float:right">
                    <img src="~/images/omarketing marketingmixai-04.png" class="img-responsive ico-der-mix" style="width:40px;float:right;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <h1 style="color:#fea338">Innovación</h1>
                    <p style="color:white">
                        El Modelo Onnovation® es una metodología
                        de innovación, el cual integra tres de los
                        modelos más efectivos en el mundo (Harvard,
                        Stanford y Hult) con el fin de realizar
                        procesos de innovación efectivos y
                        perdurables en el tiempo.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div class="flor-inno" style="display:inline-block;">
                    <img src="~/images/omarketing innovacion-04.png" class="img-responsive img-inovation" style="width:300px"/>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 visible-lg visible-md">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-lg-offset-7 col-md-offset-7 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><i class="material-icons ico-m-inno">add</i></a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#fea338;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div  class="content-mix">
    <div class="container">
        <br />
        <br />
        <div class="iconos" style="width:100%;height:1px;background-color:white"></div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-4 col-md-offset-4 visible-lg visible-md">
                <div class="menu-estrategia iconos-nav" style="margin-left:-16px">
                    <img src="~/images/flor2.png" id="imgflor2" align="middle" style="width:60px">
                    <img src="~/images/flor7.png" id="imgflor7" align="middle" style="width:60px">
                    <img src="~/images/flor6.png" id="imgflor6" align="middle" style="width:60px">
                    <img src="~/images/omarketing innovacion-07.png" align="middle" style="width:50px">
                    <img src="~/images/flor5.png" id="imgflor5" align="middle" style="width:60px">
                    <img src="~/images/flor3.png" id="imgflor3" align="middle" style="width:60px">
                    <img src="~/images/flor4.png" id="imgflor4" align="middle" style="width:60px">
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="texto-onovation">
                    <h2>
                        Onnovation
                    </h2>
                    <p>
                        El Modelo Onnovation® es una metodología
                        de innovación, el cual integra tres de los
                        modelos más efectivos en el mundo (Harvard,
                        Stanford y Hult) con el fin de realizar
                        procesos de innovación efectivos y
                        perdurables en el tiempo.
                    </p>
                    <p>
                        Este te permitirá solucionar problemas críticos
                        de forma innovadora dentro de tu negocio.
                    </p>
                    <p>
                        Ayudamos a tus consumidores y empleados a
                        inyectar un valor único en las distintas etapas
                        del embudo de innovación, además de la
                        experiencia ofrecida por los especialistas en
                        innovación e insights.
                    </p>
                    <p>
                        Bajo el modelo Onnovation® generamos
                        ideas más robustas y poderosas, utilizando
                        los contextos divergentes de los
                        consumidores y de los empleados como
                        pasos a la creatividad. Nuestros consultores
                        de innovación te apoyarán en la
                        organización con talleres de ideación
                        interna, en la creación de conceptos,
                        desarrollo de nuevos productos y o servicios,
                        y en la solución de procesos dentro de tu
                        organización.
                    </p>
                    <p>
                        Validamos y sugerimos áreas para la mejora
                        de ideas, conceptos y productos a través de
                        un flujo secuencial e integrado, desde el
                        análisis de ideas hasta la prueba de
                        concepto, las pruebas en usuario y las
                        pruebas de rendimiento tempranas en el
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg" style="background-color: #ffab40;color:white">Ver más</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                    <img src="~/images/omarketing innovacion-08.png"  class="img-responsive" style="width:830px"/>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="cita-crecimiento" style="max-width:340px; text-align:right;float:right">
                    <p>
                        “Omarketing es la
                        primera compañía
                        colombiana partner del
                        GIMinstitued.”
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div>
                    <h2 style="color: #ffab40;font-weight:bold">
                        Modelo Onnovation®
                    </h2>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-09.png" class="img-responsive img-harvard" />
                    <div>
                        <p style="color: #ffab40">
                            Harvard Innovation Lab
                        </p>
                        <p style="color:black">
                            Harvard Innovation Lab; Modelo de
                            innovación centrado en la co-creación,
                            en la disciplina de innovar, en
                            búsqueda de necesidades y en el
                            conduct market research.
                        </p>
                    </div>
                </div>
                <br />
                <div style="clear:left">
                    <img src="~/images/omarketing innovacion-10.png" class="img-responsive img-harvard" />
                    <div>
                        <p style="color: #ffab40">
                            Hult Innovation
                        </p>
                        <p style="color:black">
                            Modelo de innovación IXL Center ,
                            basado en una metodología de
                            innovación disruptiva y de
                            entendimeinto de insights.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div style="clear:left">
                    <img src="~/images/omarketing innovacion-14.png" class="img-responsive img-tres-onovation" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="ideacion">
                    <h3 style="color: #ffab40">
                        Ideación
                    </h3>
                    <p style="color:black">
                        El modelo Omatkeitng Innovation es una
                        metodología única en el mercado, que
                        adicionalmente de estar compuesta por 3 de
                        los modelos más poderosos del mundo integra
                        su metodología Onsight® y embudo de insights
                        Omarketing®
                    </p>
                    <h3 style="color: #ffab40">
                        Insights
                    </h3>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-11.png" class="img-responsive img-harvard" />
                    <div>
                        <p style="color: #ffab40">
                            Stanfort Innovation
                        </p>
                        <p style="color:black">
                            Modelo de innovación Design Thinking,
                            basado en una metodología de
                            insights, de pensamiento crítico y
                            soñador basado en soluciones y
                            necesidades de los usurarios.
                        </p>
                    </div>
                </div>
                <br />
                <div style="clear:left">
                    <img src="~/images/omarketing innovacion-12.png" class="img-responsive img-harvard" />
                    <div>
                        <p style="color: #ffab40">
                            GIMinstitute
                            Global Innovation Management Instituy
                        </p>
                        <p style="color:black">
                            Instituto certificador de innovación a
                            nivel mundial.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
                <div class="div-content-somb" style="clear:left">
                    <img src="~/images/omarketing innovacion-13.png" class="img-responsive img-sobrero-onovation" />
                    <div class="texto-inovation">
                        <p style="color:black">
                            Metodología Six (6) Thinking hats. La toma de
                            decisiones es una actividad cerebral muy
                            compleja en la que se mezclan emociones y
                            sentimientos.
                        </p>
                        <br />
                        <br />
                        <p style="color:black">
                            Este método que simula lo que ocurre en la
                            mente humana adoptando el símil de uno de
                            los sombreros, lo complementamos con el
                            embudo de insigths Omarketing® con el fin de
                            obtener una visión y entendimeinto desde
                            varias prospectivas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-10 col-md-10">
                <div>
                    <img src="~/images/omarketing innovacion-15.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing innovacion-21.png" class="img-responsive" style="height:400px;width:500px;margin-top:180px" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div>
                    <h2 style="color: #ffab40;font-weight:bold">
                        Herramientas
                    </h2>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-16.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
                <div>
                    <p style="color: #ffab40;">
                        Canvas
                    </p>
                    <p style="color:black">
                        Modelo de innovación Design Thinking,
                        basado en una metodología de
                        insights, de pensamiento crítico y
                        soñador basado en soluciones y
                        necesidades de los usurarios.insights,
                        de pensamiento crítico y soñador
                        basado en soluciones y necesidades
                        de los usurarios.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-17.png" class="img-responsive img-hakatones" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
                <div>
                    <p style="color: #ffab40;">
                        Hakatones
                    </p>
                    <p style="color:black">
                        Modelo de innovación Design Thinking,
                        basado en una metodología de
                        insights, de pensamiento crítico y
                        soñador basado en soluciones y
                        necesidades de los usurarios.insights,
                        de pensamiento crítico y soñador
                        basado en soluciones y necesidades
                        de los usurarios.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-18.png" class="img-responsive img-hakatones"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
                <div>
                    <p style="color: #ffab40;">
                        Trends Map
                    </p>
                    <p style="color:black">
                        Modelo de innovación Design Thinking,
                        basado en una metodología de
                        insights, de pensamiento crítico y
                        soñador basado en soluciones y
                        necesidades de los usurarios.insights,
                        de pensamiento crítico y soñador
                        basado en soluciones y necesidades
                        de los usurarios.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-19.png" class="img-responsive img-hakatones"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
                <div>
                    <p style="color: #ffab40;">
                        The End of
                    </p>
                    <p style="color:black">
                        Modelo de innovación Design Thinking,
                        basado en una metodología de
                        insights, de pensamiento crítico y
                        soñador basado en soluciones y
                        necesidades de los usurarios.insights,
                        de pensamiento crítico y soñador
                        basado en soluciones y necesidades
                        de los usurarios.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div>
                    <img src="~/images/omarketing innovacion-20.png" class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
                <div class="img-thinking">
                    <p style="color: #ffab40;">
                        Thing Thinking
                    </p>
                    <p style="color:black">
                        Modelo de innovación Design Thinking,
                        basado en una metodología de
                        insights, de pensamiento crítico y
                        soñador basado en soluciones y
                        necesidades de los usurarios.insights,
                        de pensamiento crítico y soñador
                        basado en soluciones y necesidades
                        de los usurarios.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>