<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <div>
                    <i class="material-icons" style="color:white;font-size:35px;background:#40c4ff;border-radius:50%;">chevron_left</i>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <div class="content-iconos">
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/omarketing marketingmixai-19.png" style="width:70px;padding:0px;margin-top:5px" align="middle" class="iconos-estrategia">
                    <img src="~/Images/flor1.png" align="middle" style="margin-left:-10px" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#ff6d40;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <h1 style="color:#7c4dff">Marketing Mix</h1>
                    <p style="color:white">
                        Tener un gran producto o servicio es una
                        cosa; Pero hacer que los consumidores
                        compren, utilicen y hablen de ello es otra.
                    </p>
                    <p style="color:white">
                        El éxito en el mercado depende de que los
                        consumidores tomen las medidas correctas en
                        respuesta a las conexiones significativas de
                        la marca y que lleven a otros a hacer lo
                        mismo.
                    </p>
                    <p style="color:white">
                        Apoyamos el éxito en la comercialización de
                        productos y servicios mediante la
                        comprensión y la co-creación del precio, la
                        plaza, la promoción y el producto,
                        adaptándose de manera óptima a las
                        necesidades de los consumidores.
                    </p>
                    <p style="color:white">
                        Todos estos elementos de mezcla de
                        marketing. Al hacerlo, facilitan la alineación
                        de todas las posibles partes interesadas
                        internas y externas alrededor del consumidor
                        para un retorno máximo.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div class="flor-mix anim-flor" data-anim="on" data-i="0" data-n="4" style="display:inline-block;">
                    <img src="~/images/omarketing marketingmixai-11.png" class="img-responsive imgs-flor-p anim" id="mix-flor-6" data-i="1" data-h3="Titulo Imagen 2" data-h3target="#titulo-variable-mix" data-p="Texto Imagen 2" data-ptarget="#texto-variable-mix" data-hreftarget="#Ico-Mix" data-href="#promo"/>
                    <img src="~/images/omarketing marketingmixai-08.png" class="img-responsive imgs-flor-p" id="mix-flor-1" />
                    <img src="~/images/omarketing marketingmixai-10.png" class="img-responsive imgs-flor-p anim" id="mix-flor-5" data-i="2" data-h3="Titulo Imagen 3" data-h3target="#titulo-variable-mix" data-p="Texto Imagen 3" data-ptarget="#texto-variable-mix" data-hreftarget="#Ico-Mix" data-href="#promo"/>
                    <img src="~/images/omarketing marketingmixai-12.png" class="img-responsive imgs-flor-p anim" id="mix-flor-7" data-i="0" data-h3="Titulo Imagen 1" data-h3target="#titulo-variable-mix" data-p="Texto Imagen 1" data-ptarget="#texto-variable-mix" data-hreftarget="#Ico-Mix" data-href="#promo"/>
                    <img src="~/images/omarketing marketingmixai-09.png" class="img-responsive imgs-flor-p anim" id="mix-flor-3" data-i="3" data-h3="Titulo Imagen 4" data-h3target="#titulo-variable-mix" data-p="Texto Imagen 4" data-ptarget="#texto-variable-mix" data-hreftarget="#Ico-Mix" data-href="#promo"/>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
                <div style="float:right">
                    <h1 style="color:#7c4dff" id="titulo-variable-mix"></h1>
                    <p style="color:white" id="texto-variable-mix"></p>
                    <a href="" id="Ico-Mix"><i class="material-icons ico-mas-mix">add</i></a>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#7c4dff;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="content-mix" id="ver-mas">
    <div class="container">
        <div class="iconos" style="width:100%;height:1px;background-color:white"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-4 col-md-offset-4 visible-lg visible-md" style="left:50px">
                <div class="menu-estrategia iconos-nav">
                    <img src="~/images/omarketing marketingmixai-12.png" id="imgflor2" align="middle" style="width:60px">
                    <img src="~/images/omarketing marketingmixai-11.png" id="imgflor7" align="middle" style="width:60px">
                    <img src="~/images/omarketing marketingmixai-19.png" align="middle" style="width:80px;margin-top:9px">
                    <img src="~/images/omarketing marketingmixai-09.png" id="imgflor5" align="middle" style="width:60px;margin-left:-10px">
                    <a href="#promo"><img src="~/images/omarketing marketingmixai-10.png" id="imgflor3" align="middle" style="width:60px"></a>
                </div>
            </div>
        </div>
        <br /><br/>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">MARKETING MIX</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-lg-offset-6 col-md-offset-6">
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:354px; text-align:right;float:right">
                    <span>__</span>
                    <p style="text-align:right;float:right">
                        La evolución del marketing y su
                        estrategia permiten, relacionar las
                        4 P´s, con las 4 C´s y las 4 E´s
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-12">
            <div class="flor-p" style="display:inline-block;">
                <img src="~/images/omarketing marketingmixai-08.png" class="img-responsive flor-product" id="p-flor-6" />
                <img src="~/images/omarketing marketingmixai-25.png" class="img-responsive flor-product" id="p-flor-1" />
                <img src="~/images/omarketing marketingmixai-11.png" class="img-responsive flor-product grayest" id="p-flor-5" />
                <img src="~/images/omarketing marketingmixai-12.png" class="img-responsive flor-product grayest" id="p-flor-7" />
                <img src="~/images/omarketing marketingmixai-09.png" class="img-responsive flor-product grayest" id="p-flor-3" />
                <img src="~/images/omarketing marketingmixai-09.png" class="img-responsive flor-product grayest" id="p-flor-4" />

            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <img src="~/images/omarketing marketingmixai-21.png" class="img-responsive"/>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-6 col-lg-6" id="promo">
                <div class="prom">
                    <h1 id="encab-crecimiento">PROMOCIÓN</h1>
                    <h2 style="display:inline">Marketing MIX – Promoción</h2>
                    <br />
                    <h2 style="display:inline">Omnichannel marketing</h2>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="texto-mix">
                    <p class="morado">
                        Planifique para el éxito en los medios.
                    </p>
                    <p class="normal">
                        No todos los programas, canales o páginas web son el lugar
                        adecuado para invertir. Con millones de opciones de compra en
                        medios, ¿cuál es el plan adecuado para su producto?
                    </p>
                    <p class="normal">
                        Nuestras soluciones de Planificación le ayudarán a saber qué es lo
                        que mejor se adapta a su producto, categoría y público.
                    </p>
                    <p class="morado">
                        Maximice cada peso invertido en medios para identificar a los
                        consumidores directamente y maximizar el ROI y el valor de su vida
                        útil.
                    </p>
                    <p class="normal">
                        Nuestras soluciones de planificación de medios multicanal utilizan
                        datos basados en compras y de clientes para establecer un público
                        objetivo pormenorizado y planificar de manera eficaz los medios
                        digitales y tradicionales.
                    </p>
                    <h2>
                        Nos hemos asociado a empresas líderes
                    </h2>
                    <p class="normal">
                        Nuestras soluciones de planificación utilizan IRI ProScores
                        combinado con las valoraciones comerciales televisivas exactas de
                        Rentrak y con la medición digital de comScore para una
                        planificación de campaña online precisa.
                    </p>
                    <p class="normal">
                        Los diagnósticos muestran la manera en la que los anuncios
                        publicitarios se ven por público cada objetivo y por canal.
                        Posteriormente, obtendrá las recomendaciones necesarias para
                        mejorar las selecciones de medios para obtener mayor eficacia y
                        eficiencia.
                    </p>
                    <p class="normal">
                        "Probar el ROI es el mayor reto y la mayor oportunidad para
                        cualquier agente de marketing digital. La claridad y la sencillez de
                        la metodología de Omix® hace que sea fácil demostrar un caso de
                        negocio complicado."
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div>
                    <img src="~/images/omarketing marketingmixai-22.png" class="img-responsive"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing marketingmixai-23.png" class="img-responsive" style="margin-top:-400px" />
                </div>
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing marketingmixai-24.png" class="img-responsive" style="margin-top:-120px"/>
                </div>
            </div>
        </div>
    </div>
</div>