<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <i class="material-icons" style="color:white;font-size:35px;background:#ffab40;border-radius:50%;">chevron_left</i>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="content-iconos">
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing neuromarketing-08.png" align="middle" style="width:77px;">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_shopper.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_estrategia.png" align="middle" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#b1ff58;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <h1 style="color:#ffea00">Neuromarketing</h1>
                    <p class="color-est">
                        Pensar y actuar pensando en el futuro. Su negocio no puede permanecer inmóvil. ¿Debería explorar otras oportunidades o nuevas categorías?  Nuestras soluciones de Estrategia utilizan datos robustos e información de mercado que le ayudarán a encontrar nuevas posibilidades y  utilizarlas para hacer crecer su negocio.
                    </p>
                    <div>
                        <button type="submit" class="btn btn-lg" style="background-color:#ffea00;color:white">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <img src="~/Content/Images/omarketing neuromarketing-06.png" class="img-responsive img-neuro6"/>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" style="width:250px;margin-left:20%" />
                </div>
                <div class="cita-crecimiento-neuro visible-lg visible-md" style="max-width:450px; text-align:right;margin-top:10%;">
                    <span>__</span>
                    <p style="text-align:right">
                        “El futuro pertenece a aquellos que entienden cómo recolectar, almacenar y utilizar sus datos de manera efectiva”
                    </p>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#ffea00;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>