<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                <i class="material-icons" style="color:white;font-size:35px;background:#b1ff58;border-radius:50%;">chevron_left</i>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 visible-lg visible-md">
                <div class="content-iconos">
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing shopper-24.png" align="middle"style="width:57px;margin-top:0.5%;">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_estrategia.png" align="middle" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-6 col-sm-6">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#7b4dff;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <h1 style="color:#40c4ff">Shopper</h1>
                    <p class="color-est" style="font-weight:bold">
                        ¿Qué compran? ¿Dónde compran? ¿Cuándo consumen productos?
                    </p>
                    <p class="color-est">
                        La misión del Shopper es satisfacer al consumidor. EL Shopper Marketing permite conocer profundamente las necesidades, comportamientos y hábitos de compra del Shopper, y nos revela información, que al ser cruzada con los hábitos y ocasiones de consumo, nos permite detectar las oportunidades (Insights) y diseñar acertadas iniciativas (Marketing Mix) para incrementar nuestras ventas.
                    </p>
                    <br />
                    <p class="color-est">La comprensión y la oferta enfocada a la misión del SHOPPER se ha convertido en la clave de las VENTAS. Si sabemos porque el comprador está en la tienda y lo que podría querer para complacer al consumidor, entonces podríamos fácilmente incrementar las ventas.</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div class="flor-shopper anim-flor" data-anim="on" data-i="0" data-n="6" style="display:inline-block;">
                    <img src="~/Content/Images/omarketing shopper-22.png" class="img-responsive img-flor-1 anim" id="imag-shopper-6" data-i="0" data-h3="Titulo imagen 1" data-h3target="#titulo-variable-shop" data-p="Texto Imagen 1" data-ptarget="#texto-variable-shop" data-hreftarget="#Ico-Shopper" data-href="#Sho" data-click="#Sho"/>
                    <img src="~/Content/Images/omarketing shopper-10.png" class="img-responsive img-flor-1" id="imag-shopper-1" />
                    <img src="~/Content/Images/omarketing shopper-17.png" class="img-responsive img-flor-1 anim" id="imag-shopper-5" data-i="1" data-h3="Titulo imagen 2" data-h3target="#titulo-variable-shop" data-p="Texto Imagen 2" data-ptarget="#texto-variable-shop" data-hreftarget="#Ico-Shopper" data-href="#Ms" data-click="#Ms"/>
                    <img src="~/Content/Images/omarketing shopper-21.png" class="img-responsive img-flor-1 anim" id="imag-shopper-7" data-i="5" data-h3="Titulo imagen 6" data-h3target="#titulo-variable-shop" data-p="Texto Imagen 6" data-ptarget="#texto-variable-shop" data-hreftarget="#Ico-Shopper" data-href="#Osm" data-click="#Osm"/>
                    <img src="~/Content/Images/omarketing shopper-20.png" class="img-responsive img-flor-1 anim" id="imag-shopper-2" data-i="4" data-h3="Titulo imagen 5" data-h3target="#titulo-variable-shop" data-p="Texto Imagen 5" data-ptarget="#texto-variable-shop" data-hreftarget="#Ico-Shopper" data-href="#Sa" data-click="#Sa"/>
                    <img src="~/Content/Images/omarketing shopper-18.png" class="img-responsive img-flor-1 anim" id="imag-shopper-3" data-i="2" data-h3="Titulo imagen 3" data-h3target="#titulo-variable-shop" data-p="Texto Imagen 3" data-ptarget="#texto-variable-shop" data-hreftarget="#Ico-Shopper" data-href="#shopper-j" data-click="#shopper-j"/>
                    <img src="~/Content/Images/omarketing shopper-19.png" class="img-responsive img-flor-1 anim" id="imag-shopper-4" data-i="3" data-h3="Titulo imagen 4" data-h3target="#titulo-variable-shop" data-p="Texto Imagen 4" data-ptarget="#texto-variable-shop" data-hreftarget="#Ico-Shopper" data-href="" data-click=""/>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
                <div>
                    <h1 style="color:#40c4ff" id="titulo-variable-shop"></h1>
                    <p class="color-est" id="texto-variable-shop"></p>
                    <a href="" id="Ico-Shopper"><i class="material-icons" style="color:#40c4ff;font-size:35px;float:right">add_circle</i></a>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#40c4ff;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="content-mix" id="ver-mas">
    <div class="container">
        <br />
        <br />
        <div class="iconos" style="width:100%;height:1px;background-color:white"></div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-4 col-md-offset-4 visible-lg visible-md">
                <div class="menu-estrategia iconos-nav" style="margin-left:-16px">
                        <a href="#Osm"><img src="~/images/omarketing shopper-21.png" id="imgflor2" align="middle" style="width:60px"></a>
                        <a href="#Sa"><img src="~/images/omarketing shopper-20.png" id="imgflor7" align="middle" style="width:60px"></a>
                        <img src="~/images/omarketing shopper-19.png" id="imgflor6" align="middle" style="width:60px">
                        <img src="~/images/omarketing shopper-24.png" align="middle" style="width:50px">
                        <a href="#Sho"><img src="~/images/omarketing shopper-22.png" id="imgflor5" align="middle" style="width:60px"></a>
                        <a href="#Ms"><img src="~/images/omarketing shopper-17.png" id="imgflor3" align="middle" style="width:60px"></a>
                        <a href="#shopper-j"><img src="~/images/omarketing shopper-18.png" id="imgflor4" align="middle" style="width:60px"></a>
</div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                    <h1 class="encab-general">SHOPPER MARKETING</h1>
                </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="texto-shopper-trade">
                    <p>
                        El nuevo <span>SHOPPER JOURNEY</span>  y la
                        <span>OMNIPRESENCIA</span> juegan un papel muy importante
                        en el desarrollo de las estrategias de <span>TRADE
                        MARKETING o SHOPPER MARKETING.</span>
                    </p>
                    <p>
                        Nuestras soluciones de Insights le brindarán esta
                        información, teniendo en cuenta las necesidades
                        específicas y actuales.
                    </p>
                    <p>
                        <span class="punto-shopper">•</span>Incorpora insights de comprador y consumidor
                        en todas las decisiones clave para tu negocio.
                    </p>
                    <p>
                        <span class="punto-shopper">•</span>Entienda el comportamiento de compra del
                        consumidor, su consumo y su uso.
                    </p>
                    <p>
                        <span class="punto-shopper">•</span>La omnicanalidad no solo es en el mundo digital.
                        Canales digitales + Físicos = Omnichannel
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
                <div>
                    <img src="~/images/omarketing shopper-25.png" class="img-responsive img-primera-s">
                </div>
            </div>
            <div class="col-md-3 col-lg-3 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing shopper-26.png" class="img-responsive" style="margin-top:-230px;">
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div>
                    <img src="~/images/omarketing shopper-28.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 col-lg-4 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing shopper-27.png" class="img-responsive" style="margin-top:-190px;">
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 class="encab-general">SHOWEB</h1>
            </div>
        </div>
        <!--SHOWEB-->
        <div class="row" id="Sho">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <div>
                        <p>
                            ShoWeb te permitirá integrar tus tiendas
                            físicas con tu tienda online, con el único
                            objetivo de aumentar las ventas y darle al
                            cliente un servicio <span style="color: #40c4ff;">“omnichannel”</span>
                        </p>
                        <br />
                        <p>
                            ShoWeb nace de la unificación del
                            Showrooming y el Webrooming.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="shoper-c anim-flor" data-anim="on" data-i="0" data-n="2" style="display:inline-block">
                    <img class="img-responsive shopper-img-1  tamano-shopper anim" src="~/Images/omarketing shopper-32.png" data-i="0" data-h3="titulo 1" data-h3target="#titulo-showeb" data-p="este es el Texto 1" data-ptarget="#texto-showeb"/>
                    <img class="img-responsive shopper-img-3 tamano-shopper" src="~/Images/omarketing shopper-22.png"/>
                    <img class="img-responsive shopper-img-2  tamano-shopper anim" src="~/Images/omarketing shopper-31.png" data-i="1" data-h3="titulo 2" data-h3target="#titulo-showeb" data-p="este es el Texto 2" data-ptarget="#texto-showeb"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                    <span>__</span>
                    <p style="text-align:right">
                        ShoWeb busca reducir el
                        riesgo asociado a la
                        compra.
                    </p>
                </div>
                <br /><br /><br /><br /><br />
                <div class="desarrollo-s" style="text-align:left">
                    <h3 id="titulo-showeb">
                    </h3>
                        <p id="texto-showeb">
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <img src="~/Content/Images/omarketing estrategia2-12.png" class="img-responsive triangulos-trasparentes" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2">
                <img class="img-responsive" src="~/Images/omarketing shopper-35.png">
                <p>
                    de los consumidores creen
                    que pueden encontrar el
                    precio más bajo dentro de
                    la tienda física.
                </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="~/Images/omarketing shopper-36.png">
                <p>
                    prefieren realizar un proceso
                    online para realizar
                    comparaciones.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-lg-offset-6 col-md-offset-6">
                <img class="img-responsive" src="~/Images/omarketing shopper-37.png">
                <p>
                    de los consumidores
                    prefieren compran en
                    tiendas físicas.
                </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="~/Images/omarketing shopper-38.png">
                <p>
                    de los consumidores utilizan
                    su Smartphone mientras
                    visitan las tiendas.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 style="color: #40c4ff;font-weight:bold;display:inline">
                    PARA REALIZAR UN
                </h3>
                <br />
                <h2 style="color: #40c4ff;font-weight:bold;display:inline">
                    WEBROOMING
                </h2>
                <br />
                <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                    EXITOSO
                </h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <p class="p-general">
                    Algunos tips que las marcas deben tener en cuenta para
                    realizar un WebRooming exitoso, permitiéndole y o
                    ofreciendole al consumidor una verdadera experiencia
                    multi-channel, reduciendo el riesgo de compra y haciéndolo
                    saber que nuestra marca siempre será la mejor opción.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <p class="p-general">
                    <span style="color: #40c4ff;">1.</span> Tener una estrategia digital multiplataforma que permita a tus
                    consumidores y o clientes encontrar fácilmente la página en
                    internet, generar un vínculo de atracción a esta, para después
                    lograr llevarlos a las tiendas físicas.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">2.</span> Crear una página web clara, atractiva y coherente, incluso
                      con imágenes de las tiendas físicas.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">3.</span> Generar contenidos relevantes para cada canal e
                    interactuar permanentemente con los consumidores consiguiendo
                    que generen un review de la tienda.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">4.</span> Conocer a profundidad los productos que se comercializan
                     dentro del E-commerce y las tiendas físicas.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">5.</span> Integrar nuevas tecnologías en las tiendas físicas que
                    permitan medir el comportamiento de los clientes y facilitar la
                    compra.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">6.</span> Trackear el customer journey de tus consumidores con el fin
                    de incrementar el ROI.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">7.</span> Crear alineación entre las tiendas físicas y la tienda online,
                    en la que se le permita la cliente vivir una sola experiencia.
                </p>
            </div>
            <br />
            <br />
            <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1">
                <img class="img-responsive img-webrooming" src="~/Images/omarketing shopper-39.png">
            </div>
        </div>
        <!--FIN SHOWEB-->
        <!--mas SHOWEB-->
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <img class="img-responsive" src="~/Images/omarketing shopper-40.png">
            </div>
            <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
                <h3 class="h3-general">El ShoWeb permite a las personas;</h3>
                <p class="p-general">
                    <span style="color: #40c4ff;">1.</span>Generan un tipo de “estatus” (Autoexpresión de marca)
                    Tienda física.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">2.</span>Evitar o reducir los riesgos asociados a la compra por
                    medio de la información. (Online)
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span>  Equivocarse.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Un precio más bajo.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Mejor decisión.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Un mejor producto.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Arrepentirse de la compra.
                </p>
            </div>

        </div>
        <!--fin mas SHOWEB-->
        <!---SHOPPER-->
        
        <br /><br />
        <div class="row" id="shopper-j">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">SHOPPER</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <div>
                        <p>El entendimiento del Shopper va desde lo más general relacionado con la categoría hasta lo más particular. Debemos saber no sólo cómo y cuándo compra las marcas de una categoría, sino también qué otras categorías compra, -categorías complementarias-.</p>
                        <br />
                        <p>¿Cómo interpretan los compradores y articulan las necesidades y los deseos de los consumidores? La precisión y las especiﬁcaciones del "Brief" con el que empieza el comprador nos ayudan a comprender los desafíos que podrían surgir cuando intentamos inﬂuir en su comportamiento.</p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg" style="background-color:#40c4ff;color:white">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="flor-shopper-1 anim-flor" data-anim="on" data-i="0" data-n="3" style="display:inline-block">
                    <img class="img-responsive img43 anim" id="tamano-shopper" src="~/Content/Images/omarketing shopper-43.png" data-i="1" data-h3="titulo 2" data-h3target="#titulo-shopper" data-p="este es el Texto 2 este es el Texto 2 este es el Texto 2" data-ptarget="#texto-shopper">
                    <img class="img-responsive img41 anim" id="tamano-shopper" src="~/Content/Images/omarketing shopper-41.png" data-i="0" data-h3="titulo 1" data-h3target="#titulo-shopper" data-p="este es el Texto 1 este es el Texto 1 este es el Texto 1" data-ptarget="#texto-shopper">
                    <img class="img-responsive img44 anim" id="tamano-shopper" src="~/Content/Images/omarketing shopper-44.png" data-i="2" data-h3="titulo 3" data-h3target="#titulo-shopper" data-p="este es el Texto 3 este es el Texto 3 este es el Texto 3" data-ptarget="#texto-shopper">
                    <img class="img-responsive img18" id="tamano-shopper" src="~/images/omarketing shopper-18.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="shopp-in">
                    <p style="color:#40c4ff;font-weight:bold" id="titulo-shopper"></p>
                    <p style="color:black" id="texto-shopper"></p>
                    <a href="" id="btn-shopper"> <i class="material-icons" style="color:#40c4ff;font-size:35px;float:right">add_circle</i></a>
</div>
            </div>
        </div>

        <!---SHOPPER-->

        <!---mas estrategias-->
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="texto-est-shopper">
                    <h3 style="color: #40c4ff;font-weight:bold;display:inline">
                        Te ayudamos a desarrollar
                    </h3>
                    <br />
                    <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                        ESTRATEGIAS
                    </h1>
                    <br />
                    <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                        CENTRADAS
                    </h1>
                    <br />
                    <h4 style="color: #40c4ff;display:inline;font-weight:bold">
                        EN EL CLIENTE Y EL SHOPPER
                    </h4>
                    <br />
                    <p class="p-general" style="display:inline">
                        a través de un adecuado benchmarking,
                        diseño y procesos de la organización,
                        evaluación de la competencias.
                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5">
               <div class="items">
                   <h4 style="color: #40c4ff;">
                       1. Entendimiento del Shopper por
                       Canal y Segmento de Tiendas.
                   </h4>
                   <p class="p-general">
                       Entendemos el perfil,los hábitos y los comportamientos de comprar por
                       segmento de tienda y canal. Proceso y variables de decisión de compra.
                       Shopper Insights (Onsight®).
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       2. Entendimiento de Ocasiones de Compra.
                   </h4>
                   <p class="p-general">
                       Estudiamos los Días, los horarios, la frecuencia y el volumen de compra
                       por canal. Marcas substitutas y productos complementarios. Formato
                       más vendido por canal. Promociones Efectivas. Asociaciones con
                       ocasiones de consumo.
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       3. Entendimiento de Planes Estratégicos por
                       Canales y Clientes Estratégicos.
                   </h4>
                   <p class="p-general">
                       Identificamos los roles estratégicos por canal para alcanzar los objetivos del cliente
                       e identificamos el rol de la categoría por tipo de cliente
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       4. Excelencia en Ejecución de
                       In Store Marketing.
                   </h4>
                   <p class="p-general">
                       Evaluamos el desempeño y oportunidades de In-Store Marketing,
                       desarrollo de planometría y estándares de ejecución por canal y/o
                       segmentos de clientes. (ShoWeb)
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       5. Plan de Activación de
                       Shoppers por Tipo de Canal.
                   </h4>
                   <p class="p-general">
                       Identificamos promociones, puntos de contacto y piezas de comunicación más efectivas y eficientes por canal
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       6. Modelos de
                       Gerencia de Categoría
                   </h4>
                   <p class="p-general">
                       Realizamos evaluaciones cuantitativas y cualitativas de la situación
                       actual,definición de la categoría y sub-categorías, roles y expectativas.
                       Análisis y/o desarrollo de estudios de hábitos de compra y árboles de
                       decisión del comprador y definición de la estrategia.
                   </p>
               </div>
            </div>
            <br />
            <br />
            <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
                <img class="img-responsive img-webrooming-2" src="~/Images/omarketing shopper-48.png">
            </div>
        </div>
        <!---fin estrategia-->
        <br />
        <!--golden rules-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 style="color: #40c4ff;font-weight:bold;">
                    GOLDEN RULES
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="items">
                    <p class="p-general">
                        <span style="color: #40c4ff;">1.</span>Invertir en disponibilidad “availability al cambiar el
                        comportamiento de los compradores en el consumo
                        planificado o habitual
                    </p>
                    <p class="p-general">
                        <span style="color: #40c4ff;">2.</span>Invertir en la comunicación al cambiar el comportamiento
                            de un comprador tendrá un profundo impacto en el
                            consumo a largo plazo.
                    </p>
                    <br />
                    <p class="p-general">
                        <span style="color: #40c4ff;">3.</span>Invertir en la oferta al cambiar el comportamiento de los
                compradores aumenta el consumo.
                    </p>
                   
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
                <img class="img-responsive" src="~/Images/omarketing shopper-51.png">
            </div>
        </div>

        <!--FIN golden rules-->


        <!--OMARKETING SHOPPER MODEL-->
        <br /><br /><br />
        <div class="row" id="Osm">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-omashop">OMARKETING</h1>
                <br />
                <h1 style="display:inline" id="encab-crecimiento">SHOPPER MODEL</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <div>
                        <p>El modelo Omarketing shopper model te permitirá crear una estrategia centrada en el corazón de tus shopper´s.</p>
                        <br />
                        <p>Hemos creado un “Marketing Mix” para compradores que reﬂeja perfectamente el modelo de 4 Cs de Kotler, con el que se entiende quién es el comprador y cuáles son sus necesidades. Además de esto, nuestro mix de marketing tiene tres elementos principales.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="flor-shopper-1 anim-flor" data-anim="on" data-i="0" data-n="3" style="display:inline-block">
                    <img class="img-responsive img43 anim" id="tamano-shopper" src="~/Content/Images/omarketing shopper-55.png" data-i="1" data-h3="titulo 2" data-h3target="#titulo-osm" data-p="este es el Texto 2" data-ptarget="#texto-osm">
                    <img class="img-responsive img41 anim" id="tamano-shopper" src="~/Content/Images/omarketing shopper-54.png" data-i="0" data-h3="titulo 1" data-h3target="#titulo-osm" data-p="este es el Texto 1" data-ptarget="#texto-osm">
                    <img class="img-responsive img44 anim" id="tamano-shopper" src="~/Content/Images/omarketing shopper-56.png" data-i="2" data-h3="titulo 3" data-h3target="#titulo-osm" data-p="este es el Texto 3" data-ptarget="#texto-osm">
                    <img class="img-responsive img18" id="tamano-shopper" src="~/Content/Images/omarketing shopper-43.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="shopp-in">
                    <p style="color:#40c4ff;font-weight:bold" id="titulo-osm"></p>
                    <p style="color:black" id="texto-osm"></p>
                </div>
            </div>
        </div>
        
        <br /><br />
        <!--FIN OMARKETING SHOPPER MODEL-->
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="cita-crecimiento visible-lg visible-md" style="text-align:left;max-width:400px">
                    <span style="text-align:left">__</span>
                    <p style="text-align:left">
                        Es profundamente importante
                        entender si el comprador es
                        también el consumidor. Es, por
                        supuesto, imposible crear una
                        clara división entre los dos
                        pero muchos “Marketer”
                        asumen que el comprador es
                        también el consumidor y
                        terminan impactando las
                        ventas.
                    </p>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <h2 style="color: #40c4ff;">Shopper Model</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div>
                    <img class="img-responsive" src="~/Images/omarketing shopper-61.png">
                </div>
            </div>
            <br />
            <div class="col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2">
                <div>
                    <img class="img-responsive" src="~/Images/omarketing shopper-60.png">
                </div>
            </div>
        </div>
        <br />

        <!--TIPS SEGMENTACION-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2 style="color: #40c4ff;font-weight:bold;display:inline">
                    TIPS SEGMENTACIÓN
                </h2>
                <br />
                <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                    SHOPPER
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-lg-5">
                <h3 class="h3-general">
                    1. Medible
                </h3>
                <img class="img-responsive" src="~/Images/omarketing shopper-63.png">
                <p class="p-general">
                    la segmentación debe ser identificable utilizando criterios o características 
                    que se pueden medir(a un costo justificable).
                </p>
                <h3 class="h3-general">
                    2. mportante
                </h3>
                <img class="img-responsive" src="~/Images/omarketing shopper-64.png">
                <p class="p-general">
                    el segmento debe ser lo suficientemente grande 
                    como para representar una importante oportunidad 
                    de ventas o beneficios
                </p>
                <h3 class="h3-general">
                    3. Homogéneo
                </h3>
                <img class="img-responsive" src="~/Images/omarketing shopper-65.png">
                <p class="p-general">
                    Todos los miembros de la segmentación deben ser similares en un
                    conjunto claro de criterios.
                </p>
                <h3 class="h3-general">
                    4. Diferenciado
                </h3>
                <img class="img-responsive" src="~/Images/omarketing shopper-66.png">
                <p class="p-general">
                    El segmento debe ser claramente diferente del resto de la población a
                    través de uno o más criterios claros, medibles o características.
                </p>
                <h3 class="h3-general">
                    5. Accionable
                </h3>
                <img class="img-responsive" src="~/Images/omarketing shopper-67.png">
                <p class="p-general">
                    Debe ser posible acercarse a cada segmento con una mezcla de
                    marketing particular y obtener una respuesta positiva o deseable de ella
                    una que es diferente de la respuesta que obtendría de la población en
                    general.
                </p>
            </div>
            <div class="col-md-5 col-lg-5 col-lg-offset-2 col-md-offset-2 visible-lg visible-md">
                <img class="img-responsive" src="~/Images/omarketing shopper-71.png" style="margin-top:100px;height:700px">
            </div>
        </div>
        <!--FIN TIPS SEGMENTACION-->

        <!--Shopper Insights-->
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">           
                <h1 id="encab-crecimiento">SHOPPER INSIGHTS</h1>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 col-xs-12 col-sm-12">
                <div style="text-align:center">
                    <h3 style="color:#40c4ff;font-weight:bold;">Shopper drivers</h3>
                    <p style="color:black">Identiﬁcamos los drivers racionales, emocionales y experimentales en la selección de una marca al momento de tomar una decisión de compra bajo la metodología customer decision journey.</p>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div style="text-align:center">
                    <h3 style="color:#40c4ff;font-weight:bold;">Shopper Journey:</h3>
                    <p style="color:black">Gracias a nuestras metodologías; Shopper journey 360 y el customer decision journey, mapeamos procesos de toma de decisiones y elementos racionales y emocionales tenidos en cuenta en cada una de las fases.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <img src="~/Content/Images/omarketing shopper-69.png" class="img-responsive" style="width:100%" />
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div style="text-align:center">
                    <h3 style="color:#40c4ff;font-weight:bold;">Shopper mind</h3>
                    <p style="color:black">Identiﬁcamos el lugar que ocupan las marcas en la mente del shopepr y las asociaciones frente a las mismas. Desarrollamos mapas de posicionamiento. Identiﬁcamos el Brand Equity. Tanto en el punto de venta como fuera del mismo.</p>
                </div>
            </div>
        </div>

        <!--Fin Shopper Insights-->

        <!--Mystery Shopper-->
        <br /><br /><br />
        <div class="row" id="Ms">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">MYSTERY SHOPPER</h1>
            </div>
        </div>
        <div class="row mystery">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="mystery-text">
                    <p>Todos nuestros podroces de Mystery shopper son analizados por clientes reales “Nos ponemos en los zapatos de tus clientes”.</p>
                    <p>El objetivo de los estudios de Mystery Shopper es ayudar a las marcas a mejorar el servicio a clientes, ofreciendo información de las operaciones y de la calidad del servicio proporcionado.</p>
                    <p>Los estudios Mystery Shopper pueden incluir desde las simples observaciones de punto de venta o servicio focalizándose en aspectos como la señalización, la limpieza, el tiempo de espera y/o respuesta, el estado del equipo, el cumplimiento de las normas de la compañía, entre otras.</p>
                    <p>Estos también pueden extenderse hasta hacer una compra o solicitud de servicio cuando el evaluador actúa como si fuera un cliente actual o potencial. A los cuales se les encomienda</p>
                </div>
                <div>
                    <button type="submit" class="btn btn-lg" style="background-color:#40c4ff;color:white">Ver más</button>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-xs-12 col-sm-12">
                        <div style="text-align:left">
                            <h3 style="color:#40c4ff;font-weight:bold;">Shopper experience</h3>
                            <p style="color:black">Consiste en que los usuarios vean los productos dentro del marketing On y realicen la compra dentro del Marketing Off, es decir que los consumidores buscan los productos online (E-commerce – Páginas web) y después los adquieren en las tiendas físicas (Retails).</p>
                            <a href="#SE"><i class="material-icons" style="color:#40c4ff;font-size:35px;float:right">add_circle</i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-12">
                        <img src="~/Content/Images/omarketing shopper-68.png" class="img-responsive" style="width:400px;float:left" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-md-offset-2 col-lg-offset-2 col-xs-12 col-sm-12">
                        <div style="text-align:left" class="shopp-mark">
                            <h3 style="color:#40c4ff;font-weight:bold;">Shopper market</h3>
                            <p style="color:black">Consiste en que los usuarios vean los productos dentro del marketing On y realicen la compra dentro del Marketing Off, es decir que los consumidores buscan</p>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin Mystery Shopper-->

        <!--Asi trabajamos-->
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-12">
                <h1 style="color:#40c4ff;font-weight:bold;text-align:center">Así trabajamos</h1>
            </div>
        </div>
        <br /><br />
        <div class="row trabajamos">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div style="text-align:center;max-width:300px">
                    <img src="~/Content/Images/omarketing shopper-77.png" class="img-responsive img-trabajamos"/>
                    <h2 style="color:#40c4ff;">Planeación</h2>
                    <p style="color:black">Conoceremos tu negocio y trabajaremos contigo en un plan de compras, lo llamamos La Hoja de Ruta, porque la destilamos en un plan y una línea de tiempo específicos.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12">
                <div class="text-trabajamos" style="text-align:center;max-width:300px">
                    <img src="~/Content/Images/omarketing shopper-76.png" class="img-responsive img-trabajamos" />
                    <h2 style="color:#40c4ff;">Agenda</h2>
                    <p style="color:black">Los planificadores de Omarketing trabajan para asegurarse de que realizan las tareas específicas que le interesan, como comprar y devolver artículos, tomar una prueba de manejo, abrir una cuenta de cheques</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12">
                <div class="text-trabajamos" style="text-align:center;max-width:300px">
                    <img src="~/Content/Images/omarketing shopper-75.png" class="img-responsive img-trabajamos" />
                    <h2 style="color:#40c4ff;">Evaluar</h2>
                    <p style="color:black">Después de visitar tus tienda(s), llamar a tu línea de servicio al cliente, o usar tu sitio web, los compradores completan el cuestionario que especifícamente para su proyecto.</p>
                </div>
            </div>
        </div>
        <div class="row trabajamos2">
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="text-trabajamos" style="text-align:center;max-width:300px">
                    <img src="~/Content/Images/omarketing shopper-74.png" class="img-responsive img-trabajamos" />
                    <h2 style="color:#40c4ff;">Analizar</h2>
                    <p style="color:black">Compilamos y analizamos todos los datos de las evaluaciones con el fin de presentar una mirada honesta y en profundidad a tu negocio a través de los ojos de tus clientes, junto con recomendación</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12">
                <div class="text-trabajamos" style="text-align:center;max-width:300px">
                    <img src="~/Content/Images/omarketing shopper-73.png" class="img-responsive img-trabajamos" />
                    <h2 style="color:#40c4ff;">Cambiar</h2>
                    <p style="color:black">Te guiamos sobre cómo tomar las experiencias reales que hemos reportado, e integrarlo dentro de tu experiencia general con el cliente y estrategias operacionales.</p>
                    <p style="color:black">El nuevo conocimiento de las áreas problemáticas le ayudará a crear</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12">
                <div class="text-trabajamos" style="text-align:center;max-width:300px">
                    <img src="~/Content/Images/omarketing shopper-72.png" class="img-responsive img-trabajamos" />
                    <h2 style="color:#40c4ff;">Repetir</h2>
                    <p style="color:black">No nos detenemos allí. Sabemos que llevar tu negocio de bueno a excelente significa crear una cultura de mejora constante. Trabajaremos con contigo para crear un cronograma de.</p>
                </div>
            </div>
        </div>
        <!--Fin Asi trabajamos-->

        <!--Shopper Market-->
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h1 style="color:#40c4ff;font-weight:bold;float:left">Shopper market</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <p style="color:black">Por medio de mystery shopper market, evaluamos tu marca con respecto a tu competencia.</p>
                <p style="color:black">Omarketing te permitirá conocer profundamente las necesidades, comportamientos y hábitos de compra de tu Shopper.</p>               
                <p style="color:black">Por medio del mystery shopper market, evaluamos tu marca con respecto a tu competencia con el único propósito de aumentar las ventas.</p>
                <br />
                <p class="p-general">
                    <span style="color: #40c4ff;font-size:20px;">•</span>  Encontramos que ofrecen sobre tus productos y cómo lo hacen.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;font-size:20px;">•</span>  Identiﬁcamos cual es la primera marca ofrecida y o recomendada.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;font-size:20px;">•</span> Determinamos los argumentos de venta de tu marca y de la competencia.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;font-size:20px;">•</span> Contemplamos la garantía. 
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;font-size:20px;">•</span> Plasmamos las diferencias encontradas entre los perﬁles establecidos de manera multicanal.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                        <img src="~/Content/Images/omarketing shopper-78.png" class="img-responsive" style="float:left"/>
                    </div>
                </div>         
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md">
                    <div class="cita-crecimiento visible-lg visible-md" style="max-width:500px; text-align:right;float:right;margin-top:10%">
                        <span>__</span>
                        <p style="text-align:right">
                            Realizamos una investigación “omnichannel” logrando identificar los tipos de influencia o factores que influyen al momento de cotizar, negociar y comprar un producto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin Shopper Market-->

        <!--Shopper experience-->
        <br />
        <div class="row" id="SE">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h1 style="color:#40c4ff;font-weight:bold;float:left">Shopper experience</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <p style="color:black">Analizamos tus ventas y recompras perdidas, una investigación de la satisfacción del cliente no puede ser una solución "general".</p>
                <p style="color:black">¿Conoces cuáles son los atributos de la experiencia del cliente ofrecidos por tu empresa y o marcas? ¿Que pueden determinar la insatisfacción o la satisfacción de tu cliente o cliente potencial?</p>
                <p style="color:black">La experiencia del cliente nos permite llevar a cabo un análisis exhaustivo de las relaciones de impacto que este tiene con todas las áreas dentro de tu organización, puedes estar haciendo un excelente trabajo desde tu escritorio pero en los puntos de contacto esta experiencia que has construido se pierde.</p>
                <p style="color:black">Nuestra solución Mystery Shopper Experience utiliza procedimientos estadísticos con el ﬁn de construir un plan de acción permitiendo ofrecer una verdadera experiencia a tus clientes.</p>
                <img src="~/Content/Images/omarketing shopper-34.png" class="img-responsive visible-lg visible-md" style="float:left" />
            </div>
            <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                        <img src="~/Content/Images/omarketing shopper-79.png" class="img-responsive" style="float:left" />
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 visible-lg visible-md">
                    <div class="cita-crecimiento visible-lg visible-md" style="max-width:500px; text-align:right;float:right;margin-top:10%">
                        <span style="display:inline-block;font-weight: bold;color: black;">__</span>
                        <p style="text-align:right;">
                            Cada negocio es diferente, incluso los de la misma industria.
                        </p>
                        <p style="text-align:right;position: relative;font-size: 30px;font-weight: bold;color: #40c4ff; margin-top:-2%">
                            Es por eso que nos centramos en la flexibilidad y la creatividad cuando diseñamos e implementamos programas de compras misteriosas.
                        </p>
                    </div>
                    <img src="~/Content/Images/omarketing shopper-80.png" class="img-responsive" style="float: right; width: 430px;"/>
                </div>
            </div>
        </div>
        <!--Fin Shopper experience-->

        <!--Objetivos Mystery shopper-->
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h1 style="color:#40c4ff;font-weight:bold;display:inline">Objetivos</h1>
                <br />
                <h1 style="color:#40c4ff;font-weight:bold;display:inline">Mystery Shopper</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <p style="color:#40c4ff">1. Estudiar y entender a la competencia</p>
                    <p style="color:black">Al igual que nuestros clientes nos pueden dar información muy valiosa, los competidores también. Estudia a tu competencia para comparar y mejorar tu posición en el mercado.</p>
                </div>
                <br />
                <div>
                    <p style="color:#40c4ff">2. Estimular el crecimiento corporativo</p>
                    <p style="color:black">Todas las técnicas orientadas a mejorar el servicio, la imagen y la satisfacción de tus clientes, conducen a conseguir mejorar el crecimiento de tu imagen corporativa.</p>
                </div>
                <br />
                <div>
                    <p style="color:#40c4ff">3. Aumentar las ventas y el beneﬁcio</p>
                    <p style="color:black">Una reputación positiva es determinante en la consecución de exitosos. Estar en el momento con el producto y precio correcto te permitirá incrementar tus ventas.</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
                <img src="~/Content/Images/omarketing shopper-81.png" class="img-responsive img81" />
                <img src="~/Content/Images/omarketing shopper-82.png" class="img-responsive img-lineas82 visible-lg" />
            </div>
        </div>
        <!--Fin Objetivos Mystery shopper-->
        <br /><br />

        <!--SHOPPER JOURNEY 360-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">MYSTERY SHOPPER</h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div>
                    <h4 style="color:#40c4ff;font-weight:bold">
                        El Nuevo Shopper Journey
                    </h4>
                    <p class="p-general">
                       <span style="color:#40c4ff;font-weight:bold">1.</span>Hiperconectado.
                    </p>
                    <p class="p-general">
                        <span style="color:#40c4ff;font-weight:bold">2.</span>Dominan la tecnología.
                    </p>
                    <p class="p-general">
                        <span style="color:#40c4ff;font-weight:bold">3.</span>Convive con multiplataformas.
                    </p>
                    <p class="p-general">
                        <span style="color:#40c4ff;font-weight:bold">4.</span>Es influenciado por las redes sociales.
                    </p>
                    <p class="p-general">
                        <span style="color:#40c4ff;font-weight:bold">5.</span>Interpreta y busca información relevante.
                    </p>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div>
                    <img src="~/Images/omarketing shopper-83.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <img src="~/Images/omarketing estrategia3-05.png" class="img-responsive visible-lg visible-md" style="position:absolute;width:600px"/>
                <img src="~/Images/omarketing estrategia3-05.png" class="img-responsive visible-lg visible-md" style="position:absolute;right:0px;top:500px;width:600px" />
                <center>
                    <div>
                        <h4 style="color:black;font-weight:bold">
                            1. ¿Sabes con qué <span style="color:#40c4ff;font-weight:bold">misión de compra</span> llegan tus clientes?
                        </h4>
                        <br />
                        <img src="~/Images/omarketing shopper-84.png" class="img-responsive" />
                    </div>
                </center>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                    <div>
                        <h4 style="color:black;font-weight:bold">
                            2. ¿Sabes <span style="color:#40c4ff;font-weight:bold">de dónde viene</span> y a <span style="color:#40c4ff;font-weight:bold">dónde va</span>?
                        </h4>
                        <br />
                        <img src="~/Images/omarketing shopper-85.png" class="img-responsive" />
                    </div>
                </center>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                    <div>
                        <h4 style="color:black;font-weight:bold">
                            3. ¿Sabes <span style="color:#40c4ff;font-weight:bold">cómo te comparan</span>con tus <span style="color:#40c4ff;font-weight:bold">competidores</span>?
                        </h4>
                        <br />
                        <img src="~/Images/omarketing shopper-86.png" class="img-responsive" />
                    </div>
                </center>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                    <div>
                        <h4 style="color:black;font-weight:bold">
                            4. ¿Sabes <span style="color:#40c4ff;font-weight:bold">quién es</span> y<span style="color:#40c4ff;font-weight:bold">dónde compra</span>?
                        </h4>
                        <br />
                        <img src="~/Images/omarketing shopper-87.png" class="img-responsive" />
                    </div>
                </center>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <center>
                    <div>
                        <h4 style="color:black;font-weight:bold">
                            5. ¿Sabes <span style="color:#40c4ff;font-weight:bold">cuáles son </span>sus <span style="color:#40c4ff;font-weight:bold">motivadores de compra</span>?
                        </h4>
                        <br />
                        <img src="~/Images/omarketing shopper-88.png" class="img-responsive" />
                    </div>
                </center>
            </div>
        </div>
        <!--FIN SHOPPER JOURNEY 360-->
        <br /><br /><br /><br />
        <!--SHOPPER APP-->
        <div class="row" id="Sa">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 id="encab-crecimiento">SHOPPER APP</h1>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <img src="~/Images/omarketing estrategia3-05.png" class="img-responsive visible-lg visible-md" style="position:absolute;top:-30px;width:600px" />
                    <h2 class="p-general"  style="text-align:center">
                        Ahora comprar será más fácil y divertido.
                    </h2>
                    <br />
                <center>
                    <div class="contenido-ultimo-shopper">
                        <h2 class="p-general" style="text-align:center">
                            La misión del <span style="color:#40c4ff;font-weight:bold">#shopper</span> es complacer al
                            consumidor
                        </h2>
                    </div>
                </center>

                    <br />
                <center><img src="~/Images/omarketing shopper-89.png" class="img-responsive" /></center> 
                    <br />
                <center>
                    <div class="contenido-ultimo-shopper">
                        <h3 class="p-general" style="text-align:center">
                            Shopper app, la primera aplicación que conecta las tiendas
                            virtuales (E- commerce) con las tiendas físicas (Retails) ayudando al
                            consumidor a mejorar su experiencia y decisión de compra, por
                            medio de compras eficientes.
                        </h3>
                    </div>
                </center>
                <br />
                <img src="~/Images/omarketing shopper-90.png" class="img-responsive" />
                <br /><br />
                <center><img src="~/Images/omarketing shopper-91.png" class="img-responsive" /></center>
            </div>

        </div>
        <!--FIN SHOPPER APP-->
    </div>
</div>
