<br />
<br />
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                <i class="material-icons" style="color:white;font-size:35px;background:#b1ff58;border-radius:50%;">chevron_left</i>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                <div class="content-iconos">
                    <img src="~/Content/Images/s_innovacion.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_neuromarketing.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_cmr.png" align="middle" class="iconos-estrategia">
                    <img src="~/images/ico-logo.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/omarketing shopper-24.png" align="middle"style="width:57px;margin-top:0.5%;">
                    <img src="~/Content/Images/s_marketing_mix.png" align="middle" class="iconos-estrategia">
                    <img src="~/Content/Images/s_estrategia.png" align="middle" class="iconos-estrategia">
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2">
                <div style="float:right">
                    <i class="material-icons" style="color:white;font-size:35px;background:#7b4dff;border-radius:50%;">chevron_right</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div>
                    <h1 style="color:#40c4ff">Shopper</h1>
                    <p class="color-est">
                        La misión del Shopper es satisfacer al consumidor. EL Shopper Marketing permite conocer profundamente las necesidades, comportamientos y hábitos de compra del Shopper, y nos revela información, que al ser cruzada con los hábitos y ocasiones de consumo, nos permite detectar las oportunidades (Insights) y diseñar acertadas iniciativas (Marketing Mix) para incrementar nuestras ventas.
                    </p>
                    <br />
                    <p class="color-est">La comprensión y la oferta enfocada a la misión del SHOPPER se ha convertido en la clave de las VENTAS. Si sabemos porque el comprador está en la tienda y lo que podría querer para complacer al consumidor, entonces podríamos fácilmente incrementar las ventas.</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                <div class="flor-shopper" style="display:inline-block;">
                    <img src="~/Content/Images/omarketing shopper-22.png" class="img-responsive img-flor-1 grayest" id="imag-shopper-6" />
                    <img src="~/Content/Images/omarketing shopper-10.png" class="img-responsive img-flor-1" id="imag-shopper-1" />
                    <img src="~/Content/Images/omarketing shopper-17.png" class="img-responsive img-flor-1 grayest" id="imag-shopper-5" />
                    <img src="~/Content/Images/omarketing shopper-21.png" class="img-responsive img-flor-1 grayest" id="imag-shopper-7" />
                    <img src="~/Content/Images/omarketing shopper-20.png" class="img-responsive img-flor-1 grayest" id="imag-shopper-2" />
                    <img src="~/Content/Images/omarketing shopper-18.png" class="img-responsive img-flor-1 grayest" id="imag-shopper-3" />
                    <img src="~/Content/Images/omarketing shopper-19.png" class="img-responsive img-flor-1 grayest" id="imag-shopper-4" />

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                <div class="visible-lg visible-md">
                    <img src="~/images/omarketing estrategia1-12.png" class="img-responsive" />
                </div>
                <div>
                    <h1 style="color:#40c4ff">Shopper app</h1>
                    <p class="color-est">Shopper app, la primera aplicación que conecta las tiendas virtuales (E-commerce) con las tiendas físicas (Retails) ayudando al consumidor a mejorar su experiencia y decisión de compra, por medio de compras eﬁcientes.</p>
                    <i class="material-icons" style="color:#40c4ff;font-size:35px;float:right">add_circle</i>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-6 col-xs-6 col-sm-offset-6 col-xs-offset-6">
                <a href="#ver-mas"><span class="glyphicon glyphicon-chevron-down" id="mostrar" style="color:#40c4ff;font-size:30px;cursor:pointer"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="content-mix">
    <div class="container">
        <br />
        <br />
        <div class="iconos" style="width:100%;height:1px;background-color:white"></div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-lg-offset-4 col-md-offset-4 visible-lg visible-md">
                <div class="menu-estrategia iconos-nav" style="margin-left:-16px">
                    <img src="~/images/omarketing shopper-21.png" id="imgflor2" align="middle" style="width:60px">
                    <img src="~/images/omarketing shopper-20.png" id="imgflor7" align="middle" style="width:60px">
                    <img src="~/images/omarketing shopper-19.png" id="imgflor6" align="middle" style="width:60px">
                    <img src="~/images/omarketing shopper-24.png" align="middle" style="width:50px">
                    <img src="~/images/omarketing shopper-22.png" id="imgflor5" align="middle" style="width:60px">
                    <img src="~/images/omarketing shopper-17.png" id="imgflor3" align="middle" style="width:60px">
                    <img src="~/images/omarketing shopper-18.png" id="imgflor4" align="middle" style="width:60px">
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                    <h1 class="encab-general">SHOPPER MARKETING</h1>
                </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="texto-shopper-trade">
                    <p>
                        El nuevo <span>SHOPPER JOURNEY</span>  y la
                        <span>OMNIPRESENCIA</span> juegan un papel muy importante
                        en el desarrollo de las estrategias de <span>TRADE
                        MARKETING o SHOPPER MARKETING.</span>
                    </p>
                    <p>
                        Nuestras soluciones de Insights le brindarán esta
                        información, teniendo en cuenta las necesidades
                        específicas y actuales.
                    </p>
                    <p>
                        <span class="punto-shopper">•</span>Incorpora insights de comprador y consumidor
                        en todas las decisiones clave para tu negocio.
                    </p>
                    <p>
                        <span class="punto-shopper">•</span>Entienda el comportamiento de compra del
                        consumidor, su consumo y su uso.
                    </p>
                    <p>
                        <span class="punto-shopper">•</span>La omnicanalidad no solo es en el mundo digital.
                        Canales digitales + Físicos = Omnichannel
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
                <div>
                    <img src="~/images/omarketing shopper-25.png" class="img-responsive img-primera-s">
                </div>
            </div>
            <div class="col-md-3 col-lg-3 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing shopper-26.png" class="img-responsive" style="margin-top:-230px;">
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div>
                    <img src="~/images/omarketing shopper-28.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 col-lg-4 visible-lg visible-md">
                <div>
                    <img src="~/images/omarketing shopper-27.png" class="img-responsive" style="margin-top:-190px;">
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="text-align:left">
                <h1 class="encab-general">SHOWEB</h1>
            </div>
        </div>
        <!--SHOWEB-->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="crecimiento">
                    <div>
                        <p>
                            ShoWeb te permitirá integrar tus tiendas
                            físicas con tu tienda online, con el único
                            objetivo de aumentar las ventas y darle al
                            cliente un servicio <span style="color: #40c4ff;">“omnichannel”</span>
                        </p>
                        <br />
                        <p>
                            ShoWeb nace de la unificación del
                            Showrooming y el Webrooming.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="shoper-c" style="display:inline-block">
                    <img class="img-responsive shopper-img-1 tamano-shopper grayins" src="~/Images/omarketing shopper-32.png">
                    <img class="img-responsive shopper-img-3 tamano-shopper" src="~/Images/omarketing shopper-22.png">
                    <img class="img-responsive shopper-img-2 grayins tamano-shopper"  src="~/Images/omarketing shopper-31.png">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <br />
                <div class="cita-crecimiento visible-lg visible-md" style="max-width:350px; text-align:right">
                    <span>__</span>
                    <p style="text-align:right">
                        ShoWeb busca reducir el
                        riesgo asociado a la
                        compra.
                    </p>
                </div>
                <br /><br /><br /><br /><br />
                <div class="desarrollo-s" style="text-align:left">
                    <h3>
                        WebRooming
                    </h3>
                        <p>
                            Consiste en que los usuarios vean los
                            productos dentro del marketing On y
                            realicen la compra dentro del Marketing
                            Off, es decir que los consumidores buscan
                            los productos online (E-commerce –
                            Páginas web) y después los adquieren en
                            las tiendas físicas (Retails).
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 visible-lg visible-md">
                <img src="~/Content/Images/omarketing estrategia2-12.png" class="img-responsive triangulos-trasparentes" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-lg-offset-2 col-md-offset-2">
                <img class="img-responsive" src="~/Images/omarketing shopper-35.png">
                <p>
                    de los consumidores creen
                    que pueden encontrar el
                    precio más bajo dentro de
                    la tienda física.
                </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="~/Images/omarketing shopper-36.png">
                <p>
                    prefieren realizar un proceso
                    online para realizar
                    comparaciones.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-lg-offset-6 col-md-offset-6">
                <img class="img-responsive" src="~/Images/omarketing shopper-37.png">
                <p>
                    de los consumidores
                    prefieren compran en
                    tiendas físicas.
                </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="~/Images/omarketing shopper-38.png">
                <p>
                    de los consumidores utilizan
                    su Smartphone mientras
                    visitan las tiendas.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 style="color: #40c4ff;font-weight:bold;display:inline">
                    PARA REALIZAR UN
                </h3>
                <br />
                <h2 style="color: #40c4ff;font-weight:bold;display:inline">
                    WEBROOMING
                </h2>
                <br />
                <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                    EXITOSO
                </h1>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <p class="p-general">
                    Algunos tips que las marcas deben tener en cuenta para
                    realizar un WebRooming exitoso, permitiéndole y o
                    ofreciendole al consumidor una verdadera experiencia
                    multi-channel, reduciendo el riesgo de compra y haciéndolo
                    saber que nuestra marca siempre será la mejor opción.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <p class="p-general">
                    <span style="color: #40c4ff;">1.</span> Tener una estrategia digital multiplataforma que permita a tus
                    consumidores y o clientes encontrar fácilmente la página en
                    internet, generar un vínculo de atracción a esta, para después
                    lograr llevarlos a las tiendas físicas.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">2.</span> Crear una página web clara, atractiva y coherente, incluso
                      con imágenes de las tiendas físicas.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">3.</span> Generar contenidos relevantes para cada canal e
                    interactuar permanentemente con los consumidores consiguiendo
                    que generen un review de la tienda.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">4.</span> Conocer a profundidad los productos que se comercializan
                     dentro del E-commerce y las tiendas físicas.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">5.</span> Integrar nuevas tecnologías en las tiendas físicas que
                    permitan medir el comportamiento de los clientes y facilitar la
                    compra.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">6.</span> Trackear el customer journey de tus consumidores con el fin
                    de incrementar el ROI.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">7.</span> Crear alineación entre las tiendas físicas y la tienda online,
                    en la que se le permita la cliente vivir una sola experiencia.
                </p>
            </div>
            <br />
            <br />
            <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1">
                <img class="img-responsive img-webrooming" src="~/Images/omarketing shopper-39.png">
            </div>
        </div>
        <!--FIN SHOWEB-->
        <!--mas SHOWEB-->
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <img class="img-responsive" src="~/Images/omarketing shopper-40.png">
            </div>
            <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
                <h3 class="h3-general">El ShoWeb permite a las personas;</h3>
                <p class="p-general">
                    <span style="color: #40c4ff;">1.</span>Generan un tipo de “estatus” (Autoexpresión de marca)
                    Tienda física.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">2.</span>Evitar o reducir los riesgos asociados a la compra por
                    medio de la información. (Online)
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span>  Equivocarse.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Un precio más bajo.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Mejor decisión.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Un mejor producto.
                </p>
                <p class="p-general">
                    <span style="color: #40c4ff;">•</span> Arrepentirse de la compra.
                </p>
            </div>

        </div>
        <!--fin mas SHOWEB-->
        <!---SHOPPER-->
        <div class="row">

        </div>
        <!---SHOPPER-->

        <!---mas estrategias-->
        <br /><br /><br />
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="texto-est-shopper">
                    <h3 style="color: #40c4ff;font-weight:bold;display:inline">
                        Te ayudamos a desarrollar
                    </h3>
                    <br />
                    <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                        ESTRATEGIAS
                    </h1>
                    <br />
                    <h1 style="color: #40c4ff;font-weight:bold;display:inline">
                        CENTRADAS
                    </h1>
                    <br />
                    <h4 style="color: #40c4ff;display:inline;font-weight:bold">
                        EN EL CLIENTE Y EL SHOPPER
                    </h4>
                    <br />
                    <p class="p-general" style="display:inline">
                        a través de un adecuado benchmarking,
                        diseño y procesos de la organización,
                        evaluación de la competencias.
                    </p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5">
               <div class="items">
                   <h4 style="color: #40c4ff;">
                       1. Entendimiento del Shopper por
                       Canal y Segmento de Tiendas.
                   </h4>
                   <p class="p-general">
                       Entendemos el perfil,los hábitos y los comportamientos de comprar por
                       segmento de tienda y canal. Proceso y variables de decisión de compra.
                       Shopper Insights (Onsight®).
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       2. Entendimiento de Ocasiones de Compra.
                   </h4>
                   <p class="p-general">
                       Estudiamos los Días, los horarios, la frecuencia y el volumen de compra
                       por canal. Marcas substitutas y productos complementarios. Formato
                       más vendido por canal. Promociones Efectivas. Asociaciones con
                       ocasiones de consumo.
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       3. Entendimiento de Planes Estratégicos por
                       Canales y Clientes Estratégicos.
                   </h4>
                   <p class="p-general">
                       Identificamos los roles estratégicos por canal para alcanzar los objetivos del cliente
                       e identificamos el rol de la categoría por tipo de cliente
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       4. Excelencia en Ejecución de
                       In Store Marketing.
                   </h4>
                   <p class="p-general">
                       Evaluamos el desempeño y oportunidades de In-Store Marketing,
                       desarrollo de planometría y estándares de ejecución por canal y/o
                       segmentos de clientes. (ShoWeb)
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       5. Plan de Activación de
                       Shoppers por Tipo de Canal.
                   </h4>
                   <p class="p-general">
                       Identificamos promociones, puntos de contacto y piezas de comunicación más efectivas y eficientes por canal
                   </p>
                   <br />
                   <h4 style="color: #40c4ff;">
                       6. Modelos de
                       Gerencia de Categoría
                   </h4>
                   <p class="p-general">
                       Realizamos evaluaciones cuantitativas y cualitativas de la situación
                       actual,definición de la categoría y sub-categorías, roles y expectativas.
                       Análisis y/o desarrollo de estudios de hábitos de compra y árboles de
                       decisión del comprador y definición de la estrategia.
                   </p>
               </div>
            </div>
            <br />
            <br />
            <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
                <img class="img-responsive img-webrooming-2" src="~/Images/omarketing shopper-48.png">
            </div>
        </div>
        <!---fin estrategia-->
        <br />
        <!--golden rules-->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1 style="color: #40c4ff;font-weight:bold;">
                    GOLDEN RULES
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="items">
                    <p class="p-general">
                        <span style="color: #40c4ff;">1.</span>Invertir en disponibilidad “availability al cambiar el
                        comportamiento de los compradores en el consumo
                        planificado o habitual
                    </p>
                    <p class="p-general">
                        <span style="color: #40c4ff;">2.</span>Invertir en la comunicación al cambiar el comportamiento
                            de un comprador tendrá un profundo impacto en el
                            consumo a largo plazo.
                    </p>
                    <br />
                    <p class="p-general">
                        <span style="color: #40c4ff;">3.</span>Invertir en la oferta al cambiar el comportamiento de los
                compradores aumenta el consumo.
                    </p>
                   
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-5 col-md-5 col-md-offset-1 col-lg-offset-1">
                <img class="img-responsive" src="~/Images/omarketing shopper-51.png">
            </div>
        </div>

        <!--FIN golden rules-->
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="cita-crecimiento visible-lg visible-md" style="text-align:left;max-width:400px">
                    <span style="text-align:left">__</span>
                    <p style="text-align:left">
                        Es profundamente importante
                        entender si el comprador es
                        también el consumidor. Es, por
                        supuesto, imposible crear una
                        clara división entre los dos
                        pero muchos “Marketer”
                        asumen que el comprador es
                        también el consumidor y
                        terminan impactando las
                        ventas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
